{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
	"{{{ .Package }}}/app/lib/mcpserver"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type MCPList struct {
  layout.Basic
  Server *mcpserver.Server
} %}

{% func (p *MCPList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`chart`, ps) %} Model Context Protocol</h3>
    <div class="mt">You can register {%s util.AppName %} as a Model Context Protocol server using the command line or HTTP.</div>
    <div class="mt">
      <ul class="accordion">
        <li>
          <input id="accordion-cli" type="checkbox" hidden="hidden" />
          <label for="accordion-cli">{%= components.ExpandCollapse(3, ps) %} Command Line</label>
          <div class="bd"><div><div>
            Register {%s util.AppName %} as a command line MCP server by calling this app using the command line as <code>{%s util.AppKey %} mcp</code>.
            <div class="mt">{%s= cutil.FormatLangIgnoreErrors(mcpserver.UsageCLI(), "json") %}</div>
          </div></div></div>
        </li>
        <li>
          <input id="accordion-http" type="checkbox" hidden="hidden" />
          <label for="accordion-http">{%= components.ExpandCollapse(3, ps) %} Streamable HTTP</label>
          <div class="bd"><div><div>
            Register {%s util.AppName %} as an HTTP MCP server by sending a POST to <code>/mcp</code>.
            <div class="mt">{%s= cutil.FormatLangIgnoreErrors(mcpserver.UsageHTTP(), "json") %}</div>
            </div>
          </div></div></div>
        </li>
      </ul>
    </div>
  </div>
  {%= listResources(p.Server.Resources, ps) %}
  {%= listTools(p.Server.Tools, ps) %}
  {%= listPrompts(p.Server.Prompts, ps) %}
{% endfunc %}
