{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/system"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type SystemStatus struct {
  layout.Basic
  Status *system.Status
} %}

{% func (p *SystemStatus) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`desktop`, ps) %}System Status</h3>
    <div class="mt">{%= components.JSON(p.Status) %}</div>
  </div>
{% endfunc %}
