{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
	"projectforge.dev/projectforge/app/lib/mcpserver"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/edit"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type ToolDetail struct {
  layout.Basic
  Server *mcpserver.Server
  Tool *mcpserver.Tool
  Args util.ValueMap
  Result string
} %}

{% func (p *ToolDetail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(p.Tool.IconSafe(), ps) %} {%s p.Tool.Name %}</h3>
    <em>{%s p.Tool.Description %}</em>
    <div class="mt">{%= edit.TableEditor("args", p.Tool.Args, p.Args, "/mcp/tool/" + p.Tool.Name, "post", "Run") %}</div>
  </div>
  {%- if p.Result != "" -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`file`, ps) %} Result</h3>
    <div class="mt">{%= components.JSON([]byte(p.Result)) %}</div>
  </div>
  {%- endif -%}
{% endfunc %}

{% func listTools(ts mcpserver.Tools, ps *cutil.PageState) %}
  {%- for _, t := range ts -%}
  <a class="link-section" href="/mcp/tool/{%s t.Name %}">
    <div class="card">
      <div class="right"><em>tool</em></div>
      <div class="left mrs">{%= components.SVGRef(t.IconSafe(), 40, 40, "", ps) %}</div>
      <strong class="highlight">{%s t.Name %}</strong>
      <div><em>{%s t.Description %}</em></div>
    </div>
  </a>
  {%- endfor -%}
{% endfunc %}
