{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/project/action"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vproject"
) %}

{% code type List struct {
  layout.Basic
  Project *project.Project
  Keys []string
  Contents map[string]string
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  {%= vproject.Summary(p.Project, "SVG", nil, &action.TypeSVG, nil, ps) %}
  <div class="card">
    <h3>SVG icons</h3>
    <div class="mt">
      <a href="/svg/{%s p.Project.Key %}/x/build" title="Writes [svg.go], containing the contents of all SVGs"><button>Rebuild</button></a>
      <a href="/svg/{%s p.Project.Key %}/x/refreshapp" title="Rewrites the application icon and all exported forms"><button>Refresh App Icon</button></a>
    </div>
  </div>
  <div class="card">
    <div class="right"><a href="#modal-icon"><button>{%= components.SVGButton("edit", ps) %}</button></a></div>
    <h3>Add a new icon</h3>
    <p>
      To add an icon to your application, enter a key from {%= view.URL("https://icons8.com/line-awesome", "Line Awesome", true, ps) %}.
      Instead of an icon key, you may also provide a URL to any SVG.
      The SVG will be rewritten with attribution.
    </p>
    <form action="/svg/{%s p.Project.Key %}/x/add" method="get">
      <div class="overflow full-width">
        <table>
          <tbody>
            <tr>
              <th class="shrink"><label for="input-src">Source Key</label></th>
              <td><input id="input-src" name="src" value="" /></td>
            </tr>
            <tr>
              <th class="shrink"><label for="input-tgt">Target Key</label></th>
              <td><input id="input-tgt" name="tgt" value="" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt">
        <button type="submit">Add/Update SVG</button>
      </div>
    </form>
  </div>
  <div class="card">
    <h3>Current Icons</h3>
    <div class="flex-wrap">
      {%- for _, k := range p.Keys -%}
      <div class="icon-container">
        <a href="/svg/{%s p.Project.Key %}/{%s k %}" title="{%s k %}">
          <div>{%s= strings.ReplaceAll(p.Contents[k], "svg-" + k, "svg-" + k + "_adhoc") %}</div>
          {%- code x, y := util.StringCut(k, '@', true) -%}
          {%- if y == "" -%}
          <div class="title">{%s k %}</div>
          {%- else -%}
          <div>{%s x %}</div>
          <em style="font-size: 75%;">{%s y %}</em>
          {%- endif -%}
        </a>
      </div>
      {%- endfor -%}
    </div>
  </div>
  <div id="modal-icon" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>SVG Import</h2>
      </div>
      <div class="modal-body">
        <div class="mt expanded">
          <form action="" method="post">
            <textarea name="content" placeholder="Paste an SVG element to bundle within your app" rows="12"></textarea>
            <div class="mt"><input name="tgt" placeholder="Key for this icon" /></div>
            <div class="mt"><button type="submit">Add SVG</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfunc %}
