{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/settings"
  "{{{ .Package }}}/app/user"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"{{{ if .HasModule "oauth" }}}
  "{{{ .Package }}}/views/vauth"{{{ end }}}
) %}

{% code type Settings struct {
  layout.Basic
  Settings *settings.Settings
  Perms user.Permissions
} %}

{% func (p *Settings) Body(as *app.State, ps *cutil.PageState) %}
  {%= About(as) %}
  <div class="card">
    <div class="right"><a href="#modal-settings"><button type="button">JSON</button></a></div>
    <h3>Settings</h3>
  </div>
  <div class="card">
    <h3>Themes</h3>
    <p><a href="/theme">Edit Themes</a></p>
  </div>{{{ if .HasModule "oauth" }}}
  {%= vauth.Authentication(as) %}
  {%= vauth.Permissions(p.Perms, as) %}{{{ end }}}
  {%= components.JSONModal("settings", "Settings JSON", p.Settings, 1) %}
{% endfunc %}
