{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/settings"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
  "{{{ .Package }}}/views/vauth"
) %}

{% code type Settings struct {
  layout.Basic
  Settings *settings.Settings
} %}

{% func (p *Settings) Body(as *app.State, ps *cutil.PageState) %}
  {%= About(as) %}
  <div class="card">
    <div class="right"><a href="#modal-settings"><button type="button">JSON</button></a></div>
    <h3>Settings</h3>
  </div>
  <div class="card">
    <h3>Themes</h3>
    <p><a href="/theme">Edit Themes</a></p>
  </div>
  {%= vauth.Authentication(as) %}
  {%= components.JSONModal("settings", "Settings JSON", p.Settings, 1) %}
{% endfunc %}
