{% import (
  "$PF_PACKAGE$/app"
  "$PF_PACKAGE$/app/controller/cutil"
  "$PF_PACKAGE$/app/settings"
  "$PF_PACKAGE$/views/components"
  "$PF_PACKAGE$/views/layout"
) %}

{% code type Settings struct {
  layout.Basic
  Settings *settings.Settings
} %}

{% func (p *Settings) Body(as *app.State, ps *cutil.PageState) %}
  {%= About(as) %}
  <div class="card">
    <div class="right"><a href="#modal-settings"><button type="button">JSON</button></a></div>
    <h3>Settings</h3>
  </div>
  <div class="card">
    <h3>Themes</h3>
    <p><a href="/theme">Edit Themes</a></p>
  </div>
  {%= Authentication(as) %}
  {%= components.JSONModal("settings", "Settings JSON", p.Settings, 1) %}
{% endfunc %}
