/* Content managed by Project Forge, see [projectforge.md] for details. */
@import "./style/reset.css";
@import "./style/vars.css";
@import "./style/core.css";
@import "./style/util.css";

@import "./style/table.css";
@import "./style/form.css";
@import "./style/card.css";

@import "./style/accordion.css";
@import "./style/dragdrop.css";
@import "./style/modal.css";
@import "./style/tags.css";
@import "./style/tabs.css";
@import "./style/formatter.css";
@import "./style/markdown.css";

@import "./style/nav.css";
@import "./style/search.css";
@import "./style/menu.css";
@import "./style/flash.css";

@import "./style/app.css";

@import "./style/theme.css";
