{% import (
  "github.com/google/uuid"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/websocket"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/components/edit"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Sockets struct {
  layout.Basic
  Channels []string
  Connections []*websocket.Connection
  Taps []uuid.UUID
} %}

{% func (p *Sockets) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/admin/sockets/tap"><button>Tap Traffic</button></a></div>
    <h3>Activity Taps</h3>
    <div class="mt">
      {%- if len(p.Taps) == 0 -%}
      <em>no active taps</em>
      {%- else -%}
      <ul>
        {%- for _, x := range p.Taps -%}
        <li>{%s x.String() %}</li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
  </div>
  <div class="card">
    <h3>Channels</h3>
    <div class="mt">
      {%- if len(p.Channels) == 0 -%}
      <em>no active channels</em>
      {%- else -%}
      <ul>
        {%- for _, x := range p.Channels -%}
        <li><a href="/admin/sockets/chan/{%s x %}">{%s x %}</a></li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
  </div>
  <div class="card">
    <h3>Active Connections</h3>
    <div class="mt">
      {%- if len(p.Connections) == 0 -%}
      <em>no active connections</em>
      {%- else -%}
      <div class="overflow full-width">
        <table class="expanded">
          <thead>
            <tr>
              <th class="shrink">ID</th>{{{ if .HasUser }}}
              <th>User ID</th>{{{ end }}}
              <th>Profile Name</th>
              <th>Service</th>
              <th>Channels</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {%- for _, x := range p.Connections -%}
            <tr>
              <td class="shrink"><a href="/admin/sockets/conn/{%s x.ID.String() %}">{%s x.ID.String() %}</a></td>{{{ if .HasUser }}}
              <td><a href="/admin/db/user/{%s x.Profile.ID.String() %}">{%s x.Profile.ID.String() %}</a></td>{{{ end }}}
              <td>{%s x.Profile.String() %}</td>
              <td>{%s x.Svc %}</td>
              <td>{%s util.StringJoin(x.Channels, ", ") %}</td>
              <td class="shrink"><a href="#modal-conn-{%s x.ID.String() %}"><button type="button">JSON</button></a></td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
      </div>
      {%- endif -%}
    </div>
  </div>
  {%- for _, x := range p.Connections -%}
  {%= components.JSONModal("conn-" + x.ID.String(), "Connection [" + x.ID.String() + "] JSON", x, 1) %}
  {%- endfor -%}
{% endfunc %}

{% code type Channel struct {
  layout.Basic
  Channel *websocket.Channel
  Members []*websocket.Connection
} %}

{% func (p *Channel) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-channel"><button type="button">JSON</button></a></div>
    <h3>Channel [{%s p.Channel.Key %}]</h3>
  </div>
  {%= components.JSONModal("channel", "Channel [" + p.Channel.Key + "] JSON", p.Channel, 1) %}
  {%- for _, m := range p.Members -%}
  {%= ConnectionCard(as, m, ps) %}
  {%- endfor -%}
{% endfunc %}

{% code type Connection struct {
  layout.Basic
  Connection *websocket.Connection
} %}

{% func (p *Connection) Body(as *app.State, ps *cutil.PageState) %}
  {%= ConnectionCard(as, p.Connection, ps) %}
  <div class="card">
    <h3>Send Message</h3>
    <form action="/admin/sockets/conn/{%s p.Connection.ID.String() %}/send" method="post">
      <div class="overflow full-width">
        <table class="mt expanded">
          <tbody>{{{ if .HasUser }}}
            {%= edit.StringTable("from", "", "From", ps.Profile.ID.String(), 5, "The user this message is from") %}{{{ else }}}
            {%= edit.StringTable("from", "", "From", p.Connection.ID.String(), 5, "The connection this message is from") %}{{{ end }}}
            {%= edit.StringTable("channel", "", "Channel", "", 5, "The channel this message is for") %}
            {%= edit.StringTable("cmd", "", "Command", "", 5, "The command for this message") %}
            {%= edit.TextareaTable("param", "", "Parameter", 8, "", 5, "JSON object message payload") %}
            <tr><td colspan="2"><button type="submit">Send</button></td></tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
{% endfunc %}

{% func ConnectionCard(as *app.State, c *websocket.Connection, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-connection-{%s c.ID.String() %}"><button type="button">JSON</button></a></div>
    <h3>{%s c.ID.String() %} ({%s c.Username() %})</h3>
    <div class="overflow full-width">
      <table class="mt expanded">
        <tbody>
          <tr>
            <th>Connection ID</th>
            <td>{%s c.ID.String() %}</td>
          </tr>{{{ if .HasUser }}}
          <tr>
            <th>User ID</th>
            <td><a href="/admin/db/user/{%s c.Profile.ID.String() %}">{%s c.Profile.ID.String() %}</a></td>
          </tr>{{{ end }}}
          <tr>
            <th>Name</th>
            <td>{%s c.Username() %}</td>
          </tr>
          <tr>
            <th>Theme</th>
            <td>{%s c.Profile.Theme %}</td>
          </tr>
          <tr>
            <th>Service</th>
            <td>{%s c.Svc %}</td>
          </tr>
          <tr>
            <th>Channels</th>
            <td>{%s util.StringJoin(c.Channels, ", ") %}</td>
          </tr>
          {%- if c.Stats != nil -%}
          <tr>
            <th>Sent</th>
            <td>{%d c.Stats.MessagesSent %} msgs, {%s util.ByteSizeSI(int64(c.Stats.BytesSent)) %}</td>
          </tr>
          <tr>
            <th>Received</th>
            <td>{%d c.Stats.MessagesReceived %} msgs, {%s util.ByteSizeSI(int64(c.Stats.BytesReceived)) %}</td>
          </tr>
          <tr>
            <th>Started</th>
            <td>{%s util.TimeToFull(&c.Stats.Started) %}</td>
          </tr>
          {%- endif -%}
        </tbody>
      </table>
    </div>
  </div>
  {%= components.JSONModal("connection-" + c.ID.String(), "Connection [" + c.ID.String() + "] JSON", c, 1) %}
{% endfunc %}
