<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "strconv"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Args struct {
  layout.Basic
  URL string
  Directions string
  ArgRes *cutil.ArgResults
  Hidden map[string]string
} %}

{% func (p *Args) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{% if p.Directions == "" %}Enter Data{% else %}{%s p.Directions %}{% endif %}</h3>
    <form action="{%s p.URL %}" method="get">
      {%- for k, v := range p.Hidden -%}
      <input type="hidden" name="{%s k %}" value="{%s v %}" />
      {%- endfor -%}
      <table class="mt min-200 expanded">
        <tbody>
          {%- for _, arg := range p.ArgRes.Args -%}
          {%- code
            v := p.ArgRes.Values[arg.Key]
            if v == "" {
              v = arg.Default
            }
          -%}
          {%- switch arg.Type -%}
          {%- case "bool" -%}
          {%= components.TableBoolean(arg.Key, arg.Title, v == "true", 5, arg.Description) %}
          {%- case "textarea" -%}
          {%= components.TableTextarea(arg.Key, "", arg.Title, 12, v, 5, arg.Description) %}
          {%- case "number", "int" -%}
          {%- code i, _ := strconv.Atoi(v) -%}
          {%= components.TableInputNumber(arg.Key, "", arg.Title, i, 5, arg.Description) %}
          {%- default -%}
          {%= components.TableInput(arg.Key, "", arg.Title, v, 5, arg.Description) %}
          {%- endswitch -%}
          {%- endfor -%}
        </tbody>
      </table>
      <button class="mt" type="submit">Submit</button>
    </form>
  </div>
{% endfunc %}
