<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/user"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/layout"
) %}

{%- func errorStack(ed *util.ErrorDetail) -%}
    <table>
      <tbody>
      {%- for _, f := range util.TraceDetail(ed.StackTrace) -%}
        <tr>
          <td>
            {%- if strings.Contains(f.Key, util.AppKey) -%}
            <div class="error-key error-owned">{%s f.Key %}</div>
            {%- else -%}
            <div class="error-key">{%s f.Key %}</div>
            {%- endif -%}
            <div class="error-location">{%s f.Loc %}</div>
          </td>
        </tr>
      {%- endfor -%}
      </tbody>
    </table>
{%- endfunc -%}

{% code type Error struct {
  layout.Basic
  Err *util.ErrorDetail
} %}

{% func (p *Error) Body(as *app.State, ps *cutil.PageState) %}
  {%= Detail(p.Err, as, ps) %}
{% endfunc %}

{% func Detail(ed *util.ErrorDetail, as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s ed.Message %}</h3>
    <em>Internal Server Error</em>
    {%- if user.IsAdmin(ps.Accounts) -%}
    {%= errorStack(ed) %} {% code cause := ed.Cause %}
    {%- for cause != nil -%}
    <h3>Caused by</h3>
    <div>{%s cause.Message %}</div>{%= errorStack(cause) %}{% code cause = cause.Cause %}
    {%- endfor -%}
    {%- endif -%}
  </div>
{% endfunc %}
