<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/lib/user"
  "github.com/kyleu/projectforge/views/layout"
) %}

{% code type Unauthorized struct {
  layout.Basic
  Path string
  Message string
  Accounts user.Accounts
} %}

{% func (p *Unauthorized) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Unauthorized</h3>
    <em>{%s p.Message %}</em>
    <p>You're not authorized to view <code>{%s p.Path %}</code></p>
  </div>
{% endfunc %}

