# $PF_GENERATE_ONCE$
.DS_Store
/.env
/.idea
/build
/cfg
/client/node_modules
/tmp{{{ if .HasModule "sqlite" }}}
/{{{ .Exec }}}.sqlite{{{ end }}}{{{ if .HasModule "wasmclient" }}}
/assets/wasm/*.wasm{{{ end }}}
