# $PF_IGNORE$
/.vscode
/.idea
/.scannerwork
/build
/tmp

**/*.html.go{{{ if .HasModule "database" }}}
**/*.sql.go{{{ end }}}
{{{ if .HasModule "ios" }}}
/tools/ios/app.xcodeproj/xcuserdata
/tools/ios/app.xcodeproj/*.xcworkspace
/tools/ios/build
/tools/ios/*.framework
{{{ end }}}
/client/node_modules
