<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "fmt"
  "strings"
  "time"

  "github.com/google/uuid"
  "github.com/samber/lo"

  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/filter"
  "projectforge.dev/projectforge/app/util"
) %}

{% func DisplayTimestamp(value *time.Time) %}{% stripspace %}
  <span class="nowrap">{%s util.TimeToFull(value) %}</span>
{% endstripspace %}{% endfunc %}

{% func DisplayTimestampRelative(value *time.Time) %}{% stripspace %}
  <span class="nowrap reltime" data-time="{%s util.TimeToFull(value) %}">{%s util.TimeRelative(value) %}</span>
{% endstripspace %}{% endfunc %}

{% func DisplayTimestampDay(value *time.Time) %}{% stripspace %}
  {%s util.TimeToYMD(value) %}
{% endstripspace %}{% endfunc %}

{% func DisplayUUID(value *uuid.UUID) %}{% stripspace %}
  {%- if value != nil -%}
  {%s value.String() %}
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func DisplayStringArray(value []string) %}{% stripspace %}
  {% if len(value) == 0 %}
  <em>empty</em>
  {% endif %}
  {% code
    maxCount := 5
    display := value
    var extra int
    if len(value) > maxCount {
      extra = len(value) - maxCount
      display = display[:maxCount]
    }
  %}
  {% if extra > 0 %}<span title="{%s strings.Join(value, `, `) %}">{% endif %}
  {%- for idx, v := range display -%}
  {% if idx > 0 %},{% space %}{% endif %}
  {%s v %}
  {% endfor %}
  {% if extra > 0 %}, <em>and{% space %}{%d extra %}{% space %}more...</em>{% endif %}
  {% if extra > 0 %}</span>{% endif %}
{% endstripspace %}{% endfunc %}

{% func DisplayIntArray(value []int) %}{% stripspace %}
  {%= DisplayStringArray(util.ArrayToStringArray(value)) %}
{% endstripspace %}{% endfunc %}

{% func DisplayFloatArray(value []float64) %}{% stripspace %}
  {%= DisplayStringArray(util.ArrayToStringArray(value)) %}
{% endstripspace %}{% endfunc %}

{% func DisplayDiffs(value util.Diffs) %}{% stripspace %}
  {%- if len(value) == 0 -%}
  <em>no changes</em>
  {%- else -%}
  <div class="overflow full-width">
    <div class="overflow full-width">
      <table class="expanded">
        <thead>
          <tr>
            <th>Path</th>
            <th>Old</th>
            <th></th>
            <th>New</th>
          </tr>
        </thead>
        <tbody>
          {%- for _, d := range value -%}
          <tr>
            <td style="width: 30%;"><code>{%s d.Path %}</code></td>
            <td style="width: 30%;"><code><em>{%s d.Old %}</em></code></td>
            <td style="width: 10%;">→</td>
            <td style="width: 30%;"><code class="success">{%s d.New %}</code></td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func DisplayDiffsSet(key string, value util.DiffsSet, ps *cutil.PageState) %}{% stripspace %}
  {%- if len(value) == 0 -%}
  <em>no changes</em>
  {%- else -%}
  <ul class="accordion">
    {%- for idx, k := range util.ArraySorted[string](lo.Keys(value)) -%}
      {% code dk, u := util.StringSplitLast(k, '^', true) %}
      {%- if idx < 100 -%}
        <li>
          <input id="accordion-{%s k %}-{%d idx %}" type="checkbox" hidden="hidden" />
          <label for="accordion-{%s k %}-{%d idx %}">
            {%= ExpandCollapse(3, ps) %}
            {% if u != "" %}<a href="{%s u %}">{%s dk %}</a>{% else %}{%s dk %}{% endif %}
          </label>
          <div class="bd"><div><div>
            {%= DisplayDiffs(value[k]) %}
          </div></div></div>
        </li>
      {%- endif -%}
      {%- if idx == 100 -%}
        <li>
          <input id="accordion-{%s k %}-extras" type="checkbox" hidden="hidden" />
          <label for="accordion-{%s k %}-extras">...and{% space %}{%d len(value) - 100 %}{% space %}extra</label>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func DisplayMaps(maps []util.ValueMap, params *filter.Params, preserveWhitespace bool, ps *cutil.PageState) %}{% stripspace %}
  {%- if len(maps) == 0 -%}
  <em>no results</em>
  {%- else -%}
  <div class="overflow full-width">
    <table>
      <thead>
      <tr>
        {%- for _, k := range maps[0].Keys() -%}
        {%= TableHeaderSimple("map", k, k, "", params, nil, ps) %}
        {%- endfor -%}
      </tr>
      </thead>
      <tbody>
        {%- for _, m := range maps -%}
        <tr>
          {%- for _, k := range m.Keys() -%}
          {%- code
            res := ""
            switch t := m[k].(type) {
            case string:
              res = t
            case []byte:
              res = string(t)
            default:
              res = fmt.Sprint(m[k])
            }
          -%}
          {%- if preserveWhitespace -%}
          <td class="prews">{%s res %}</td>
          {%- else -%}
          <td>{%s res %}</td>
          {%- endif -%}
          {%- endfor -%}
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func Format(v string, ext string) %}{% stripspace %}
  {% code out, err := cutil.FormatLang(v, ext) %}
  {% if err == nil %}
    {%s= out %}
  {% else %}
    {%s err.Error() %}
  {% endif %}
{% endstripspace %}{% endfunc %}
