<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "fmt"
  "time"

  "github.com/google/uuid"

  "projectforge.dev/projectforge/app/util"
) %}

{% func DisplayTimestamp(value *time.Time) %}{% stripspace %}
  {%s util.TimeToFull(value) %}
{% endstripspace %}{% endfunc %}

{% func DisplayUUID(value *uuid.UUID) %}{% stripspace %}
  {%- if value != nil -%}
  {%s value.String() %}
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func DisplayDiffs(value util.Diffs) %}{% stripspace %}
  {%- if len(value) == 0 -%}
  <em>no changes</em>
  {%- else -%}
  <table>
    <tbody>
      {%- for _, d := range value -%}
      <tr>
        <td><code>{%s d.Path %}</code></td>
        <td><code class="error">{%s d.Old %}</code></td>
        <td>→</td>
        <td><code class="success">{%s d.New %}</code></td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func DisplayMaps(maps []util.ValueMap) %}{% stripspace %}
  {%- if len(maps) == 0 -%}
  <em>no results</em>
  {%- else -%}
  <table>
    <thead>
    <tr>
      {%- for _, k := range maps[0].Keys() -%}
      <th>{%s k %}</th>
      {%- endfor -%}
    </tr>
    </thead>
    <tbody>
      {%- for _, m := range maps -%}
      <tr>
        {%- for _, k := range m.Keys() -%}
        <td>{%s fmt.Sprint(m[k]) %}</td>
        {%- endfor -%}
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {%- endif -%}
{% endstripspace %}{% endfunc %}
