<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "fmt"

  "projectforge.dev/app"
  "projectforge.dev/app/controller/cutil"
  "projectforge.dev/app/util"
) %}

{% func SVG(k string) %}{%s= util.SVGLibrary[k] %}{% endfunc %}

{% func SVGRef(k string, w int, h int, cls string, ps *cutil.PageState) %}{% stripspace %}
  {% if k != "" %}
    {% code
      ps.AddIcon(k)
      if w == 0 { w = 20 }
      if h == 0 { h = 20 }
      style := fmt.Sprintf("width: %dpx; height: %dpx;", w, h)
    %}
    {% if cls == "" %}
      <svg style="{%s style %}"><use xlink:href="#svg-{%s k %}" /></svg>
    {% else %}
      <svg class="{%s cls %}" style="{%s style %}"><use xlink:href="#svg-{%s k %}" /></svg>
    {% endif %}
  {% endif %}
{% endstripspace %}{% endfunc %}

{% func SVGRefIcon(k string, ps *cutil.PageState) %}{% stripspace %}
  {%= SVGRef(k, 20, 20, "icon", ps) %}
{% endstripspace %}{% endfunc %}

{%- func IconGallery(as *app.State, ps *cutil.PageState) -%}
  <div class="flex-wrap mt">
    {%- for _, k := range util.SVGIconKeys -%}
    <div style="text-align: center; margin: 6px 12px 6px 0; padding: 6px; border: var(--border);">
      <div style="color: var(--color-foreground-muted);">{%= SVGRef(k, 64, 64, "icon", ps) %}</div>
      <div style="font-size: 75%;">{%s k %}</div>
    </div>
    {%- endfor -%}
  </div>
{%- endfunc -%}
