<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/robert-nix/ansihtml"

  "projectforge.dev/projectforge/app/util"
) %}

{% func Terminal(id string, s string) %}{% stripspace %}
  {%- code
    raw := string(ansihtml.ConvertToHTML([]byte(s)))
    lines := util.StringSplitLines(raw)
    if len(lines) > 0 && lines[len(lines) - 1] == "" {
      lines = lines[:len(lines) - 1]
    }
  -%}
  <div class="overflow full-width">
    <table class="terminal">
      <tbody id="{%s id %}">
        <tr><td class="shrink"></td><td></td></tr>
        {%- for idx, line := range lines -%}
        <tr><th>{%d idx + 1 %}</th><td>{%s= line %}</td></tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endstripspace %}{% endfunc %}
