{% import (
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project/action"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/vsearch"
) %}

{% func AvailActions(title string, currTags []string, availTags []string, icon string, duration string, ps *cutil.PageState) %}
  {%- code
    var tags string
    if len(currTags) > 0 {
      tags = "?tags=" + util.StringJoin(currTags, ",")
    }
  -%}
  {%- if duration == "" -%}
  {%= vsearch.Form("/p/search", "", "Search All Files", currTags, ps) %}
  {%- else -%}
  <div class="right"><em>{%s duration %}</em></div>
  {%- endif %}

  <h3>
    {%= components.SVGIcon(icon, ps) %}
    <a href="/p">All Projects</a>{% if len(currTags) > 0 %} tagged [<a href="/p?tags={%s util.StringJoin(currTags, `, `) %}">{%s util.StringJoin(currTags, `, `) %}</a>]{% endif %}{% if title != "" %}: <a href="">{%s title %}</a>{% endif %}
  </h3>
  <div class="clear"></div>
  {%- if len(availTags) > 0 -%}
  <div class="right mt">
    Available Tags:
    {%- for idx, t := range availTags -%}
    <a href="?tags={%s t %}">{%s t %}</a>{% if idx != (len(availTags)-1) %}, {% endif %}
    {%- endfor -%}
  </div>
  {%- endif -%}
  <div class="mt">
    {%- for _, t := range action.ProjectTypes -%}
    <a href="/run/{%s t.Key %}{%s tags %}" title="{%s t.Description %}"><button>{%= components.SVGButton(t.Icon, ps) %} {%s t.Title %}</button></a>
    {%- endfor -%}
    <a href="/git{%s tags %}" title="Git dashboard for all projects"><button>{%= components.SVGButton("git", ps) %} Git</button></a>
  </div>
{% endfunc %}
