{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
	"projectforge.dev/projectforge/app/lib/metamodel"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/vexport"
) %}

{% func DetailExport(key string, ea *metamodel.Args, as *app.State, ps *cutil.PageState) %}
  <a href="/p/{%s key %}/export"><button>{%= components.SVGButton("wrench", ps) %} Manage</button></a>
  <div class="mt">
    {%= vexport.ArgsDetail(key, ea, as, ps) %}
  </div>
{%- endfunc -%}
