{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/theme"
  "projectforge.dev/projectforge/views/vtheme"
) %}

{% func DetailTheme(key string, t *theme.Theme, title string, as *app.State, ps *cutil.PageState) %}
  {%- code
    if t == nil {
      t = theme.ThemeDefault
    }
  -%}
  <table class="centered">
    <tbody>
      <tr>
        <th>
          <div>Light</div>
          <div id="mockup-light">{%= vtheme.MockupColors(title, "", t.Light, false, 6, ps) %}</div>
        </th>
        <th>
          <div>Dark</div>
          <div id="mockup-dark">{%= vtheme.MockupColors(title, "", t.Dark, false, 6, ps) %}</div>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="mt">
    Choose a different theme from
    <a href="/theme/palette/crayola?project={%s key %}">Crayola</a>,
    <a href="/theme/palette/css?project={%s key %}">CSS</a>,
    or <a href="/theme/palette/wikipedia?project={%s key %}">Wikipedia</a>
  </div>
{% endfunc %}
