{% import (
  "projectforge.dev/app"
  "projectforge.dev/app/controller/cutil"
  "projectforge.dev/app/export/model"
  "projectforge.dev/app/module"
  "projectforge.dev/app/util"
  "projectforge.dev/views/components"
) %}

{% func DetailModuleArg(mod *module.Module, arg interface{}, as *app.State, ps *cutil.PageState) %}
  {%- switch mod.Key -%}
  {%- case "export" -%}
    {%- code
      ea := &model.Args{}
      err := util.CycleJSON(arg, ea)
      if err != nil {
        panic(err)
      }
    -%}
    {%- if ea.Config != nil -%}
    <h3>Config Settings</h3>
    {%= components.JSON(ea.Config) %}
    {%- endif -%}
    <h3 class="mt">Models</h3>
    <ul class="accordion">
      {%- for _, m := range ea.Models -%}
      <li>
        <input id="export-accordion-{%s m.Name %}" type="checkbox" hidden />
        <label for="export-accordion-{%s m.Name %}">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRef(m.IconSafe(), 15, 15, ``, ps) %}
          {%s m.Title() %}
        </label>
        <div class="bd">
          {%= DetailExportModel(m, as, ps) %}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- default -%}
    {%= components.JSON(arg) %}
  {%- endswitch -%}
{% endfunc %}
