{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
) %}

{% func DetailBuild(build *project.Build, as *app.State, ps *cutil.PageState) %}
  {%- code buildMap := build.ToMap() -%}
  <div class="overflow full-width">
    <table class="min-200 full-width">
      <tbody>
      {%- for _, o := range project.AllBuildOptions -%}
      {%- if buildMap[o.Key] -%}
      <tr>
        <th class="shrink">{%s o.Title %}</th>
        <td>{%s o.Description %}</td>
      </tr>
      {%- endif -%}
      {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
