{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/module"
) %}

{% func DetailModules(modKeys []string, mods module.Modules, as *app.State, ps *cutil.PageState) %}
  <div class="overflow full-width">
    <table class="min-200 full-width">
      <tbody>
        {%- for _, mKey := range modKeys -%}
        {%- code mod := mods.Get(mKey) -%}
        {%- if mod == nil -%}
        <tr>
          <td class="shrink"><a href="/m/{%s mKey %}">{%s mKey %}</a></td>
          <td><div class="error">Error: no module named [{%s mKey %}]</div></td>
        </tr>
        {%- else -%}
        <tr>
          <td class="shrink"><a href="/m/{%s mod.Key %}">{%s mod.Title() %}</a></td>
          <td><em>{%s mod.Description %}</em></td>
        </tr>
        {%- endif -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
