{% import (
  "projectforge.dev/app"
  "projectforge.dev/app/controller/cutil"
  "projectforge.dev/app/module"
) %}

{% func DetailModules(modKeys []string, mods module.Modules, as *app.State, ps *cutil.PageState) %}
  <table class="min-200 full-width">
    <tbody>
      {%- for _, mKey := range modKeys -%}
      {%- code mod := mods.Get(mKey) -%}
      <tr>
        <td class="shrink"><a href="/m/{%s mod.Key %}">{%s mod.Title() %}</a></td>
        <td><em>{%s mod.Description %}</em></td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endfunc %}
