{% import (
  "fmt"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/git"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vexport"
) %}

{% code type Detail struct {
  layout.Basic
  Project *project.Project
  Modules module.Modules
  GitResult *git.Result
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  {%- code prj := p.Project -%}
  {%= Summary(prj, p.GitResult, nil, nil, ps) %}

  <div class="tabs padded">
    <input name="type" type="radio" id="tab-settings" class="input" checked="checked" />
    <label for="tab-settings" class="label">Settings</label>
    <div class="panel">{%= DetailSettings(prj, as, ps) %}</div>

    {%- if prj.Info != nil -%}
    <input name="type" type="radio" id="tab-metadata" class="input"/>
    <label for="tab-metadata" class="label">Metadata</label>
    <div class="panel">{%= DetailMetadata(prj.Info, as, ps) %}</div>

    {%- for k := range prj.Info.ModuleArgs -%}
    {%- code
      argTitle := k
      argMod := p.Modules.Get(k)
      if argMod != nil {
        argTitle = argMod.Title()
      }
    -%}
    <input name="type" type="radio" id="tab-modulearg-{%s k %}" class="input"/>
    <label for="tab-modulearg-{%s k %}" class="label">{%s argTitle %}</label>
    <div class="panel">
      {%- switch k -%}
      {%- case "export" -%}
        {%- code ea, _ := p.Project.Info.ModuleArgExport() -%}
        {%- if argMod == nil -%}
          <em>empty</em>
        {%- else -%}
          {%- if ea.Config != nil -%}
          <h3>Config Settings</h3>
          {%= components.JSON(ea.Config) %}
          {%- endif -%}
          <h3 class="mt">Models</h3>
          {%= vexport.ModelList(ea.Models, fmt.Sprintf("/p/%s/export", p.Project.Key), as, ps) %}
        {%- endif -%}
      {%- default -%}
        <em>unknown argument</em>
      {%- endswitch -%}
    </div>
    {%- endfor -%}
    {%- endif -%}

    <input name="type" type="radio" id="tab-theme" class="input"/>
    <label for="tab-theme" class="label">Theme</label>
    <div class="panel">{%= DetailTheme(prj.Key, prj.Theme, prj.Title(), as, ps) %}</div>

    <input name="type" type="radio" id="tab-modules" class="input"/>
    <label for="tab-modules" class="label">Modules</label>
    <div class="panel">{%= DetailModules(prj.Modules, p.Modules, as, ps) %}</div>

    {%- if prj.Build != nil && !prj.Build.Empty() -%}
    <input name="type" type="radio" id="tab-builds" class="input"/>
    <label for="tab-builds" class="label">Builds</label>
    <div class="panel">{%= DetailBuild(prj.Build, as, ps) %}</div>
    {%- endif -%}
  </div>
{% endfunc %}
