{% import (
  "path/filepath"
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vfile"
) %}

{% code type Files struct {
  layout.Basic
  Project *project.Project
  Path []string
} %}

{% func (p *Files) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    prj := p.Project
    fs := as.Services.Projects.GetFilesystem(prj)
    u := "/p/" + prj.Key + "/fs"
    pth := filepath.Join(p.Path...)
  -%}
  {%= Summary(prj, nil, nil, nil, ps) %}
  {%- if fs.IsDir(pth) -%}
  {%- code files := fs.ListFiles(pth, nil) -%}
  <div class="card">
    <div class="right"><a href="/p/{%s prj.Key %}/stats{% if pth != `` %}?dir={%u pth %}{% endif %}"><button>File Stats</button></a></div>
    {%= vfile.List(p.Path, files, fs, u, as, ps) %}
  </div>
  {%- else -%}
  {%- code
    b, err := fs.ReadFile(pth)
    if err != nil {
      panic(err)
    }
  -%}
  {%= vfile.Detail(p.Path, b, u, as, ps) %}
  {%- endif -%}
{% endfunc %}
