{% import (
  "fmt"
  "path"
  "path/filepath"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/filesystem"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vfile"
) %}

{% code type Files struct {
  layout.Basic
  Project *project.Project
  Path []string
  FS filesystem.FileLoader
} %}

{% func (p *Files) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    prj := p.Project
    u := prj.WebPath() + "/fs"
    pth := filepath.Join(p.Path...)
  -%}
  {%= Summary(prj, "/" + util.StringJoin(p.Path, "/"), nil, nil, nil, ps) %}
  {%- if p.FS.IsDir(pth) -%}
  {%- code files := p.FS.ListFiles(pth, nil, ps.Logger) -%}
  <div class="card">
    <div class="right"><a href="/p/{%s prj.Key %}/stats{% if pth != `` %}?dir={%u pth %}{% endif %}"><button>File Stats</button></a></div>
    {%= vfile.List(p.Path, files, p.FS, u, as, ps) %}
  </div>
  {%- else -%}
  {%- code
    b, err := p.FS.ReadFile(pth)
    if err != nil {
      panic(err)
    }
  -%}
  <div class="card">
    {%- code
      links := map[string]string{"Download": "?download=true"}
      lineNumLink := fmt.Sprintf("%s/blob/HEAD/%s#L{}", p.Project.Info.Sourcecode, path.Join(p.Path...))
    -%}
    {%= vfile.Detail(p.Path, b, u, links, as, ps, lineNumLink, "View line {} on GitHub") %}
  </div>
  {%- endif -%}
{% endfunc %}
