{% import (
  "path/filepath"
  "strings"

  "github.com/samber/lo"
  "golang.org/x/exp/slices"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/project/stats"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type FileStats struct {
  layout.Basic
  Project *project.Project
  Path []string
  Ext string
  Files stats.FileStats
} %}

{% func (p *FileStats) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    prj := p.Project
  -%}
  {%= Summary(prj, "/" + strings.Join(p.Path, "/"), nil, nil, nil, nil, ps) %}
  <div class="card">
    <div class="right"><a href="#modal-stats"><button type="button">JSON</button></a></div>
    <h3>File Statistics</h3>
    <h3>{%= pathLinks(p.Path, p.Ext) %}</h3>
  </div>
  <div class="card tabs">
    <input name="type" type="radio" id="stat-summary" class="input" checked="checked" />
    <label for="stat-summary" class="label">Summary</label>
    <div class="panel">
      <em>{%d p.Files.Count() %} files totalling {%s util.ByteSizeSI(p.Files.TotalSize()) %}</em>
    </div>

    <input name="type" type="radio" id="stat-files" class="input" />
    <label for="stat-files" class="label">Files</label>
    <div class="panel">{%= renderFiles(p.Path, p.Files, p.Ext, as, ps) %}</div>

    <input name="type" type="radio" id="stat-types" class="input" />
    <label for="stat-types" class="label">Types</label>
    <div class="panel">{%= renderTypes(p.Path, p.Files, p.Ext, as, ps) %}</div>
  </div>
{%= components.JSONModal("stats", "File Stats JSON", p.Files, 1) %}
{% endfunc %}

{% func pathLinks(pth []string, ext string) %}{% stripspace %}
  <a href="?{% if ext != `` %}ext={%s ext %}{% endif %}">.</a>
  {%- for idx, px := range pth -%}
    /<a href="?dir={%u filepath.Join(pth[:idx + 1]...) %}{% if ext != `` %}&ext={%s ext %}{% endif %}">{%s px %}</a>
  {%- endfor -%}
{% endstripspace %}{% endfunc %}

{% func renderFiles(pth []string, files stats.FileStats, ext string, as *app.State, ps *cutil.PageState) %}
  {%- if len(files) == 0 -%}
  <p><em>No files available</em></p>
  {%- else -%}
  <ul class="accordion">
    {%- for _, f := range files -%}
    {%= renderFileStat(pth, f, ext, as, ps) %}
    {%- endfor -%}
  </ul>
  {%- endif -%}
{% endfunc %}

{% func renderTypes(pth []string, files stats.FileStats, ext string, as *app.State, ps *cutil.PageState) %}
  {%- code
    exts := files.Extensions()
  -%}
  {%- if len(files) == 0 -%}
  <p><em>No files available</em></p>
  {%- else -%}
  <ul>
    {%- for _, extKey := range util.ArraySorted(lo.Keys(exts)) -%}
    <li><a href="?ext={%s extKey %}{% if len(pth) > 0 %}&pth={%u strings.Join(pth, `/`) %}{% endif %}">{%s extKey %}</a>: {%d exts[extKey] %}</li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
{% endfunc %}

{% func renderFileStat(pth []string, f *stats.FileStat, ext string, as *app.State, ps *cutil.PageState) %}
  <li>
    <input id="accordion-{%s f.FullPath() %}" type="checkbox" hidden />
    <label for="accordion-{%s f.FullPath() %}">{%= renderFileStatSummary(f, ext, ps) %}</label>
    <div class="bd">
      {%- if len(f.Kids) > 0 -%}
      <ul class="accordion">
        {%- for _, k := range f.Kids -%}
        {%= renderFileStat(append(slices.Clone(pth), f.Name), k, ext, as, ps) %}
        {%- endfor -%}
      </ul>
    </div>
    {% endif %}
  </li>
{% endfunc %}

{% func renderFileStatSummary(f *stats.FileStat, ext string, ps *cutil.PageState) %}{% stripspace %}
  {% code
    icon := "file"
    if f.IsDir {
      icon = "folder"
    }
  %}
  {%= components.ExpandCollapse(3, ps) %}
  <div class="right"><em>{%s util.ByteSizeSI(f.TotalSize()) %}</em></div>
  {%= components.SVGRef(icon, 16, 16, `icon`, ps) %}
  {% if f.IsDir %}
    <a href="?dir={%u f.FullPath() %}{% if ext != `` %}&ext={%s ext %}{% endif %}">
  {% endif %}
  {%s f.Name %}
  {% if f.IsDir %}
    </a>
  {% endif %}
{% endstripspace %}{% endfunc %}
