{% import (

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Projects project.Projects
  Tags []string
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%= AvailActions("", p.Tags, p.Projects.Tags(), ps) %}
  </div>
  {%= Table(p.Projects, p.Tags, true, as, ps) %}
{% endfunc %}
