{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/search"
  "projectforge.dev/projectforge/app/lib/search/result"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type SearchAll struct {
  layout.Basic
  Params *search.Params
  Projects project.Projects
  Results map[string]result.Results
  Tags []string
} %}

{% func (p *SearchAll) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%= AvailActions("Search", p.Tags, p.Projects.Tags(), ps) %}
  </div>
  <div class="card">
    <ul class="accordion">
      {%- for _, prj := range p.Projects -%}
      {%- code res := p.Results[prj.Key] -%}
      <li>
        <input id="accordion-{%s prj.Key %}" type="checkbox" hidden />
        <label for="accordion-{%s prj.Key %}">
          <div class="right">
            {%- if len(res) == 0 -%}
            <em>0 matches</em>
            {%- else -%}
            {%d len(res) %} matches
            {%- endif -%}
          </div>
          {%= components.ExpandCollapse(3, ps) %} {%= components.SVGRef(prj.IconSafe(), 16, 16, "icon", ps) %} {%s prj.Title() %}
        </label>
        <div class="bd">
          {%= Summary(prj, "Search", nil, nil, nil, ps) %}
          {%= searchResults(prj, p.Params, res, nil, as, ps) %}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
{% endfunc %}
