{% import (
  "projectforge.dev/projectforge/app/action"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/git"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/vsearch"
) %}

{% func Summary(prj *project.Project, gitResult *git.Result, args util.ValueMap, act *action.Type, ps *cutil.PageState, path ...string) %}
  <div class="card">
    {%- code
      q := ""
      if args != nil {
        q = args.GetStringOpt(`q`)
      }
    -%}
    {%= vsearch.Form("/p/" + prj.Key + "/search", q, "Search Files", ps) %}
    <h3><a href="/p/{%s prj.Key %}">{%= components.SVGRefIcon(prj.IconSafe(), ps) %} {%s prj.Title() %}</a></h3>
    {%- if act != nil -%}
    <em>{%s act.Title %} results</em>
    {%- endif -%}
    <div class="mt">
      {%- for _, t := range action.ProjectTypes -%}
      <a href="/run/{%s prj.Key %}/{%s t.Key %}" title="{%s t.Description %}"><button>{%s t.Title %}</button></a>
      {%- endfor -%}
      <a href="/p/{%s prj.Key %}/edit" title="Edit the project definition"><button>Edit</button></a>
      <a href="/p/{%s prj.Key %}/fs" title="Explore the project's files"><button>Files</button></a>
      <a href="/svg/{%s prj.Key %}" title="Add new SVGs and set the app icon"><button>SVG</button></a>
      <a href="/b/{%s prj.Key %}" title="Build this project"><button>Build</button></a>
      <a href="/git/{%s prj.Key %}" title="Source control status for this project"><button>Git</button></a>
    </div>
  </div>
{% endfunc %}
