{% import (
  "strings"
  "github.com/kyleu/projectforge/app/action"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/git"
  "github.com/kyleu/projectforge/app/project"
  "github.com/kyleu/projectforge/views/components"
) %}

{% func Summary(prj *project.Project, gitResult *git.Result, ps *cutil.PageState, path ...string) %}
  <div class="card">
    <div class="right"><a href="/p/{%s prj.Key %}/edit"><button>Edit</button></a></div>
    <h3>{%= components.SVGRefIcon(prj.IconSafe(), ps) %} {%s prj.Title() %}</h3>
    <div style="display: flex;">
      <div style="flex-grow: 1;">
        <h4>Generate</h4>
        {%- for _, t := range action.ProjectTypes -%}
        <a href="/run/{%s prj.Key %}/{%s t.Key %}" title="{%s t.Description %}"><button>{%s t.Title %}</button></a>
        {%- endfor -%}
      </div>
      <div style="flex-grow: 1;">
        {%- if len(path) == 0 -%}
        <h4>Maintain</h4>
        <a href="/p/{%s prj.Key %}/fs" title="Explore the project's files"><button>Filesystem</button></a>
        <a href="/p/{%s prj.Key %}/svg" title="Add new SVGs and set the app icon"><button>Manage SVGs</button></a>
        {%- else -%}
        <h4>Files</h4>
        {%- code var ctx []string -%}
        {%- for _, pth := range path -%}
        {%- code ctx = append(ctx, pth) -%}
        <a href="/p/{%s prj.Key %}/fs/{%s strings.Join(ctx, `/`) %}"><button>{%s pth %}}</button></a>
        {%- endfor -%}
        {%- endif -%}
      </div>
      <div style="flex-grow: 1;">
        <h4>Build</h4>
        {%- for _, b := range action.AllBuilds -%}
        <a href="/build/{%s prj.Key %}/{%s b.Key %}" title="{%s b.Description %}"><button>{%s b.Title %}</button></a>
        {%- endfor -%}
      </div>
      <div style="flex-grow: 1;">
        <h4>Source Control</h4>
        {%- if gitResult == nil -%}
        <a href="/git/{%s prj.Key %}" title="Source control status for this project"><button>Status</button></a>
        {%- else -%}
        {%- for _, t := range gitResult.Actions() -%}
        <a href="/git/{%s prj.Key %}/{%s t.Key %}" title="{%s t.Description %}"><button>{%s t.Title %}</button></a>
        {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
{% endfunc %}
