{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/exec"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
) %}

{% func Table(prjs project.Projects, tags []string, full bool, ex exec.Execs, as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/p/new"><button>{%= components.SVGButton("file", ps) %} New</button></a></div>
    <h3><a href="/p">{%= components.SVGIcon(`code`, ps) %}</a> <a href="/p">{%s util.StringPlural(len(prjs), "Available Project") %}</a></h3>
    <div class="overflow full-width">
      <table class="mt min-200">
        {%- if full -%}
        <thead>
          <tr>
            <th><a href="/p{% if len(tags) > 0 %}?tags={%s strings.Join(tags, `,`) %}{% endif %}">Title</a></th>
            <th><a href="/p?sort=package{% if len(tags) > 0 %}&tags={%s strings.Join(tags, `,`) %}{% endif %}">Package</a></th>
            {%- if full -%}
            <th class="shrink"><a href="/p?sort=port{% if len(tags) > 0 %}&tags={%s strings.Join(tags, `,`) %}{% endif %}">Port</a></th>
            {%- endif -%}
            {%- if len(ex) > 0 -%}
            <th class="shrink">Processes</th>
            {%- endif -%}
            <th class="shrink">Tags</th>
          </tr>
        </thead>
        {%- endif -%}
        <tbody>
          {%- for _, prj := range prjs -%}
          <tr>
            <td class="shrink"><a href="/p/{%s prj.Key %}">
              {%= components.SVGRef(prj.IconSafe(), 16, 16, "icon", ps) %}
              {% if prj.Key == util.AppKey %}<strong>{% endif %}{%s prj.Title() %}{% if prj.Key == util.AppKey %}</strong>{% endif %}
            </a></td>
            <td>{%s prj.Package %}</td>
            {%- if full -%}
            <td class="shrink"><a href="http://localhost:{%d prj.Port %}" title="browse to [http://localhost:{%d prj.Port %}]" target="_blank" rel="noopener noreferrer">{%d prj.Port %}</a></td>
            {%- endif -%}
            {%- if len(ex) > 0 -%}
            <td class="shrink">
              {%- code e := ex.GetByKey(prj.Key) -%}
              {%- if len(e) > 0 -%}
              <a href="{%s e[len(e) - 1].WebPath() %}">{%d e.Running() %}/{%d len(e) %}</a>
              {%- endif -%}
            </td>
            {%- endif -%}
            <td class="shrink">
              {%- for idx, tag := range prj.Tags -%}
              <a href="/p?tags={%s tag %}"><code>{%s tag %}</code></a>{% if idx < (len(prj.Tags) - 1) %}, {% endif %}
              {%- endfor -%}
            </td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endfunc %}
