{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/exec"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Exec *exec.Exec
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  {%= ExecDetail(p.Exec, ps) %}
  <div class="card">
    <h3>{%= components.SVGIcon("file", ps) %} Output</h3>
    <div class="mt">{%= components.Terminal("console-list", p.Exec.Buffer.String()) %}</div>
  </div>{{{ if .HasModule "websocket" }}}
  {%= ExecScript("console-list", p.Exec.WebPath() + "/connect", as.Debug, ps) %}{{{ end }}}
{% endfunc %}

{% func ExecDetail(ex *exec.Exec, ps *cutil.PageState) %}
  <div class="card">
    {%- if ex.Completed == nil -%}
    <div class="right">
      <a href="{%s ex.WebPath() %}/kill"><button>Kill</button></a>
    </div>
    {%- endif -%}
    <h3>{%= components.SVGIcon("desktop", ps) %} Process [{%s ex.String() %}]</h3>
    <div class="overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink">Key</th>
            <td>{% if len(ex.Link) > 0 %}<a href="{%s ex.Link %}">{%s ex.Key %}</a>{% else %}{%s ex.Key %}{% endif %}</td>
          </tr>
          <tr>
            <th>Index</th>
            <td>{%d ex.Idx %}</td>
          </tr>
          <tr>
            <th>PID</th>
            <td>{%d ex.PID %}</td>
          </tr>
          <tr>
            <th>Command</th>
            <td>{%s ex.Cmd %}</td>
          </tr>
          <tr>
            <th>Path</th>
            <td>{%s ex.Path %}</td>
          </tr>
          <tr>
            <th>Environment</th>
            <td>
              <ul>
                {%- for _, x := range ex.Env -%}
                <li>{%s x %}</li>
                {%- endfor -%}
              </ul>
            </td>
          </tr>
          <tr>
            <th>Started</th>
            <td title="{%s util.TimeToFull(ex.Started) %}">{%s util.TimeRelative(ex.Started) %}</td>
          </tr>
          {%- if ex.Completed != nil -%}
          <tr>
            <th>Completed</th>
            <td title="{%s util.TimeToFull(ex.Completed) %}">{%s util.TimeRelative(ex.Completed) %}</td>
          </tr>
          <tr>
            <th>Exit Code</th>
            <td>{%d ex.ExitCode %}</td>
          </tr>
          {%- endif -%}
        </tbody>
      </table>
    </div>
  </div>
{% endfunc %}

{% func ExecScript(id string, connectURL string, debug bool, ps *cutil.PageState, extraHandlers ...string) %}
  <script>
    function open() {{% if debug %}
      console.log("[socket]: open");
    {% endif %}}
    function recv(m) {
      const tbody = document.getElementById("{%s id %}");
      if(m.cmd !== "output") {
        {%- if len(extraHandlers) == 0 -%}
        console.log("unknown command [" + m.cmd + "] received");
        {%- else -%}
        {%- for _, h := range extraHandlers -%}
        {%s= h %}
        {%- endfor -%}
        return;
        {%- endif -%}
      }
      if (m.param["html"] === undefined) {
        console.log("no [html] key in message param: " + JSON.stringify(m, null, 2));
      }
      const h = m.param["html"].split("\n");
      for (const x in h) {
        const row = document.createElement("tr");
        const numTH = document.createElement("th");
        numTH.innerText = tbody.children.length.toString();
        const textTD = document.createElement("td");
        textTD.innerHTML = h[x];
        row.append(numTH, textTD);
        tbody.append(row);
      }
      const c = document.getElementById("content");
      c.scrollTo(0, c.scrollHeight);
    }
    function err(e) {{% if debug %}
      console.log("[socket error]: " + e);
    {% endif %}}
    window.addEventListener('load', () => {
      new {{{ .Key }}}.Socket({%v debug %}, open, recv, err, "{%s= connectURL %}");
    })
  </script>
{% endfunc %}
