<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/app"
  "projectforge.dev/app/controller/cutil"
  "projectforge.dev/app/util"
  "projectforge.dev/views/components"
  "projectforge.dev/views/layout"
) %}

{% code type About struct { layout.Basic } %}

{% func (p *About) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <em>v{%s as.BuildInfo.Version %}, started {%s util.TimeRelative(&as.Started) %}</em>
  </div>
  <div class="card">
    <h3>Help</h3>
    {%- comment %}$PF_SECTION_START(help)${% endcomment -%}
    <p>Coming soon...</p>
    {%- comment %}$PF_SECTION_END(help)${% endcomment -%}
  </div>
  {%= Feedback() %}
{% endfunc %}

{% func Feedback() %}
<div class="card">
  <h3>Feedback</h3>
  <p>For now, email <a href="mailto:kyle@kyleu.com">Kyle U</a></p>
</div>
{% endfunc %}
