{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type About struct { layout.Basic } %}

{% func (p *About) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <em>v{%s as.BuildInfo.Version %}, started {%= view.TimestampRelative(&as.Started, false) %}</em>
  </div>
  <div class="card">
    <h3>About</h3>
    <p>Using code generation, the latest technology, and a strong standard library, Project Forge will help manage your project's code, assets, UI and UX.</p>
    {%= components.BragApp() %}
  </div>
  <div class="card">
    <h3>Help</h3>
    Pages with help files, like this one, have a <a href="#help">link</a> in the upper-right.
  </div>
  {%= components.BragProject() %}
  <div class="card">
    <h3>Licensing</h3>
    <div class="mt">
      {%s util.AppName %} is <a href="https://choosealicense.com/licenses/mit/">MIT</a> licensed,
      and the modules are <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.
    </div>
    <div class="mt">Your project is your own, use any license you'd like.</div>
  </div>
  {%= SourceCode() %}
  {%= Feedback() %}
{% endfunc %}

{% func SourceCode() %}
  <div class="card">
    <h3>Source Code</h3>
    <p>The project is available on <a href="https://github.com/kyleu/projectforge" target="_blank" rel="noopener noreferrer">GitHub</a></p>
  </div>
{% endfunc %}

{% func Feedback() %}
  <div class="card">
    <h3>Feedback</h3>
    <p>For now, email <a href="mailto:projectforge@kyleu.com">Kyle U</a></p>
  </div>
{% endfunc %}
