<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Debug struct { layout.Basic } %}

{% func (p *Debug) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`graph`, ps) %}{%s ps.Title %}</h3>
    {%- if s, ok := ps.Data.(string); ok -%}
    <div class="overflow full-width"><pre class="mt">{%s s %}</pre></div>
    {%- else -%}
    {%- if util.ArrayTest(ps.Data) -%}
    <div class="overflow full-width">
      <table class="mt">
        <tbody>
          {%- for idx, x := range util.ArrayFromAny[any](ps.Data) -%}
          <tr>
            <th class="shrink">{%d idx + 1 %}</th>
            <td>{%s= components.JSON(x) %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
    {%- else -%}
    <div class="mt">{%s= components.JSON(ps.Data) %}</div>
    {%- endif -%}
    {%- endif -%}
  </div>
{% endfunc %}
