<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Debug struct { layout.Basic } %}

{% func (p *Debug) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s ps.Title %}</h3>
    {%- if s, ok := ps.Data.(string); ok -%}
    <div class="overflow full-width"><pre class="mt">{%s s %}</pre></div>
    {%- else -%}
    <div class="mt">{%s= components.JSON(ps.Data) %}</div>
    {%- endif -%}
  </div>
{% endfunc %}
