{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/exec"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vmodule"
  "projectforge.dev/projectforge/views/vproject"
) %}

{% code type Home struct {
  layout.Basic
  Projects project.Projects
  Execs exec.Execs
  Modules module.Modules
} %}

{% func (p *Home) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <div class="mt">
      <div>Project Forge creates and manages applications written in the <a href="https://go.dev">Go</a> programming language.</div>
      <p><em>Using code generation, the latest technology, and a strong standard library, Project Forge will help manage your project's code, assets, UI and UX.</em></p>
      <a href="/about"><button>Learn More</button></a>
    </div>
  </div>
  {%= vproject.Table(p.Projects, nil, false, p.Execs, as, ps) %}
  {%= vmodule.Table(p.Modules, false, "", as, ps) %}
{% endfunc %}
