<!-- $PF_IGNORE$ -->
{% import (
  "projectforge.dev/app"
  "projectforge.dev/app/controller/cutil"
  "projectforge.dev/app/module"
  "projectforge.dev/app/project"
  "projectforge.dev/app/util"
  "projectforge.dev/views/components"
  "projectforge.dev/views/layout"
  "projectforge.dev/views/vmodule"
  "projectforge.dev/views/vproject"
) %}

{% code type Home struct {
  layout.Basic
  Projects project.Projects
  Modules module.Modules
} %}

{% func (p *Home) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <div class="mt">
      <div>Project Forge manages web projects written in the Go language.</div>
      <em>Using code generation, the latest technology, and a strong standard library, Project Forge will manage your project's code, assets, UI and UX.</em>
    </div>
  </div>
  {%= vproject.Table(p.Projects, as, ps) %}
  {%= vmodule.Table(p.Modules, as, ps) %}
{% endfunc %}
