<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "fmt"
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/telemetry"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% func Render(page layout.Page, as *app.State, ps *cutil.PageState) %}{% code
  ctx, span, _ := telemetry.StartSpan(ps.Context, "html:" + strings.TrimPrefix(fmt.Sprintf("%T", page), "*"), ps.Logger)
  ps.Context = ctx
	defer func() {
    span.Complete()
		x := recover()
		if x != nil {
      ps.LogError("error processing template [%T]: %+v", x, x)
      panic(x)
		}
	}()
%}<!DOCTYPE html>
<html lang="en">
<!-- {%s cutil.PageComment %} -->
<head>{%= page.Head(as, ps) %}</head>
<body{%s= ps.ClassDecl() %}{%- if ps.Action != "" -%}{% space %}data-action="{%s ps.Action %}"{%- endif -%}{% space %}data-version="{%s as.BuildInfo.Version %}">{%- if len(ps.Flashes) > 0 -%}{%= renderFlashes(ps.Flashes) %}{%- endif -%}{%= page.Nav(as, ps) %}
<main id="content"{% if ps.HideMenu %} class="nomenu"{% endif %}>{%= page.Body(as, ps) %}</main>
{%= renderIcons(ps.Icons) %}</body>
</html>
{% endfunc %}

{% func renderFlashes(flashes []string) %}{% stripspace %}
  {% if len(flashes) > 0 %}
    <div id="flash-container">
      {% for idx, f := range flashes %}
        {% code level, msg := util.StringSplit(f, ':', true) %}
        <div class="flash">
          <input type="radio" style="display:none;" id="hide-flash-{%d idx %}">
          <label for="hide-flash-{%d idx %}"><span>×</span></label>
          <div class="content flash-{%s level %}">
            {%s msg %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endstripspace %}{% endfunc %}

{% func renderIcons(icons []string) %}{% stripspace %}
  {% if len(icons) > 0 %}
    <div class="icon-list" style="display: none;">{% newline %}
      {% for _, icon := range icons %}
      {% space %}{% space %}{%= components.SVG(icon) %}{% newline %}
      {% endfor %}
    </div>{% newline %}
  {% endif %}
{% endstripspace %}{% endfunc %}
