{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Testbed struct {
  layout.Basic
  Param any
} %}

{% func (p *Testbed) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %} Testbed</h3>
    {%- if p.Param != nil -%}
    {%= components.JSON(p.Param) %}
    {%- endif -%}
  </div>
  <script>
    async function foo(ab) {
      var byteArray = [];
      for (var i = 0; i < ab.length; ++i) {
        byteArray.push(ab.charCodeAt(i) & 0xff)
      }
      return byteArray;
    }

    (async () => {
      const req = new Request("https://google.com/foo?x=1&y=2", {method: "POST", body: "HELLO!"});
      req.headers.append("Host", "google.com");
      req.headers.append("foo", "bar");
      debugger
    })();
  </script>
{% endfunc %}
