{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],

  "rules": {
    // bundle
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],

    // problems
    "array-callback-return": ["error"],
    "no-await-in-loop": ["error"],
    "no-constant-binary-expression": ["error"],
    "no-constructor-return": ["error"],
    "no-duplicate-imports": ["error"],
    "no-new-native-nonconstructor": ["error"],
    "no-promise-executor-return": ["error"],
    "no-self-compare": ["error"],
    "no-template-curly-in-string": ["error"],
    "no-unmodified-loop-condition": ["error"],
    "no-unreachable-loop": ["error"],
    "no-unused-private-class-members": ["error"],
    "no-use-before-define": ["error"],
    "require-atomic-updates": ["error"],

    // suggestions
    "accessor-pairs": ["error"],
    "block-scoped-var": ["error"],
    "camelcase": ["error"],
    "curly": ["error"],
    "default-case-last": ["error"],
    "default-param-last": ["error"],
    "dot-notation": ["error"],
    "eqeqeq": ["error"],
    "grouped-accessor-pairs": ["error"],
    "logical-assignment-operators": ["error"],
    "max-depth": ["error"],
    "max-lines": ["error"],
    "max-lines-per-function": ["error", { "max": 100 }],
    "max-nested-callbacks": ["error"],
    "max-params": ["error", 6],
    "new-cap": ["error"],
    "no-array-constructor": ["error"],
    "no-caller": ["error"],
    "no-case-declarations": ["error"],
    "no-confusing-arrow": ["error"],
    "no-div-regex": ["error"],
    "no-else-return": ["error"],
    "no-empty-function": ["error"],
    "no-empty-static-block": ["error"],
    "no-eval": ["error"],
    "no-extend-native": ["error"],
    "no-extra-bind": ["error"],
    "no-extra-label": ["error"],
    "no-floating-decimal": ["error"],
    "no-implicit-coercion": ["error"],
    "no-implicit-globals": ["error"],
    "no-implied-eval": ["error"],
    "no-invalid-this": ["error"],
    "no-iterator": ["error"],
    "no-label-var": ["error"],
    "no-lone-blocks": ["error"],
    "no-lonely-if": ["error"],
    "no-loop-func": ["error"],
    "no-negated-condition": ["error"],
    "no-nested-ternary": ["error"],
    "no-new": ["error"],
    "no-new-func": ["error"],
    "no-new-object": ["error"],
    "no-new-wrappers": ["error"],
    "no-proto": ["error"],
    "no-return-assign": ["error"],
    "no-return-await": ["error"],
    "no-script-url": ["error"],
    "no-shadow": ["error"],
    "no-throw-literal": ["error"],
    "no-undef-init": ["error"],
    "no-underscore-dangle": ["error"],
    "no-unneeded-ternary": ["error"],
    "no-unused-expressions": ["error"],
    "no-unused-labels": ["error"],
    "no-useless-call": ["error"],
    "no-useless-computed-key": ["error"],
    "no-useless-concat": ["error"],
    "no-useless-constructor": ["error"],
    "no-useless-rename": ["error"],
    "no-useless-return": ["error"],
    "no-var": ["error"],
    "prefer-arrow-callback": ["error"],
    "prefer-const": ["error"],
    // "prefer-destructuring": ["error"],
    "prefer-numeric-literals": ["error"],
    "prefer-object-has-own": ["error"],
    "prefer-object-spread": ["error"],
    "prefer-promise-reject-errors": ["error"],
    "prefer-regex-literals": ["error"],
    "prefer-rest-params": ["error"],
    "prefer-spread": ["error"],
    // "prefer-template": ["error"],
    // "quote-props": ["error"],
    "radix": ["error"],
    "require-await": ["error"],
    "require-unicode-regexp": ["error"],
    // "sort-imports": ["error"],
    "spaced-comment": ["error"],
    "strict": ["error"],
    "yoda": ["error"],

    // formatting
    "array-bracket-spacing": ["error"],
    "arrow-parens": ["error"],
    "arrow-spacing": ["error"],
    "block-spacing": ["error"],
    "brace-style": ["error"],
    "comma-dangle": ["error"],
    "comma-spacing": ["error"],
    "comma-style": ["error"],
    "computed-property-spacing": ["error"],
    "dot-location": ["error"],
    "eol-last": ["error"],
    "func-call-spacing": ["error"],
    "function-call-argument-newline": ["error", "consistent"],
    "generator-star-spacing": ["error"],
    "implicit-arrow-linebreak": ["error"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "jsx-quotes": ["error"],
    "key-spacing": ["error"],
    "keyword-spacing": ["error"],
    "linebreak-style": ["error"],
    "max-statements-per-line": ["error"],
    "new-parens": ["error"],
    "no-extra-parens": ["error"],
    "no-multi-spaces": ["error"],
    "no-multiple-empty-lines": ["error"],
    "no-tabs": ["error"],
    "no-trailing-spaces": ["error"],
    "no-whitespace-before-property": ["error"],
    "nonblock-statement-body-position": ["error"],
    "object-curly-spacing": ["error"],
    "operator-linebreak": ["error"],
    "padded-blocks": ["error", "never"],
    "quotes": ["error", "double", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "rest-spread-spacing": ["error"],
    "semi": ["error", "always"],
    "semi-spacing": ["error"],
    "semi-style": ["error"],
    "space-before-blocks": ["error"],
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": ["error"],
    "space-infix-ops": ["error"],
    "space-unary-ops": ["error"],
    "switch-colon-spacing": ["error"],
    "template-curly-spacing": ["error"],
    "template-tag-spacing": ["error"],
    "unicode-bom": ["error"],
    "wrap-iife": ["error"],
    "wrap-regex": ["error"],
    "yield-star-spacing": ["error"]
  },

  "env": {
    "browser": true,
    "es2021": true
  }
}
