{% import (
  "fmt"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/file/diff"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Diffs struct {
  layout.Basic
  Results diff.Results
} %}

{% func (p *Diffs) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`list`, ps) %}Diffs</h3>
    <div class="overflow full-width">
      <table>
        <thead>
          <tr>
            <th>Filename</th>
            <th>Source</th>
            <th>Target</th>
            <th>Edits</th>
            <th>Changes</th>
            <th>Patch</th>
          </tr>
        </thead>
        <tbody>
          {%- for _, r := range p.Results -%}
          <tr>
            <td>{%s r.Filename %}</td>
            <td>{%s r.Src %}</td>
            <td>{%s r.Tgt %}</td>
            <td><pre>{%s util.ToJSON(r.Edits) %}</pre></td>
            <td><pre>{%s util.ToJSON(r.Changes) %}</pre></td>
            <td><pre>{%s fmt.Sprint(r.Patch) %}</pre></td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endfunc %}
