{% import (
  "fmt"

  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/diffnew"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/util"
  "github.com/kyleu/projectforge/views/layout"
) %}

{% code type Diffs struct {
  layout.Basic
  Results []*diffnew.Result
} %}

{% func (p *Diffs) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Diffs</h3>
    <table>
      <thead>
        <tr>
          <th>Filename</th>
          <th>Source</th>
          <th>Target</th>
          <th>Diffs</th>
          <th>Changes</th>
          <th>Patch</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, r := range p.Results -%}
        <tr>
          <td>{%s r.Filename %}</td>
          <td>{%s r.Src %}</td>
          <td>{%s r.Tgt %}</td>
          <td><pre>{%s util.ToJSON(r.Diffs) %}</pre></td>
          <td><pre>{%s util.ToJSON(r.Changes) %}</pre></td>
          <td><pre>{%s fmt.Sprint(r.Patch) %}</pre></td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
