{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type List struct { layout.Basic } %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`list`, ps) %} Tests</h3>
    <div class="mt">
      <a href="/test/bootstrap"><button>Rebuild test project</button></a>
      <a href="/test/diff"><button>Text diff tests</button></a>
    </div>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`search`, ps) %} Search Project Definitions</h3>
    <form action="/test/search" method="get" class="mt">
      <input type="text" name="q" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`paperclip`, ps) %} JSON Schema</h3>
    <div class="mt">
      <a href="/test/jsonschema-init"><button type="button">Initialize</button></a>
      <a href="/test/jsonschema-test"><button type="button">Test</button></a>
    </div>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`cog`, ps) %} Modules</h3>
    <div class="mt">
      <a href="/test/libraries"><button type="button">Manage external libraries</button></a>
    </div>
  </div>
{% endfunc %}
