{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Testbed struct {
  layout.Basic
  Param any
} %}

{% func (p *Testbed) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`app`, ps) %} {%s util.AppName %} Testbed</h3>
    {%- if p.Param != nil -%}
    {%= components.JSON(p.Param) %}
    {%- endif -%}
  </div>
  <div class="card">
    <form action="" method="post">
      <h3>{%= components.SVGIcon(`cog`, ps) %} Form Test</h3>
      <div class="mt">
        <textarea class="full-width" name="x" rows="8" placeholder="">{%v p.Param %}</textarea>
      </div>
      <div class="mt">
        <button type="submit">Test</button>
      </div>
    </form>
  </div>
{% endfunc %}
