{% import (
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
) %}

{% func Form(act string, q string, placeholder string, currTags []string, ps *cutil.PageState) %}
  {%- code if placeholder == "" {
    placeholder = "Search"
  } -%}
  <form action="{%s act %}" method="get">
    {%- if len(currTags) > 0 -%}
    <input type="hidden" name="tags" value="{%s util.StringJoin(currTags, `,`) %}" />
    {%- endif -%}
    <div class="right">
      <button class="right" type="submit">{%= components.SVGRef("search", 20, 20, `icon search-icon`, ps) %}</button>
      <input class="right br0" type="text" name="q" value="{%s q %}" placeholder="{%s placeholder %}" />
    </div>
  </form>
{% endfunc %}
