{% import "{{{ .Package }}}/app/util" %}

{% func Indent(br bool, level int) %}{% stripspace %}
  {% if br %}{% newline %}{% endif %}
  {% for _ = range level %}
    {% space %}{% space %}
  {% endfor %}
{% endstripspace %}{% endfunc %}

{% func PlaceholderFor(phs []string) %}{% stripspace %}
  {% if len(phs) > 0 %}{% space %}placeholder="{%s util.StringJoin(phs, "; ") %}"{% endif %}
{% endstripspace %}{% endfunc %}

{% func TitleFor(help []string) %}{% stripspace %}
  {% if len(help) > 0 %}{% space %}title="{%s util.StringJoin(help, "; ") %}"{% endif %}
{% endstripspace %}{% endfunc %}
