{% import (
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
) %}

{% func JSONBytesModal(key string, title string, b []byte, indent int) %}{% stripspace %}
  <div id="modal-{%s key %}" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s title %}</h2>
      </div>
      <div class="modal-body">
        <div id="modal-{%s key %}-data" hidden="hidden" style="display:none;">{%s string(b) %}</div>
        <button type="button" onclick="clip('{%s key %}');return false;">Copy to clipboard</button>
        <div class="mt">{%= JSON(b) %}</div>
      </div>
    </div>
  </div>
  <script>
    function clip(k) {
      if (!navigator.clipboard) {
        return;
      }
      const el = document.getElementById("modal-" + k + "-data");
      navigator.clipboard.writeText(el.innerText);
    }
  </script>
{% endstripspace %}{% endfunc %}

{% func JSONModal(key string, title string, item any, indent int) %}{% stripspace %}
  {%= JSONBytesModal(key, title, util.ToJSONBytes(item, true), indent) %}
{% endstripspace %}{% endfunc %}

{% func JSON(v any) %}{% stripspace %}
  {% code
    var json []byte
    b, ok := v.([]byte)
    if ok {
      json = b
    } else {
      json = util.ToJSONBytes(v, true)
    }
  %}
  {% if len(json) > (1024 * 256) %}
    <div><em>This JSON is too large (<strong>{%s util.ByteSizeSI(int64(len(json))) %}</strong>), highlighting is disabled</em></div>
    <div class="overflow full-width">
      <pre>{%s string(json) %}</pre>
    </div>
  {% else %}
    {% code out, err := cutil.FormatLang(string(json), util.KeyJSON) %}
    {% if err == nil %}
      <div class="overflow full-width">{%s= out %}</div>
    {% else %}
      <div class="error">{%s err.Error() %}</div>
    {% endif %}
  {% endif %}
{% endstripspace %}{% endfunc %}
