{% import (
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
) %}

{% func JSONModal(key string, title string, item any, indent int) %}{% stripspace %}
  <div id="modal-{%s key %}" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s title %}</h2>
      </div>
      <div class="modal-body">
        <div id="modal-{%s key %}-data" hidden="hidden" style="display:none;">{%s util.ToJSON(item) %}</div>
        <button onclick="clip('{%s key %}');">Copy to clipboard</button>
        <div class="mt">
          {%= JSON(item) %}
        </div>
      </div>
    </div>
  </div>
  <script>
    function clip(k) {
      if (!navigator.clipboard) {
        return;
      }
      const el = document.getElementById("modal-" + k + "-data");
      navigator.clipboard.writeText(el.innerText);
    }
  </script>
{% endstripspace %}{% endfunc %}

{% func JSON(v any) %}{% stripspace %}
  {% code
    b, ok := v.([]byte)
    if ok {
      _ = util.FromJSON(b, &v)
    }
  %}
  {% code json := util.ToJSONBytes(v, true) %}
  {% if len(json) > (1024 * 256) %}
    <div class="mt"><em>This JSON is too large (<strong>{%s util.ByteSizeSI(int64(len(json))) %}</strong>), highlighting is disabled</em></div>
    <pre class="mt">{%s string(json) %}</pre>
  {% else %}
    {% code out, err := cutil.FormatLang(string(json), "json") %}
    {% if err == nil %}
      {%s= out %}
    {% else %}
      {%s err.Error() %}
    {% endif %}
  {% endif %}
{% endstripspace %}{% endfunc %}
