{% import (
  "fmt"
  "strings"
  "time"

  "github.com/google/uuid"

  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/views/vutil"
) %}

{% func TableInput(key string, title string, value string, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormInput(key, "input-" + key, value, help...) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableInputPassword(key string, title string, value string, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormInputPassword(key, "input-" + key, value, help...) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableInputNumber(key string, title string, value int, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormInputNumber(key, "input-" + key, value, help...) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableInputFloat(key string, title string, value float64, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormInputFloat(key, "input-" + key, value, help...) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableInputTimestamp(key string, title string, value *time.Time, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormInputTimestamp(key, "input-" + key, value, help...) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableInputTimestampDay(key string, title string, value *time.Time, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormInputTimestampDay(key, "input-" + key, value, help...) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableInputUUID(key string, title string, value *uuid.UUID, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormInputUUID(key, "input-" + key, value, help...) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableTextarea(key string, title string, rows int, value string, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormTextarea(key, "input-" + key, rows, value, help...) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableSelect(key string, title string, value string, opts []string, titles []string, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormSelect(key, "input-" + key, value, opts, titles, indent) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableDatalist(key string, title string, value string, opts []string, titles []string, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label for="input-{%s key %}"{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= FormDatalist(key, "input-" + key, value, opts, titles, indent) %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableRadio(key string, title string, value string, opts []string, titles []string, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label{%= titleFor(help) %}>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>
      {%= FormRadio(key, value, opts, titles, indent + 2) %}
    {%= vutil.Indent(true, indent + 1) %}
    </td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableBoolean(key string, title string, value bool, indent int, help ...string) %}{% stripspace %}
  {%= TableRadio(key, title, fmt.Sprint(value), []string{"true", "false"}, []string{"True", "False"}, indent) %}
{% endstripspace %}{% endfunc %}

{% func TableCheckbox(key string, title string, values []string, opts []string, titles []string, linebreaks bool, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>
      {%= FormCheckbox(key, values, opts, titles, linebreaks, indent + 2) %}
    {%= vutil.Indent(true, indent + 1) %}
    </td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func TableIcons(key string, title string, value string, ps *cutil.PageState, indent int, help ...string) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <th class="shrink"><label>{%s title %}</label></th>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%= IconPicker(value, key, ps, indent + 2) %}
    </td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func titleFor(help []string) %}{% stripspace %}
  {% if len(help) > 0 %}{% space %}title="{%s strings.Join(help, "; ") %}"{% endif %}
{% endstripspace %}{% endfunc %}
