{% import (
  "{{{ .Package }}}/app"{{{ if .HasModule "oauth" }}}
  "{{{ .Package }}}/app/lib/auth"{{{ end }}}
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/theme"
  "{{{ .Package }}}/app/lib/user"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"{{{ if .HasModule "oauth" }}}
  "{{{ .Package }}}/views/vauth"{{{ end }}}
  "{{{ .Package }}}/views/vtheme"
) %}

{% code type Profile struct {
  layout.Basic
  Profile *user.Profile
  Theme *theme.Theme{{{ if .HasModule "oauth" }}}
  Providers auth.Providers{{{ end }}}
  Referrer string
} %}

{% func (p *Profile) Body(as *app.State, ps *cutil.PageState) %}{{{ if .HasModule "oauth" }}}
  {%= vauth.SigninTable(p.Providers, p.Referrer, as, ps) %}{{{ end }}}
  <form action="" method="post">
    <input name="referrer" type="hidden" value="{%s p.Referrer %}" />
    <div class="card">
      <div class="right">
        <a href="#modal-profile"><button type="button">Profile</button></a>
        <a href="#modal-theme"><button type="button">Theme</button></a>
      </div>
      <h3>Profile</h3>
      <table class="mt expanded">
        <tbody>
          {%= components.TableInput("name", "", "Name", ps.Username(), 5) %}
          <tr>
            <th class="shrink"><label>Mode</label></th>
            <td>
              <label>
                {%- if p.Profile.Mode == "" -%}
                <input type="radio" class="mode-input" name="mode" value="" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="" />
                {%- endif -%}
                System Default
              </label>
              <label>
                {%- if p.Profile.Mode == "light" -%}
                <input type="radio" class="mode-input" name="mode" value="light" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="light" />
                {%- endif -%}
                Light
              </label>
              <label>
                {%- if p.Profile.Mode == "dark" -%}
                <input type="radio" class="mode-input" name="mode" value="dark" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="dark" />
                {%- endif -%}
                Dark
              </label>
            </td>
          </tr>
          {%= vtheme.ChoicePanel(as.Themes.All(ps.Logger), "app", 5, ps) %}
        </tbody>
      </table>
      <div class="mt">
        <button type="submit">Save All Changes</button>
        <button type="reset">Reset</button>
      </div>
    </div>
  </form>

  {%= components.JSONModal("profile", "Profile JSON", p.Profile, 1) %}
  {%= components.JSONModal("theme", "Theme JSON", p.Theme, 1) %}
{% endfunc %}
