name: ci

{{{ .CIContent }}}

permissions:
  contents: write

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
        with:
          fetch-depth: 0
      - name: "Golang"
        uses: "actions/setup-go@v2"
        with:
          go-version: "1.17"
      - name: "Cache"
        uses: "actions/cache@v2"
        with:
          path: "~/go/pkg/mod"
          key: "${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}"
          restore-keys: |
            ${{ runner.os }}-go-
      - name: "Dependencies"
        run: "bin/bootstrap.sh"{{{ if .Build.Snapcraft }}}
      - name: "Snapcraft"
        run: "sudo snap install snapcraft --classic"
      - name: "Snapcraft Fix"
        run: "mkdir -p /home/runner/.cache/snapcraft/download; mkdir -p /home/runner/.cache/snapcraft/stage-packages"{{{ end }}}{{{ if .Build.NFPMS }}}
      - name: "nfpms"
        run: "go install github.com/goreleaser/nfpm/v2/cmd/nfpm@latest"{{{ end }}}
      - name: "Config"
        env:
          OWNER: "${{ secrets.REPO_OWNER }}"
          TOKEN: "${{ secrets.PERSONAL_TOKEN }}"
        run: "git config --global url.\"https://${OWNER}:${TOKEN}@github.com\".insteadOf \"https://github.com\""
      - name: "Templates"
        run: "bin/templates.sh"
      - name: "Modules"
        run: "go mod download"
        env:
          GOPRIVATE: "github.com/${{ secrets.REPO_OWNER }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          OWNER: "${{ secrets.REPO_OWNER }}"
          TOKEN: "${{ secrets.PERSONAL_TOKEN }}"
      - name: "Release"
        uses: "goreleaser/goreleaser-action@v2"
        with:
          distribution: "goreleaser"
          version: "latest"
          args: "--snapshot --skip-publish --rm-dist"
        env:
          PUBLISH_TEST: "true"
          GOPRIVATE: "github.com/${{ secrets.REPO_OWNER }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          HOMEBREW_GITHUB_API_TOKEN: "${{ secrets.HOMEBREW_TOKEN }}"
          OWNER: "${{ secrets.REPO_OWNER }}"
          TOKEN: "${{ secrets.PERSONAL_TOKEN }}"
