{% import (
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/action"
  "github.com/kyleu/projectforge/app/diff"
  "github.com/kyleu/projectforge/app/util"
) %}

{% func Detail(cfg util.ValueMap, res *action.Result, incSkipped bool, as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Config</h3>
    <table>
      <tbody>
        {%- for _, k := range cfg.Keys() -%}
        <tr>
          <th class="shrink">{%s k %}</th>
          <td>{%v cfg[k] %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if len(res.Errors) > 0 -%}
  <div class="card">
    <h3>Errors</h3>
    <table>
      <tbody>
        {%- for _, e := range res.Errors -%}
        <tr>
          <td>{%s e %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
  {%- if len(res.Logs) > 0 -%}
  <div class="card">
    <h3>Logs</h3>
    <table>
      <tbody>
        {%- for _, l := range res.Logs -%}
        <tr>
          <td><pre>{%s l %}</pre></td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
  {%- for _, mr := range res.Modules -%}
    {%- code
      links := ""
      for mIdx, mk := range mr.Keys {
        if mIdx > 0 {
          links += ", "
        }
        links += `<a href="/m/` + mk + `">` + mk + `</a>`
      }
    -%}
    <div class="card">
      <div class="right">{%s util.MicrosToMillis(mr.Duration) %}</div>
      <h3>{%s util.PluralMaybe("Module", len(mr.Keys)) %} [{%s= links %}]</h3>
      <em>{%s mr.Status %}</em>
      {%- if len(mr.Actions) > 0 -%}
      <h4>Actions</h4>
      {%- for _, a := range mr.Actions -%}
        <a href="{%s a.URL() %}"><button>{%s a.Title %}</button></a>
      {%- endfor -%}
      {%- endif -%}
      {%- if len(mr.Diffs) > 0 -%}
      <h4>Diffs</h4>
      <table>
        <thead>
          <tr>
            <th class="shrink">Path</th>
            <th class="shrink">Status</th>
            <th class="shrink">Patch</th>
          </tr>
        </thead>
        <tbody>
        {%- for _, d := range mr.Diffs -%}
          {%- if incSkipped || d.Status != diff.StatusSkipped -%}
          <tr>
            <td class="shrink">{%s d.Path %}</td>
            <td>{%s d.Status.String() %}</td>
            <td>{%s= d.Patch %}</td>
          </tr>
          {%- endif -%}
        {%- endfor -%}
        </tbody>
      </table>
      {%- endif -%}
    </div>
  {%- endfor -%}
{% endfunc %}
