{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project/action"
  "projectforge.dev/projectforge/app/util"
) %}

{% func Detail(cfg util.ValueMap, res *action.Result, includeSkipped bool, as *app.State, ps *cutil.PageState) %}
  {%- if len(cfg) > 0 -%}
  <div class="card">
    <h3>Config</h3>
    <div class="overflow full-width">
      <table>
        <tbody>
          {%- for _, k := range cfg.Keys() -%}
          <tr>
            <th class="shrink">{%s k %}</th>
            <td>{%v cfg[k] %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
  {%- if len(res.Errors) > 0 -%}
  <div class="card">
    <div class="right">{%s util.StringPlural(len(res.Errors), "error") %}</div>
    <h3>Errors</h3>
    <ul class="mt">
      {%- for _, e := range res.Errors -%}
      <li class="error">{%s e %}</li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
  {%- if len(res.Logs) > 0 -%}
  <div class="card">
    <h3>Logs</h3>
    <div class="mt">
      <div class="overflow full-width">
        <table>
          <tbody>
            {%- for idx, l := range res.Logs -%}
            <tr>
              <td class="shrink">{%d idx + 1 %}</td>
              <td><code>{%s l %}</code></td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {%- endif -%}
  {%- for _, mr := range res.Modules -%}
    <div class="card">
      <div class="right">{%s util.MicrosToMillis(mr.Duration) %}</div>
      <h3>{%s util.StringPlural(len(mr.Keys), "Module") %}</h3>
      <div class="right">{%s= res.StatusLog() %}</div>
      <div class="mts">
        <em>{%s mr.Status %}</em>
        {%- if len(mr.Actions) > 0 -%}
        <h4>Actions</h4>
        {%- for _, a := range mr.Actions -%}
          <a href="{%s a.URL() %}"><button>{%s a.Title %}</button></a>
        {%- endfor -%}
        {%- endif -%}
        {%- code diffs := mr.DiffsFiltered(includeSkipped) -%}
        {%- if len(diffs) > 0 -%}
        <div class="overflow">
        {%= renderDiffs(res.Project.Key, res.Action, diffs, cfg, as, ps) %}
        </div>
      </div>
      {%- endif -%}
    </div>
  {%- endfor -%}
{% endfunc %}
