{% import (
  "projectforge.dev/app"
  "projectforge.dev/app/controller/cutil"
  "projectforge.dev/app/action"
  "projectforge.dev/app/util"
) %}

{% func Detail(cfg util.ValueMap, res *action.Result, includeSkipped bool, as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Config</h3>
    <table>
      <tbody>
        {%- for _, k := range cfg.Keys() -%}
        <tr>
          <th class="shrink">{%s k %}</th>
          <td>{%v cfg[k] %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if len(res.Errors) > 0 -%}
  <div class="card">
    <div class="right">{%d len(res.Errors) %} {%s util.StringPluralMaybe("error", len(res.Errors)) %}</div>
    <h3>Errors</h3>
    <ul>
      {%- for _, e := range res.Errors -%}
      <li class="error">{%s e %}</li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
  {%- if len(res.Logs) > 0 -%}
  <div class="card">
    <h3>Logs</h3>
    <table>
      <tbody>
        {%- for _, l := range res.Logs -%}
        <tr>
          <td><pre>{%s l %}</pre></td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
  {%- for _, mr := range res.Modules -%}
    {%- code
      links := ""
      for mIdx, mk := range mr.Keys {
        if mIdx > 0 {
          links += ", "
        }
        links += `<a href="/m/` + mk + `">` + mk + `</a>`
      }
    -%}
    <div class="card">
      <div class="right">{%s util.MicrosToMillis(mr.Duration) %}</div>
      <h3>{%s util.StringPluralMaybe("Module", len(mr.Keys)) %} [{%s= links %}]</h3>
      <div class="right">{%s= res.StatusLog() %}</div>
      <em>{%s mr.Status %}</em>
      {%- if len(mr.Actions) > 0 -%}
      <h4>Actions</h4>
      {%- for _, a := range mr.Actions -%}
        <a href="{%s a.URL() %}"><button>{%s a.Title %}</button></a>
      {%- endfor -%}
      {%- endif -%}
      {%- code diffs := mr.DiffsFiltered(includeSkipped) -%}
      {%- if len(diffs) > 0 -%}
      {%= renderDiffs(res.Project.Key, diffs, as, ps) %}
      {%- endif -%}
    </div>
  {%- endfor -%}
{% endfunc %}
