{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/project/action"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/file/diff"
  "projectforge.dev/projectforge/app/util"
) %}

{% func renderDiffs(prjKey string, act action.Type, diffs diff.Diffs, cfg util.ValueMap, as *app.State, ps *cutil.PageState) %}{% stripspace %}
    <h4 class="mt">Diffs</h4>
    {%- switch act.Key -%}
    {%- case "audit" -%}
    <div class="mt">
      <a href="/run/{%s prjKey %}/audit?fix=remove" title="Remove all audited files from project"><button>Purge All</button></a>
      {%- if diffs.HasStatus(diff.StatusDifferent) -%}{% space %}
      <a href="/run/{%s prjKey %}/audit?fix=header" title="Remove header from all audited files"><button>Fix All</button></a>
      {%- endif -%}
    </div>
    {%- case "build" -%}
    <div class="mt">
      <a href="/run/{%s prjKey %}/build?phase=imports&fix=true" title="Fix all imports for incorrect files"><button>Fix All</button></a>
    </div>
    {%- endswitch -%}
    <table>
      <thead>
        <tr>
          <th class="shrink">Path</th>
          <th class="shrink">Status</th>
          <th class="shrink">Actions</th>
          <th class="shrink">Patch</th>
        </tr>
      </thead>
      <tbody>
      {%- for _, d := range diffs -%}
        <tr>
          <td class="shrink">
            {%- if strings.Contains(d.Path, "..") || d.Status.Key == diff.StatusNew.Key -%}
            {%s d.Path %}
            {%- else -%}
            <a href="/p/{%s prjKey %}/fs/{%s d.Path %}" target="_blank">{%s d.Path %}</a>
            {%- endif -%}
          </td>
          <td>{%s d.Status.StringFor(act.Key) %}</td>
          <td>
            {%- switch act.Key -%}
            {%- case "audit" -%}
            <form action="/run/{%s prjKey %}/audit" method="get">
              <input type="hidden" name="file" value="{%s d.Path %}" />
              <button type="submit" name="fix" value="remove" title="Remove file from project">Purge</button>{% space %}
              {%- if d.Status.Key == diff.StatusDifferent.Key -%}
              <button type="submit" name="fix" value="header" title="Remove header from file">Fix</button>
              {%- endif -%}
            </form>
            {%- case "preview" -%}
            <form action="/run/{%s prjKey %}/merge" method="get">
              <input type="hidden" name="file" value="{%s d.Path %}" />
              {%- if d.Status.String() != "new" -%}
              <button type="submit" name="to" value="module" title="Incorporate change into module">&lt;-</button>{% space %}
              {%- endif -%}
              <button type="submit" name="to" value="project" title="Overwrite project changes with module version">-&gt;</button>
            </form>
            {%- case "build" -%}
              {%- switch cfg.GetStringOpt("phase") -%}
              {%- case "imports" -%}
                <form action="/run/{%s prjKey %}/build" method="get">
                  <input type="hidden" name="fix" value="true" />
                  <input type="hidden" name="phase" value="imports" />
                  <input type="hidden" name="file" value="{%s d.Path %}" />
                  <button type="submit" title="Reorder modules">Fix</button>
                </form>
              {%- case "deployments" -%}
                {%- if d.Status != diff.StatusIdentical -%}
                <form action="/run/{%s prjKey %}/build" method="get">
                  <input type="hidden" name="fix" value="true" />
                  <input type="hidden" name="phase" value="deployments" />
                  <input type="hidden" name="file" value="{%s d.Path %}" />
                  <button type="submit" title="Update deployment">Fix</button>
                </form>
                {%- endif -%}
              {%- endswitch -%}
            {%- endswitch -%}
          </td>
          <td>{%= renderPatch(d.Patch, as, ps) %}</td>
        </tr>
      {%- endfor -%}
      </tbody>
    </table>
{% endstripspace %}{% endfunc %}

{% func renderPatch(patch string, as *app.State, ps *cutil.PageState) %}{% stripspace %}
  {% code lines := strings.Split(patch, "\n") %}
  <pre>
    {% for _, line := range lines %}
      {% if len(line) > 0 %}
        {% switch line[0] %}
        {% case ' ' %}
        <div title="unchanged" style="color: grey;">{%s line[1:] %}{% if len(line) == 1 %}&nbsp;{% endif %}</div>
        {% case '+' %}
        <div title="added" style="color: green;">{%s line[1:] %}{% if len(line) == 1 %}&nbsp;{% endif %}</div>
        {% case '-' %}
        <div title="removed" style="color: red;">{%s line[1:] %}{% if len(line) == 1 %}&nbsp;{% endif %}</div>
        {% default %}
        {%s line %}
        {% endswitch %}
      {% endif %}
    {% endfor %}
  </pre>
{% endstripspace %}{% endfunc %}
