{% import (
  "slices"
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/file/diff"
  "projectforge.dev/projectforge/app/project/action"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
) %}

{% func renderDiffs(as *app.State, prjKey string, act action.Type, diffs diff.Diffs, cfg util.ValueMap, ps *cutil.PageState) %}{% stripspace %}
    <h4 class="mt">Diffs</h4>
    {%- switch act.Key -%}
    {%- case "audit" -%}
    <div class="mt">
      <a href="/run/{%s prjKey %}/audit?fix=remove" title="Remove all audited files from project"><button>Purge All</button></a>
      {%- if diffs.HasStatus(diff.StatusDifferent) -%}{% space %}
      <a href="/run/{%s prjKey %}/audit?fix=header" title="Remove header from all audited files"><button>Fix All</button></a>
      {%- endif -%}
    </div>
    {%- case "build" -%}
    {%- if cfg.GetStringOpt("phase") == "imports" %}
    <div class="mt">
      <a href="/run/{%s prjKey %}/build?phase=imports&fix=true" title="Fix all imports for incorrect files"><button>Fix All</button></a>
    </div>
    {%- endif -%}
    {%- endswitch -%}
    <div class="overflow full-width">
      <table>
        <thead>
          <tr>
            <th class="shrink">Path</th>
            <th class="shrink">Status</th>
            <th class="shrink">Actions</th>
            <th class="shrink">Patch</th>
          </tr>
        </thead>
        <tbody>
        {%- code upstreamCapableFiles := cfg.GetStringArrayOpt("upstreamCapableFiles") -%}
        {%- for _, d := range diffs -%}
          <tr>
            <td class="shrink">
              {%- if strings.Contains(d.Path, "..") || d.Status.Matches(diff.StatusNew) -%}
              {%s d.Path %}
              {%- else -%}
              {%= view.URL("/p/" + prjKey + "/fs/" + d.Path, d.Path, true, ps) %}
              {%- endif -%}
            </td>
            <td>{%s d.Status.StringFor(act.Key) %}</td>
            <td class="nowrap">
              {%- switch act.Key -%}
              {%- case "audit" -%}
              <form action="/run/{%s prjKey %}/audit" method="get">
                <input type="hidden" name="file" value="{%s d.Path %}" />
                <button type="submit" name="fix" value="remove" title="Remove file from project">Purge</button>{% space %}
              </form>
              {%- case "preview" -%}
              <form action="/run/{%s prjKey %}/generate" method="get">
                <input type="hidden" name="file" value="{%s d.Path %}" />
                {%- if d.Status.String() != "new" -%}
                <button type="submit" name="to" value="ignore" title="Mark file as ignored">{%= components.SVGButton("close", ps) %}</button>{% space %}
                {%- if slices.Contains(upstreamCapableFiles, d.Path) -%}
                <button type="submit" name="to" value="rebuild" title="Attempt merging local changes into module source">{%= components.SVGButton("backward", ps) %}</button>{% space %}
                {%- endif -%}
                {%- endif -%}
                <button type="submit" name="to" value="project" title="Overwrite project changes with module version">{%= components.SVGButton("forward", ps) %}</button>
              </form>
              {%- case "build" -%}
                {%- switch cfg.GetStringOpt("phase") -%}
                {%- case "imports" -%}
                  <form action="/run/{%s prjKey %}/build" method="get">
                    <input type="hidden" name="fix" value="true" />
                    <input type="hidden" name="phase" value="imports" />
                    <input type="hidden" name="file" value="{%s d.Path %}" />
                    <button type="submit" title="Reorder modules">Fix</button>
                  </form>
                {%- case "deployments" -%}
                  {%- if d.Status != diff.StatusIdentical -%}
                  <form action="/run/{%s prjKey %}/build" method="get">
                    <input type="hidden" name="fix" value="true" />
                    <input type="hidden" name="phase" value="deployments" />
                    <input type="hidden" name="file" value="{%s d.Path %}" />
                    <button type="submit" title="Update deployment">Fix</button>
                  </form>
                  {%- endif -%}
                {%- endswitch -%}
              {%- endswitch -%}
            </td>
            <td>{%= renderPatch(as, d.Patch, ps) %}</td>
          </tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
{% endstripspace %}{% endfunc %}

{% func renderPatch(as *app.State, patch string, ps *cutil.PageState) %}{% stripspace %}
  {% code sections := action.ParsePatchString(patch) %}
  <pre>
    {% for _, sec := range sections %}
      {% if sec.Useful() %}
      {% code secID := util.RandomID() %}
      <div id="{%s secID %}-data" hidden="hidden" style="display:none;">{%s sec.Render() %}</div>
      <div title="{%s sec.Type %}{% space %}(click to copy)" class="{%s sec.CSSClass() %}" style="cursor: pointer;" onclick="clipDiff('{%s secID %}');">
      {% else %}
      <div title="{%s sec.Type %}" class="{%s sec.CSSClass() %}">
      {% endif %}
        {% for _, line := range sec.Lines %}
          {% if len(line) > 0 %}
            {% if sec.Type == "location" %}
            <div>{%s line %}</div>
            {% else %}
            <div>{%s line[1:] %}{% if len(line) == 1 %}&nbsp;{% endif %}</div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </pre>
{% endstripspace %}{% endfunc %}

{% func renderDiffScript() %}
  <script>
    function clipDiff(k) {
      if (!navigator.clipboard) {
        return;
      }
      const el = document.getElementById(k + "-data");
      navigator.clipboard.writeText(el.innerText);
    }
  </script>
{% endfunc %}
