{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/task"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Tasks task.Tasks
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`task`, ps) %} Registered Tasks</h3>
    <div class="overflow full-width">
      <table class="mt min-200 expanded">
        <thead>
          <tr>
            <th>Key</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {%- if len(p.Tasks) == 0 -%}
          <tr>
            <td colspan="3"><em>no tasks available</em></td>
          </tr>
          {%- endif -%}
          {%- for _, t := range p.Tasks -%}
          <tr>
            <td class="shrink"><a href="{%s t.WebPath() %}">{%= components.SVGInline(t.IconSafe(), 16, ps) %} {%s t.Key %}</a></td>
            <td>{%s t.TitleSafe() %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endfunc %}
