/* Content managed by Project Forge, see [projectforge.md] for details. */
.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion li {
  border-top: var(--border);
}
.accordion li:first-child {
  border-top: none;
}

.accordion .bd {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms;
}

@media (prefers-reduced-motion) {
  .accordion .bd {
    transition: none;
  }
}

.accordion .bd-no-animation {
  display: none;
  padding: var(--padding-small);
}

.accordion .bd > div {
  height: auto;
  overflow: hidden;
}

.accordion .bd > div > div {
  padding: var(--padding-small);
}

.accordion label {
  display: block;
  cursor: pointer;
  user-select: none;
  padding: var(--padding-small);
}

.accordion input[type=checkbox]:checked ~ .bd-no-animation {
  display: block;
}

.accordion input[type=checkbox]:checked ~ .bd {
  grid-template-rows: 1fr;
}

.accordion input[type=checkbox]:checked ~ label .expand-collapse {
  transform: rotate(90deg);
}
