/* Content managed by Project Forge, see [projectforge.md] for details. */
.menu-container {
  position: fixed;
  top: var(--nav-height);
  left: 0;
  width: var(--menu-width);
  min-width: var(--menu-width);
  height: calc(100% - var(--nav-height));
  overflow: auto;
  color: var(--color-menu-foreground);
  background-color: var(--color-menu-background);
  transition: transform 250ms ease-in-out;
}

@media (prefers-reduced-motion) {
  .menu-container {
    transition: none;
  }
}

@media (max-width: 800px) {
  .menu-container {
    transform: translateX(calc(-1 * var(--menu-width)));
    min-width: 0;
  }
}

.menu-container .menu {
  color: var(--color-menu-foreground);
  background-color: var(--color-menu-background);
  padding: var(--padding) 0 calc(var(--padding) * 2) 0;
}

.menu-container ul, .menu-container menu {
  margin: 0;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.menu-container li {
  white-space: nowrap;
}

.menu-container .item, .menu-container label {
  display: block;
  padding: 4px 0;
  user-select: none;
}

.menu-container .item {
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
}

.menu-container a.item {
  text-decoration: none;
}

.menu-container a:hover.item>span{
  text-decoration:underline;
}

.menu-container .final {
  color: var(--color-menu-selected-foreground);
  background-color: var(--color-menu-selected-background);
}

.menu-container .separator {
  margin: var(--padding-small) 0;
  border-bottom: 1px solid var(--color-menu-selected-background);
}

.menu-container .item svg {
  margin-left: 19px;
}

.menu-container .item .badge svg {
  position: relative;
  margin-left: 0;
  top: 0;
}

.menu-container a {
  color: var(--color-menu-foreground);
}

.menu-container label {
  cursor: pointer;
}

.menu-container .badge {
  float: right;
  margin-right: var(--padding);
  font-size: 75%;
  padding-top: 2px;
  color: var(--color-foreground-muted);
}

.level-0 .item, .level-0 label {
  padding-left: var(--menu-padding);
}

.level-1 .item, .level-1 label {
  padding-left: calc(var(--menu-padding) * 2);
}

.level-2 .item, .level-2 label {
  padding-left: calc(var(--menu-padding) * 3);
}

.level-3 .item, .level-3 label {
  padding-left: calc(var(--menu-padding) * 4);
}

.level-4 .item, .level-4 label {
  padding-left: calc(var(--menu-padding) * 5);
}

.level-5 .item, .level-5 label {
  padding-left: calc(var(--menu-padding) * 6);
}

.level-6 .item, .level-6 label {
  padding-left: calc(var(--menu-padding) * 7);
}

.level-7 .item, .level-7 label {
  padding-left: calc(var(--menu-padding) * 8);
}

.level-8 .item, .level-8 label {
  padding-left: calc(var(--menu-padding) * 8);
}

.menu-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms;
}

@media (prefers-reduced-motion) {
  .menu-content {
    transition: none;
  }
}

.menu-container input[type=checkbox]:checked + label + .menu-content {
  grid-template-rows: 1fr;
}

.menu-container input[type=checkbox]:checked + label .expand-collapse {
  transform: rotate(90deg);
}
