table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}

table tr {
  margin: 0;
  padding: 0;
}

table th label {
  display: block;
}

table td,
table th {
  padding: var(--padding-small);
  border-bottom: var(--border);
  margin: 0;
  min-width: 1px;
  vertical-align: top;
}

table tbody tr:last-child td,
table tbody tr:last-child th {
  border-bottom: none;
}

table thead th {
  margin: 0;
  text-align: left;
  font-weight: bold;
}

table.expanded {
  width: 100%;
}

table .shrink {
  width: 1px;
  white-space: nowrap;
}

.min-200 > tr > th:first-child,
.min-200 > thead > tr > th:first-child,
.min-200 > tbody > tr > th:first-child,
.min-200 > tr > td:first-child,
.min-200 > thead > tr > td:first-child,
.min-200 > tbody > tr > td:first-child {
  min-width: 200px;
}

table .resize {
  padding: var(--padding-small);
  resize: horizontal;
  overflow: hidden;
  width: 100%;
}

table .noresize {
  padding: var(--padding-small);
}

@supports (-moz-appearance: none) {
  table .resize {
    min-width: 100%;
  }
}

table .tfill {
  width: 99%;
  border-bottom: none;
}

table.centered th,
table.centered td {
  text-align: center;
}

table.centered th.left-align,
table.centered td.left-align {
  text-align: left;
}

table.terminal th {
  font-family: monospace;
  padding: 2px var(--padding);
  border-right: var(--border);
  cursor: default;
}

table.terminal td {
  font-family: monospace;
  padding: 2px var(--padding);
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

table.results {
  background-color: var(--color-background);
  position: relative;
}

table.results > thead > tr > th {
  background-color: var(--color-background);
  position: sticky;
  top: var(--nav-height);
}

table.results > tbody > tr > th {
  background-color: var(--color-background);
  position: sticky;
  left: var(--menu-width);
}

table.results .pkhead {
  left: var(--menu-width);
  z-index: 2;
  border-right: var(--border);
}

table.results .pkcol {
  border-right: var(--border);
}

@media (max-width: 800px) {
  table.results .pkhead {
    left: 0;
  }
  table.results .pkcol {
    left: 0;
  }
}
