.tabs {
  margin-top: var(--padding);
  margin-bottom: var(--padding);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-background-muted);
  border: var(--border);
  padding: 0;
}

.tabs.padded {
  margin-left: var(--padding);
  margin-right: var(--padding);
}

.tabs .input {
  position: absolute;
  opacity: 0;
}

.tabs .label {
  width: auto;
  cursor: pointer;
  padding: var(--padding-small);
  margin-left: var(--padding-small);
  transition: background-color 250ms linear;
}

@media (prefers-reduced-motion) {
  .tabs .label {
    transition: none;
  }
}

.tabs .input:checked + .label {
  background-color: var(--color-background);
  border-left: var(--border);
  border-right: var(--border);
}

.tabs .panel {
  padding: var(--padding);
  background-color: var(--color-background);
  width: 100%;
  display: none;
  order: 99;
}

.tabs .input:checked + .label + .panel {
  display: block;
}
