.theme-container {
  display: flex;
  flex-wrap: wrap;
}

.theme-container .theme-item {
  margin: 0 var(--padding);
}

.mockup {
  text-align: left;
  margin: auto;
  width: 166px;
  height: 126px;
  font-size: 80%;
}

.mockup .mock-link:hover, .mockup .mock-link-visited:hover, .mockup .mock-link-selected:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mockup .mock-nav {
  height: 18px;
}

.mockup .mock-nav .icon {
  margin-left: 2px;
}

.mockup .mock-muted {
  margin: 2px 6px;
  padding: 2px;
}

.mockup .mock-menu {
  float: left;
  width: 30px;
  height: 102px;
}
.mockup .mock-menu .mock-link, .mockup .mock-menu .mock-link-selected {
  padding-left: 4px;
}

.mockup .mock-main {
  padding: 4px 4px 4px 30px;
  height: 102px;
}
.mockup .mock-main ul {
  margin-top: var(--padding-small);
}

.mockup .mock-list {
  margin-left: 2px;
  padding-left: 4px;
}

.icon-container {
  margin: var(--padding);
  width: 80px;
  text-align: center;
}
.icon-container svg {
  width: 64px;
  height: 64px
}

.choice label {
  display: block;
  float: left;
  margin-right: var(--padding);
}

.choice input {
  display: none;
}

.choice .title {
  text-align: center;
  cursor: pointer;
}

.choice input ~ * {
  border: 3px solid transparent;
}
.choice input:checked ~ * {
  border: 3px solid var(--color-background-muted);
  background-color: var(--color-background-muted);
}

.only-light-theme { display: inline-block; }
.only-dark-theme { display: none; }
.mode-light .only-light-theme { display: inline-block; }
.mode-light .only-dark-theme { display: none; }
.mode-dark .only-light-theme { display: none; }
.mode-dark .only-dark-theme { display: inline-block; }

@media (prefers-color-scheme: dark) {
  .only-light-theme { display: none; }
  .only-dark-theme { display: inline-block; }
  .mode-light .only-light-theme { display: inline-block; }
  .mode-light .only-dark-theme { display: none; }
  .mode-dark .only-light-theme { display: none; }
  .mode-dark .only-dark-theme { display: inline-block; }
}
