* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.hidden {
  opacity: 0;
}

.margin {
  margin: var(--padding);
}

.mt {
  margin-top: var(--padding);
}

.mb {
  margin-bottom: var(--padding);
}

.ml {
  margin-left: var(--padding);
}

.mr {
  margin-right: var(--padding);
}

.pt {
  padding-top: var(--padding);
}

.pb {
  padding-bottom: var(--padding);
}

.pl {
  padding-left: var(--padding);
}
.pls {
  padding-left: var(--padding-small);
}

.pr {
  padding-right: var(--padding);
}
.prs {
  padding-right: var(--padding-small);
}

.overflow {
  overflow: auto;
}

.nowrap {
  white-space: nowrap;
}

.error {
  color: var(--color-error);
}

.success {
  color: var(--color-success);
}

.pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
}

.margin {
  margin: var(--padding);
}

.break-word {
  word-wrap: break-word;
  word-break: break-all;
}

.two-pane {
  display: flex;
}
.two-pane .l {
  flex-grow: 1;
}
.two-pane .r {
  padding-left: var(--padding-small);
}

.pre {
  font-family: monospace, monospace;
  white-space: pre;
}

.prews {
  white-space: pre;
}

.expand, .collapse {
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}

.sort-title {
  padding-right: 24px;
}

.sort-icon {
  display: inline-block;
  float: right;
  height: 18px;
  width: 18px;
}

.sort-hover .sort-icon {
  display: none;
}

.sort-hover:hover .sort-icon {
  display: block;
}

.svg-fill {
  fill: currentColor;
}

.svg-stroke {
  stroke: currentColor;
}

.error-owned {
  color: green;
}

.error-location {
  margin-left: 16px;
  margin-bottom: 8px;
}

.icon {
  float: left;
  margin-right: 4px;
  margin-top: 2px;
}

.icon-block {
  margin-right: 4px;
}

.icon-gallery-icon {
  text-align: center;
  margin: var(--padding-small) var(--padding) var(--padding-small) 0;
  padding: var(--padding-small);
  border: var(--border);
}
.icon-gallery-icon .gallery-svg {
  color: var(--color-foreground-muted);
}
.icon-gallery-icon .gallery-title {
  font-size: 75%;
}

.small-text {
  font-size: 80%;
}

.border-left {
  border-left: var(--border);
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-align-stretch {
  align-items: stretch;
}

.text-align-right {
  text-align: right;
}

.toggle label {
  cursor: pointer;
  display: block;
  width: 100%;
}

.toggle .x {
  display: none;
}

.toggle input[type=checkbox]:checked ~ label {
  display: none;
}

.toggle input[type=checkbox]:checked ~ .x {
  display: block;
}
