{% import (
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/module"
  "github.com/kyleu/projectforge/app/project"
  "github.com/kyleu/projectforge/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Module *module.Module
  Usages project.Projects
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  {%- code mod := p.Module -%}
  {%= Summary(mod, ps) %}
  <div class="card">
    <h3>Details</h3>
    <table class="mt">
      <tbody>
        <tr>
          <th>Key</th>
          <td>{%s mod.Key %}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{%s mod.Name %}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{%s mod.Description %}</td>
        </tr>
        <tr>
          <th>Author</th>
          <td><a href="mailto:{%s mod.AuthorEmail %}">{%s mod.AuthorName %}</a></td>
        </tr>
        <tr>
          <th>License</th>
          <td>{%s mod.License %}</td>
        </tr>
        <tr>
          <th>Sourcecode</th>
          <td><a href="{%s mod.Sourcecode %}" target="_blank">{%s mod.Sourcecode %}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- if p.Module.UsageHTML() != "" -%}
  <div class="card">
    {%s= p.Module.UsageHTML() %}
  </div>
  {%- endif -%}
  <div class="card">
    <h3>Project Usages</h3>
    <ul>
      {%- if len(p.Usages) == 0 -%}
      <li><em>not referenced</em></li>
      {%- endif -%}
      {%- for _, x := range p.Usages -%}
      <li><a href="/p/{%s x.Key %}">{%s x.Title() %}</a></li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}
