{% import (
  "path/filepath"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/filesystem"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vfile"
) %}

{% code type Files struct {
  layout.Basic
  Module *module.Module
  Path []string
  FS filesystem.FileLoader
} %}

{% func (p *Files) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    mod := p.Module
    u := "/m/" + mod.Key + "/fs"
  -%}

  {%= Summary(mod, nil, ps) %}

  {%- if p.FS.IsDir(filepath.Join(p.Path...)) -%}
  {%- code files := p.FS.ListFiles(filepath.Join(p.Path...), nil, ps.Logger) -%}
  <div class="card">
    {%= vfile.List(p.Path, files, p.FS, u, as, ps) %}
  </div>
  {%- else -%}
  {%- code
    b, err := p.FS.ReadFile(filepath.Join(p.Path...))
    if err != nil {
      panic(err)
    }
  -%}
  <div class="card">
    {%- code links := map[string]string{"Download": "?download=true"} -%}
    {%= vfile.Detail(p.Path, b, u, links, as, ps) %}
  </div>
  {%- endif -%}
{% endfunc %}
