{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
) %}

{% func Table(mods module.Modules, full bool, dir string, as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if dir != "" -%}
    <div class="right"><em>{%s dir %}</em></div>
    {%- endif -%}
    <h3><a href="/m">{%= components.SVGIcon(`archive`, ps) %}</a> <a href="/m">{%s util.StringPlural(len(mods), "Available Module") %}</a></h3>
    <div class="overflow full-width">
      <table class="mt min-200">
        {%- if full -%}
        <thead>
          <tr>
            <th class="shrink">Title</th>
            <th>Description</th>
          </tr>
        </thead>
        {%- endif -%}
        <tbody>
          {%- for _, mod := range mods -%}
          <tr>
            <td class="shrink"><a href="/m/{%s mod.Key %}">{%= components.SVGRef(mod.IconSafe(), 16, 16, "icon", ps) %} {%s mod.Title() %}</a></td>
            <td>{%s mod.Description %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endfunc %}
