{% import (
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/site/download"
  "github.com/kyleu/projectforge/app/util"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/views/layout"
) %}

{% code type Download struct {
  layout.Basic
  Links download.Links
} %}

{% func (p *Download) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Download {%s util.AppName %} {%s as.BuildInfo.Version %}</h3>
  </div>

  <div class="card">
    <h3>Desktop Version</h3>
    <em>Standalone application using your platform's native web viewer</em>
    <ul>
      {%- for _, link := range p.Links.GetByModes("desktop") -%}
      <li><a href="https://github.com/kyleu/projectforge/releases/download/v{%s as.BuildInfo.Version %}/{%s link.URL %}">{%s link.OSString() %}</a></li>
      {%- endfor -%}
    </ul>
  </div>

  <div class="card">
    <h3>Server Version</h3>
    <em>A command line interface that can launch a web server</em>
    <table class="mt">
      <tbody>
        {%- code var currentOS string -%}
        {%- for _, link := range p.Links.GetByModes("server", "mobile") -%}
        {%- if currentOS != link.OS -%}
        {%- if currentOS != "" -%}
          </td>
        </tr>
        {%- endif -%}
        {%- code currentOS = link.OS -%}
        <tr>
          <td>{%s link.OSString() %}</td>
          <td>
        {%- endif -%}
            {%- if link.OS == "linux" && (link.Arch == "ppc64" || link.Arch == "mips64_hardfloat" || link.Arch == "mips_hardfloat") -%}
            <br />
            {%- endif -%}
            <a href="https://github.com/kyleu/projectforge/releases/download/v{%s as.BuildInfo.Version %}/{%s link.URL %}">{%s link.Arch %}</a>
        {%- endfor -%}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}
