<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/site/download"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Download struct {
  layout.Basic
  Links download.Links
} %}

{% func (p *Download) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon("download", ps) %} Download {%s util.AppName %} {%s as.BuildInfo.Version %}</h3>
  </div>
  {%= downloadShowLinks("server", "database", "Server Version", "A command line interface that can launch a web server or run commands", p.Links, as.BuildInfo.Version, ps) %}
  {%= downloadShowLinks("desktop", "desktop", "Desktop Version", "Standalone application using your platform's native web viewer", p.Links, as.BuildInfo.Version, ps) %}
  {%= downloadShowLinks("mobile", "mobile", "Mobile Version", "Libraries and apps for Mobile Platforms", p.Links, as.BuildInfo.Version, ps) %}
{% endfunc %}

{% func downloadShowLinks(mode string, icon string, title string, desc string, links download.Links, v string, ps *cutil.PageState) %}
  {%- code modeLinks := links.GetByModes(mode) -%}
  {%- if len(modeLinks) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(icon, ps) %}{%s title %}</h3>
    <em>{%s desc %}</em>
    <table class="mt">
      <tbody>
        {%- code var currentOS string -%}
        {%- for _, link := range modeLinks -%}
        {%- if currentOS != link.OS -%}
        {%- if currentOS != "" -%}
          </td>
        </tr>
        {%- endif -%}
        {%- code currentOS = link.OS -%}
        <tr>
          <td style="width: 25%;">
            {%= components.SVGRef(link.OSIcon(), 20, 20, "icon", ps) %}
            {%s link.OSString() %}
          </td>
          <td>
        {%- endif -%}
            {%- if link.OS == download.OSLinux && (link.Arch == download.ArchPPC64 || link.Arch == download.ArchMIPS64LEHard || link.Arch == download.ArchMIPSHard) -%}
            <div class="mt"></div>
            {%- endif -%}
            <a href="https://github.com/kyleu/projectforge/releases/download/v{%s v %}/{%s link.URL %}"><button>{%s link.Arch %}</button></a>
        {%- endfor -%}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endfunc %}
