{% import (
  "path/filepath"
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/module"
  "github.com/kyleu/projectforge/views/layout"
  "github.com/kyleu/projectforge/views/vfile"
) %}

{% code type FeatureFiles struct {
  layout.Basic
  Module *module.Module
  Path []string
} %}

{% func (p *FeatureFiles) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    mod := p.Module
    fs := as.Services.Modules.GetFilesystem(mod.Key)
    u := "/features/" + mod.Key + "/files"
    println(filepath.Join(p.Path...))
  -%}

  {%- if fs.IsDir(filepath.Join(p.Path...)) -%}
  {%- code files := fs.ListFiles(filepath.Join(p.Path...), nil) -%}
  {%= vfile.List(p.Path, files, fs, u, as, ps) %}
  {%- else -%}
  {%- code
    b, err := fs.ReadFile(filepath.Join(p.Path...))
    if err != nil {
      panic(err)
    }
  -%}
  {%= vfile.Detail(p.Path, b, u, as, ps) %}
  {%- endif -%}
{% endfunc %}
