{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type FeatureList struct {
  layout.Basic
  Modules module.Modules
} %}

{% func (p *FeatureList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %} Features</h3>
    <ul class="mt">
      {%- for _, mod := range p.Modules -%}
      <li>
        <a href="/features/{%s mod.Key %}">{%= components.SVGRefIcon(mod.Icon, ps) %}{%s mod.Title() %}</a>
        <div class="clear"><em>{%s mod.Description %}</em></div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}
