{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vmodule"
) %}

{% code type FeatureDetail struct {
  layout.Basic
  Module *module.Module
  HTML string
} %}

{% func (p *FeatureDetail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="{%s p.Module.FeaturesPath() %}/files"><button>Files</button></a></div>
    <h3>{%= components.SVGIcon(p.Module.Icon, ps) %} {%s p.Module.Title() %}</h3>
    <em>{%s p.Module.Description %}</em>
  </div>
  {%= vmodule.ModuleTech(p.Module, ps) %}
  <div class="card markdown">
    {%s= p.HTML %}
  </div>
{% endfunc %}
