{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vfile"
) %}

{% code type FeatureFiles struct {
  layout.Basic
  Module *module.Module
  Path []string
} %}

{% func (p *FeatureFiles) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    mod := p.Module
    fs := as.Services.Modules.GetFilesystem(mod.Key)
    u := mod.FeaturesFilePath()
  -%}

  {%- if fs.IsDir(util.StringFilePath(p.Path...)) -%}
  {%- code files := fs.ListFiles(util.StringFilePath(p.Path...), nil, ps.Logger) -%}
  <div class="card">
    <h3>{%= components.SVGIcon(p.Module.Icon, ps) %} {%s p.Module.Title() %}</h3>
    {%= vfile.List(as, p.Path, files, fs, u, ps) %}
  </div>
  {%- else -%}
  {%- code
    b, err := fs.ReadFile(util.StringFilePath(p.Path...))
    if err != nil {
      panic(err)
    }
  -%}
  <div class="card">
    <h3>{%= components.SVGIcon(p.Module.Icon, ps) %} {%s p.Module.Title() %}</h3>
    {%= vfile.Detail(as, p.Path, b, u, nil, ps) %}
  </div>
  {%- endif -%}
{% endfunc %}
