{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type FeatureDetail struct {
  layout.Basic
  Module *module.Module
  HTML string
} %}

{% func (p *FeatureDetail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="{%s p.Module.FeaturesPath() %}/files"><button>Files</button></a></div>
    <h3>{%= components.SVGRefIcon(p.Module.Icon, ps) %}{%s p.Module.Title() %}</h3>
    <em>{%s p.Module.Description %}</em>
    {%s= p.HTML %}
  </div>
{% endfunc %}
