{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/module"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type FeatureList struct {
  layout.Basic
  Modules module.Modules
} %}

{% func (p *FeatureList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %} Features</h3>
  </div>
  {%- for _, mod := range p.Modules -%}
    <a class="link-section" href="/m/{%s mod.Key %}">
      <div class="card">
        <div class="left mrs">{%= components.SVGRef(mod.IconSafe(), 40, 40, "", ps) %}</div>
        <strong class="highlight">{%s mod.Title() %}</strong>
        <div><em>{%s mod.Description %}</em></div>
      </div>
    </a>
  {%- endfor -%}
{% endfunc %}
