<!-- $PF_IGNORE$ -->
{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Index struct { layout.Basic } %}

{% func (p *Index) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %}</h3>

    <div class="mt">
      <a href="/download"><button>{%= components.SVGRef("download", 15, 15, "icon", ps) %}Download</button></a>
      <a href="https://github.com/kyleu/projectforge"><button>{%= components.SVGRef("git", 15, 15, "icon", ps) %}Source Code</button></a>
    </div>
    {%= components.BragApp() %}
  </div>
  <div class="card">
    <h3>Examples</h3>
    <ul>
      <li><a href="https://github.com/kyleu/rituals.dev" target="_blank">Rituals.dev</a>: Work with your team to estimate work, track your progress, and gather feedback.</li>
      <li><a href="https://github.com/kyleu/admini" target="_blank">Admini</a>: A database management application, basically. It does other stuff too.</li>
      <li><em>More examples coming soon...</em></li>
    </ul>
  </div>
  {%= components.BragProject() %}
  <div class="card">
    <h3>Licensing</h3>
    <div class="mt">
      {%s util.AppName %} is <a href="https://choosealicense.com/licenses/mit/">MIT</a> licensed,
      and the modules are <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.
    </div>
    <div class="mt">Your project is your own, use any license you'd like.</div>
  </div>
{% endfunc %}
