<!-- $PF_IGNORE$ -->
{% import (
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/util"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/views/components"
  "github.com/kyleu/projectforge/views/layout"
) %}

{% code type Index struct { layout.Basic } %}

{% func (p *Index) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <div class="mt">
      <div>Project Forge manages web projects written in the Go language.</div>
      <em>Using code generation, the latest technology, and a strong standard library, Project Forge will manage your project's code, assets, UI and UX.</em>
    </div>
    <p>
      <a href="/download"><button>Download</button></a>
      <a href="https://github.com/kyleu/projectforge"><button>Source Code</button></a>
    </p>
  </div>
  <div class="card">
    <h3>A project managed by Project Forge...</h3>
    <ul class="mt">
      <li>Has a beautiful and fast HTML UI, no JavaScript required</li>
      <li>Optimizes for speed and developer experience</li>
      <li>Builds in seconds, live-reloads in dev mode when code or templates change</li>
      <li>Builds to dozens of platforms; mobile, desktop, weird architectures, macOS universal apps</li>
      <li>Uses ESBuild for a TypeScript client with SVGs and modern CSS</li>
    </ul>
  </div>
{% endfunc %}
