{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/lib/audit"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/filter"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *audit.Audit
  Params filter.ParamSet
  Records audit.Records
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-audit"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`cog`, ps) %} Audit [{%s p.Model.String() %}]</h3>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= components.DisplayUUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">App</th>
          <td>{%s p.Model.App %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Act</th>
          <td>{%s p.Model.Act %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Client</th>
          <td>{%s p.Model.Client %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Server</th>
          <td>{%s p.Model.Server %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">User</th>
          <td>{%s p.Model.User %}</td>
        </tr>
        <tr>
          <th class="shrink" title="JSON object">Metadata</th>
          <td>{%= components.JSON(p.Model.Metadata) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Message</th>
          <td>{%s p.Model.Message %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Started</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Started) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Completed</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Completed) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%- if len(p.Records) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`cog`, ps) %} Audit Records</h3>
    {%= RecordTable(p.Records, p.Params, as, ps) %}
  </div>
  {%- endif -%}
  {%= components.JSONModal("audit", "Audit JSON", p.Model, 1) %}
{% endfunc %}
