{% import (
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
) %}

{% func JSON(v any) %}{% stripspace %}
  {% code
    b, ok := v.([]byte)
    if ok {
      _ = util.FromJSON(b, &v)
    }
  %}
  {% code out, err := cutil.FormatJSON(v) %}
  {% if err == nil %}
    {%s= out %}
  {% else %}
    {%s err.Error() %}
  {% endif %}
{% endstripspace %}{% endfunc %}

{% func JSONInline(v any) %}{% stripspace %}
  {% code
    b, ok := v.([]byte)
    if ok {
      _ = util.FromJSON(b, &v)
    }
  %}
  {%s util.ToJSON(v) %}
{% endstripspace %}{% endfunc %}
