<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
) %}

{% func Float(key string, id string, value any, placeholder ...string) %}{% stripspace %}
  {% if id == "" %}
    <input name="{%s key %}" type="number" step="any" value="{%v value %}"{%= components.PlaceholderFor(placeholder) %} />
  {% else %}
    <input id="{%s id %}" name="{%s key %}" type="number" step="any" value="{%v value %}"{%= components.PlaceholderFor(placeholder) %} />
  {% endif %}
{% endstripspace %}{% endfunc %}

{% func FloatVertical(key string, id string, title string, value float64, indent int, help ...string) %}{% stripspace %}
  {%- code id = cutil.CleanID(key, id) -%}
  <div class="mb expanded">
    {%= components.Indent(true, indent + 1) %}
    <label for="{%s id %}"><em class="title">{%s title %}</em></label>
    {%= components.Indent(true, indent + 1) %}
    <div class="mt">{%= Float(key, id, value, help...) %}</div>
  {%= components.Indent(true, indent) %}
  </div>
{% endstripspace %}{% endfunc %}

{% func FloatTable(key string, id string, title string, value float64, indent int, help ...string) %}{% stripspace %}
  {%- code id = cutil.CleanID(key, id) -%}
  <tr>
    {%= components.Indent(true, indent + 1) %}
    <th class="shrink"><label for="{%s id %}"{%= components.TitleFor(help) %}>{%s title %}</label></th>
    {%= components.Indent(true, indent + 1) %}
    <td>{%= Float(key, id, value, help...) %}</td>
  {%= components.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}
