{% import (
  "projectforge.dev/projectforge/app/lib/types"
) %}

{% func Option(key string, id string, x any, t *types.Option) %}{% stripspace %}
  {% switch t.V.Key() %}
  {% case types.KeyBool %}
    {%= Bool(key, id, x.(bool), true) %}
  {% default %}
    <div class="two-pane">
      <div class="l">{%= AnyByType(key, id, x, t.V) %}</div>
      <div class="r"><button title="click to set field to null" type="button" onclick="projectforge.setSiblingToNull(this);">∅</button></div>
    </div>
  {% endswitch %}
{% endstripspace %}{% endfunc %}
