{% import (
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
) %}

{% func RichEditor(key string, id string, title string, columns []*util.FieldDesc, values []any, placeholder ...string) %}{% stripspace %}
  {% code if values == nil { values = []any{} } %}
  <div class="rich-editor" data-key="{%s key %}" data-title="{%s title %}" data-columns="{%j util.ToJSONCompact(columns) %}">
    {%= Textarea(key, id, 8, util.ToJSON(values), placeholder...) %}
  </div>
{% endstripspace %}{% endfunc %}

{% func RichEditorTable(key string, id string, title string, columns []*util.FieldDesc, values []any, placeholder ...string) %}{% stripspace %}
  <tr>
    <th class="shrink"><label for="{%s id %}">{%s title %}</label></th>
    <td>
      {%= RichEditor(key, id, title, columns, values, placeholder...) %}
    </td>
  </tr>
{% endstripspace %}{% endfunc %}

{% func RichEditorCard(key string, id string, title string, ps *cutil.PageState, headerExtra string, icon string, columns []*util.FieldDesc, values []any, placeholder ...string) %}{% stripspace %}
  <div class="card">
    <div class="right">
      {%- if headerExtra != "" -%}
      {%s= headerExtra %}{% space %}
      {%- endif -%}
      <button type="button" class="toggle-editor toggle-editor-{%s key %}">Editor</button>
    </div>
    <h3 title="{%s util.StringJoin(placeholder, `; `) %}">{% if icon != "" %}{%= components.SVGIcon(icon, ps) %}{% space %}{% endif %}{%s title %}</h3>
    <div class="mt expanded">
      {%= RichEditor(key, "input-" + key, title, columns, values, placeholder...) %}
    </div>
  </div>
{% endstripspace %}{% endfunc %}
