{% import (
  "net/http"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type TableEditorPage struct {
  layout.Basic
  Key string
  Icon string
  Description string
  Action string
  SaveLabel string
  FieldDescs util.FieldDescs
  Values util.ValueMap
} %}

{% func (p *TableEditorPage) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(util.Choose(p.Icon == "", "edit", p.Icon), ps) %} {%s util.Choose(ps.Title == "", p.Key, ps.Title) %}</h3>
    {%- if p.Description != "" %}
    <div class="mts"></div><em>{%s p.Description %}</em></div>
    {%- endif -%}
    {%= TableEditor(p.Key, p.FieldDescs, p.Values, p.Action, http.MethodPost, util.Choose(p.SaveLabel == "", p.Key, p.SaveLabel)) %}
  </div>
{% endfunc %}

{% func TableEditor(key string, columns util.FieldDescs, values util.ValueMap, action string, method string, title string) %}
  <form action="{%s action %}" method="{%s method %}">
    {%= TableEditorNoForm(key, columns, values, "", "", title) %}
  </form>
{% endfunc %}

{% func TableEditorNoForm(key string, columns util.FieldDescs, values util.ValueMap, name string, value string, title string) %}
  <div class="overflow full-width">
    <table class="mt min-200 expanded">
      <tbody>
        {%= TableEditorNoTable(key, columns, values) %}
        <tr>
          {%- if name == "" -%}
          <td colspan="2"><button type="submit">{%s title %}</button></td>
          {%- else -%}
          <td colspan="2"><button name="{%s name %}" value="{%s value %}" type="submit">{%s title %}</button></td>
          {%- endif -%}
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func TableEditorNoTable(key string, columns util.FieldDescs, values util.ValueMap) %}{% stripspace %}
  {%- for _, arg := range columns -%}
    {%- switch arg.Type -%}
    {%- case "bool" -%}
      {%= BoolTable(arg.Key, arg.TitleSafe(), values.GetBoolOr(arg.Key, arg.DefaultBool(), true), 3, arg.Description) %}
    {%- case "textarea" -%}
      {%= TextareaTable(arg.Key, "", arg.TitleSafe(), 12, values.GetStringOr(arg.Key, arg.Default, true), 3, arg.Description) %}
    {%- case "number", "int" -%}
      {%= IntTable(arg.Key, "", arg.TitleSafe(), values.GetIntOr(arg.Key, arg.DefaultInt(), true), 3, arg.Description) %}
    {%- case "float" -%}
      {%= FloatTable(arg.Key, "", arg.TitleSafe(), values.GetFloatOr(arg.Key, arg.DefaultFloat(), true), 3, arg.Description) %}
    {%- case "uuid" -%}
      {%- code u, _ := values.ParseUUID(arg.Key, true, true) -%}
      {%= UUIDTable(arg.Key, "", arg.TitleSafe(), u, 3, arg.Description) %}
    {%- case "select" -%}
      {%= SelectTable(arg.Key, "", arg.TitleSafe(), values.GetStringOr(arg.Key, arg.Default, true), arg.Choices, nil, 3, arg.Description) %}
    {%- case "radio" -%}
      {%= RadioTable(arg.Key, arg.TitleSafe(), values.GetStringOr(arg.Key, arg.Default, true), arg.Choices, nil, 3, arg.Description) %}
    {%- default -%}
      {%= DatalistTable(arg.Key, "", arg.TitleSafe(), values.GetStringOr(arg.Key, arg.Default, true), arg.Choices, nil, 3, arg.Description) %}
    {%- endswitch -%}
  {%- endfor -%}
{% endstripspace %}{% endfunc %}
