{% import (
  "github.com/robert-nix/ansihtml"

  "{{{ .Package }}}/app/util"
) %}

{% func Terminal(id string, s string) %}{% stripspace %}
  {%- code
    raw := string(ansihtml.ConvertToHTML([]byte(s)))
    lines := util.StringSplitLines(raw)
    if len(lines) > 0 && lines[len(lines) - 1] == "" {
      lines = lines[:len(lines) - 1]
    }
  -%}
  <div class="overflow full-width">
    <table class="mt output">
      <tbody id="{%s id %}">
        <tr><td class="shrink"></td><td></td></tr>
        {%- for idx, line := range lines -%}
        <tr style="font-family: monospace;"><td>{%d idx + 1 %}</td><td><div class="line">{%s= line %}</div></td></tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endstripspace %}{% endfunc %}
