<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/exec"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/edit"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Form struct {
  layout.Basic
  Exec *exec.Exec
} %}

{% func (p *Form) Body(as *app.State, ps *cutil.PageState) %}
  {%- code x := p.Exec -%}
  <form action="" method="post" class="mt expanded">
    <div class="card">
      <h3>{%= components.SVGIcon("desktop", ps) %} New Process</h3>
      <div class="overflow full-width">
        <table class="mt min-200 expanded">
          <tbody>
            {%= edit.StringTable("key", "", "Key", x.Key, 5, "optional, defaults to command") %}
            {%= edit.StringTable("cmd", "", "Command", x.Cmd, 5, "command to execute, with arguments") %}
            {%= edit.StringTable("path", "", "Path", x.Path, 5) %}
            {%= edit.TextareaTable("env", "", "Env Vars", len(x.Env), strings.Join(x.Env, "\n"), 5) %}
            <tr>
              <td colspan="2"><button class="mt" type="submit">Create</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
{% endfunc %}
