<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/exec"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Execs exec.Execs
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/admin/exec/new" title="start a new process">{%= components.SVGRefIcon(`plus`, ps) %}</a></div>
    <h3>{%= components.SVGRefIcon(`desktop`, ps) %} {%s util.StringPlural(len(p.Execs), "Process") %}</h3>
    {%= Table(p.Execs, as, ps) %}
  </div>
{% endfunc %}
