{% import (
  "fmt"
  "strings"

  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/har"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
) %}

{% func RenderEntryOptions(key string, e *har.Entry, js bool) %}
  <div class="right">
    <a href="#modal-entry-{%s key %}-curl"><button type="button">cURL</button></a>
    {%- if js -%}
    <a href="#modal-entry-{%s key %}"><button type="button">JSON</button></a>
    {%- endif -%}
  </div>
{% endfunc %}

{% func RenderEntryModals(key string, e *har.Entry, js bool) %}
  {%- if js -%}
  {%= components.JSONModal(fmt.Sprintf("entry-%s", key), e.String(), e.Cleaned(), 3) %}
  {%- endif -%}
  <div id="modal-entry-{%s key %}-curl" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>cURL {%s e.String() %}</h2>
      </div>
      <div class="modal-body">
        <div id="modal-entry-{%s key %}-curl-data" hidden="hidden" style="display:none;">{%s e.Curl() %}</div>
        <button onclick="clip('{%s key %}');">Copy to clipboard</button>
        <div class="mt">
          <pre>{%s e.Curl() %}</pre>
        </div>
      </div>
    </div>
  </div>
{% endfunc %}

{% func RenderEntry(key string, e *har.Entry, ps *cutil.PageState) %}
  <table class="min-200 expanded">
    <tbody>
      <tr>
        <th class="shrink">Duration</th>
        <td>{%s util.MicrosToMillis(e.Duration()) %}
          <em>{%s strings.Join(e.PageTimings.Strings(), ", ") %}</em>
        </td>
      </tr>
      <tr>
        <th class="shrink">Request</th>
        <td>{%= RenderRequest(key, e.Request, ps) %}</td>
      </tr>
      <tr>
        <th class="shrink">Response Size</th>
        <td>{%s util.ByteSizeSI(int64(e.Response.Size())) %}</td>
      </tr>
      <tr>
        <th class="shrink">Response</th>
        <td>{%= RenderResponse(key, e.Response, ps) %}</td>
      </tr>
    </tbody>
  </table>
{% endfunc %}
