{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Hars []string
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`upload`, ps) %} HTTP Archives</h3>
    <div>
      <form action="" method="post" enctype="multipart/form-data">
        <div class="mt"><input type="file" name="f" /></div>
        <div class="mt"><input type="text" name="n" placeholder="Name (optional)" /></div>
        <div class="mt"><button type="submit">Upload HAR</button></div>
      </form>
    </div>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`book`, ps) %} Managed Archives</h3>
    <ul class="mts">
      {%- for _, r := range p.Hars -%}
      <li><a href="/har/{%s r %}">{%s r %}</a></li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}
