{% import (
  "fmt"
  "strings"

  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/har"
  "{{{ .Package }}}/app/util"
) %}

{% func RenderRequest(key string, r *har.Request, ps *cutil.PageState) %}
  <table class="min-200 expanded">
    <tbody>
      <tr>
        <th class="shrink">Method</th>
        <td>{%s r.Method %}</td>
      </tr>
      <tr>
        <th class="shrink">URL</th>
        <td><a target="_blank" rel="noopener noreferrer" href="{%s r.URL %}">{%s r.URL %}</a></td>
      </tr>
      <tr>
        <th class="shrink">Headers </th>
        <td>{%= renderNVPsHidden(fmt.Sprintf("request-header-%s", key), "Header", r.Headers, r.HeadersSize, ps) %}</td>
      </tr>
      {%- if len(r.QueryString) > 0 -%}
      <tr>
        <th class="shrink">Query String</th>
        <td>{%= renderNVPsHidden(fmt.Sprintf("request-query-string-%s", key), "Query String", r.QueryString, 0, ps) %}</td>
      </tr>
      {%- endif -%}
      {%- if len(r.Cookies) > 0 -%}
      <tr>
        <th class="shrink">Cookies</th>
        <td>{%= renderCookiesHidden(fmt.Sprintf("request-cookies-%s", key), r.Cookies, ps) %}</td>
      </tr>
      {%- endif -%}
      {%- if r.PostData != nil -%}
      <tr>
        <th class="shrink">Body  <em>{%s util.ByteSizeSI(int64(r.BodySize)) %}</em></th>
        <td>
          {%s r.PostData.String() %}
          {%- if len(r.PostData.Params) > 0 -%}
          <ul>
            {%- for _, param := range r.PostData.Params -%}
            <li><strong>{%s param.Name %}</strong>: {%s param.Value %}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}

{% func renderCookiesHidden(key string, cookies har.Cookies, ps *cutil.PageState) %}
  <ul class="accordion">
    <li>
      <input id="accordion-cookies-{%s key %}" type="checkbox" hidden />
      <label class="no-padding" for="accordion-cookies-{%s key %}">{%d len(cookies) %} {%s util.StringPluralMaybe("Cookie", len(cookies)) %} <em>(click to show)</em></label>
      <div class="bd">{%= renderCookies(key, cookies, ps) %}</div>
    </li>
  </ul>
{% endfunc %}

{% func renderCookies(key string, cs har.Cookies, ps *cutil.PageState) %}
  <table>
    <thead>
      <tr>
        <th class="shrink">Name</th>
        <th class="shrink">Value</th>
        <th class="shrink">Path</th>
        <th class="shrink">Domain</th>
        <th class="shrink">Expires</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {%- for i, c := range cs -%}
      <tr>
        <td>{%s c.Name %}</td>
        <td>
          {%- if len(c.Value) > 64 -%}
          <ul class="accordion">
            <li>
              <input id="accordion-{%s key %}-cookie-{%d i %}" type="checkbox" hidden />
              <label class="no-padding" for="accordion-{%s key %}-cookie-{%d i %}">{%s c.Value[:64] %}...</label>
              <div class="bd">{%s c.Value %}</div>
            </li>
          </ul>
          {%- else -%}
          {%s c.Value %}
          {%- endif -%}
        </td>
        <td>{%s c.Path %}</td>
        <td>{%s c.Domain %}</td>
        <td title="{%s util.TimeToFull(c.Exp()) %}">{%s c.ExpRelative() %}</td>
        <td>{%s strings.Join(c.Tags(), ", ") %}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endfunc %}

{% func renderNVPsHidden(key string, title string, nvps har.NVPs, size int, ps *cutil.PageState) %}
  <ul class="accordion">
    <li>
      <input id="accordion-{%s key %}" type="checkbox" hidden />
      <label class="no-padding" for="accordion-{%s key %}">
        {%- if size > 0 -%}
        <div class="right"><em>{%s util.ByteSizeSI(int64(size)) %}</em></div>
        {%- endif -%}
        {%d len(nvps) %} {%s util.StringPluralMaybe(title, len(nvps)) %}
        <em>(click to show)</em>
      </label>
      <div class="bd">{%= renderNVPs(nvps, ps) %}</div>
    </li>
  </ul>
{% endfunc %}

{% func renderNVPs(nvps har.NVPs, ps *cutil.PageState) %}
  <table>
    <tbody>
      {%- for _, n := range nvps -%}
      <tr title="{%s n.Comment %}">
        <th class="shrink">{%s n.Name %}</th>
        <td>{%s n.Value %}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endfunc %}
