{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type WASM struct {
  layout.Basic
} %}

{% func (p *WASM) Body(as *app.State, ps *cutil.PageState) %}
<div class="card">
  <h3>{%= components.SVGIcon(`gift`, ps) %} {%s util.AppName %} WASM</h3>
  <em id="load-status">Loading...</em>
</div>
<div class="card">
  <h3>Audits</h3>
  <ul id="audit-log"></ul>
</div>
<script>
  function wasmInit(ms) {
    document.getElementById("load-status").innerText = "Loaded in [" + ms + "ms]";
  }
</script>
{%= components.WASMScript(nil) %}
{% endfunc %}
