{% import (
  "os"
  "path/filepath"

  "$PF_PACKAGE$/app"
  "$PF_PACKAGE$/app/filesystem"
  "$PF_PACKAGE$/app/controller/cutil"
  "$PF_PACKAGE$/views/components"
) %}

{% func List(path []string, files []os.FileInfo, fs filesystem.FileLoader, urlPrefix string, as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Files!</h3>
    <div class="mt">
    {%- for _, f := range files -%}
      {%- code
        icon := "file-text"
        if f.IsDir() {
          icon = "folder"
        }
        x := []string{urlPrefix}
        x = append(x, path...)
        x = append(x, f.Name())
        u := filepath.Join(x...)
      -%}
      <div><a href="{%s u %}">{%= components.SVGRef(icon, 16, 16, `icon`, ps) %}{%s f.Name() %}</a></div>
    {%- endfor -%}
    </div>
  </div>
{% endfunc %}
