{% import (
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/util"
  "github.com/kyleu/projectforge/views/layout"
) %}

{% code type Form struct {
  layout.Basic
  Dir string
} %}

{% func (p *Form) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Initialize Project</h3>
    <em>{%s p.Dir %}</em>
    <p>{%s util.AppName %} has not been initialized in this directory</p>
    <form action="" method="post">
      <button type="submit">Initialize</button>
    </form>
  </div>
{% endfunc %}
