<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>{{{ .Exec }}}</string>
    <key>CFBundleGetInfoString</key>
    <string>{{{ .Exec }}}</string>
    <key>CFBundleIconFile</key>
    <string>icons</string>
    <key>CFBundleIdentifier</key>
    <string>{{{ .Info.Bundle }}}</string>
    <key>CFBundleName</key>
    <string>{{{ .Name }}}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>localhost</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                <false/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
       </dict>
    </dict>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
