{% import (
  "runtime/debug"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Modules struct {
  layout.Basic
  Info *util.DebugInfo
} %}

{% func (p *Modules) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s util.AppName %} v{%s as.BuildInfo.Version %}</h3>
    <ul class="mt">
      {%- for _, k := range p.Info.Tags.Order -%}
      <li><strong>{%s k %}</strong>: {%s p.Info.Tags.GetSimple(k) %}</li>
      {%- endfor -%}
    </ul>
  </div>
  {%= moduleList(p.Info.Mods) %}
{% endfunc %}

{% func moduleList(Mods []*debug.Module) %}
  <div class="card">
    <h3>Go Modules</h3>
    <table class="mt">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, m := range Mods -%}
        <tr>
          <td><a target="_blank" rel="noopener noreferrer" href="https://{%s m.Path %}">{%s m.Path %}</a></td>
          <td title="{%s m.Sum %}">{%s m.Version %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
