{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Form struct {
  layout.Basic
} %}

{% func (p *Form) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`cog`, ps) %}Parse Form</h3>
    <form action="" method="post" enctype="multipart/form-data">
      <div class="mt">
        <input type="file" name="f" />
      </div>
      <div class="mt">
        <button type="submit">Test</button>
      </div>
    </form>
  </div>
{% endfunc %}
