{% import (
  "$PF_PACKAGE$/app"
  "$PF_PACKAGE$/app/site/download"
  "$PF_PACKAGE$/app/util"
  "$PF_PACKAGE$/app/controller/cutil"
  "$PF_PACKAGE$/views/layout"
) %}

{% code type Download struct {
  layout.Basic
  Links download.Links
} %}

{% func (p *Download) Body(as *app.State, ps *cutil.PageState) %}
  {% code var l *download.Link %}
  <div class="card">
    <h3>Download {%s util.AppName %}</h3>
  </div>

  <div class="card">
    <h3>Desktop Version</h3>
    <em>Standalone application using your platform's native web viewer</em>
    <ul>
      <li>
        macOS
        <ul>
          {% code l = p.Links.Get("desktop", "macos", "x86_64") %}
          <li><a href="{%s l.URL %}">{%s l.URL %}</a></li>
        </ul>
      </li>
      <li>
        Linux
        <ul>
          {% code l = p.Links.Get("desktop", "linux", "x86_64") %}
          <li><a href="{%s l.URL %}">{%s l.URL %}</a></li>
        </ul>
      </li>
      <li>
        Windows
        <ul>
          {% code l = p.Links.Get("desktop", "windows", "x86_64") %}
          <li><a href="{%s l.URL %}">{%s l.URL %}</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="card">
    <h3>Server Version</h3>
    <em>A command line interface exposing a multiuser web server</em>
    <ul>
      <li>
        macOS
        <ul>
          {% code l = p.Links.Get("server", "macos", "x86_64") %}
          <li><a href="{%s l.URL %}">{%s l.URL %}</a></li>
        </ul>
      </li>
      <li>
        Linux
        <ul>
          {% code l = p.Links.Get("server", "linux", "x86_64") %}
          <li><a href="{%s l.URL %}">{%s l.URL %}</a></li>
        </ul>
      </li>
      <li>
        Windows
        <ul>
          {% code l = p.Links.Get("server", "windows", "x86_64") %}
          <li><a href="{%s l.URL %}">{%s l.URL %}</a></li>
        </ul>
      </li>
    </ul>
  </div>
{% endfunc %}
