{% import (
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project/action"
  "projectforge.dev/projectforge/views/components"
) %}

{% func BuildOptions(key string, forAll bool, ps *cutil.PageState) %}
  {%- code
    acts := action.AllBuilds
    if forAll {
      acts = acts.ForAllProjects()
    }
  -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`hammer`, ps) %} Build your project</h3>
    <div class="mt overflow full-width">
      <table class="min-200">
        <thead>
          <tr>
            <th class="shrink">Action</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {%- for _, b := range acts -%}
          <tr>
            <td><a href="/run/{%s key %}/build?phase={%s b.Key %}" title="{%s b.Description %}"><button>{%s b.Title %}</button></a></td>
            <td>{%s b.Description %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endfunc %}
