{% import (
  "projectforge.dev/projectforge/app/project/action"
) %}

{% func BuildOptions(key string) %}
  <div class="card">
    <h3>Build your project</h3>
    <table class="mt">
      <thead>
        <tr>
          <th>Action</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, b := range action.AllBuilds -%}
        <tr>
          <td><a href="/run/{%s key %}/build?phase={%s b.Key %}" title="{%s b.Description %}"><button>{%s b.Title %}</button></a></td>
          <td>{%s b.Description %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
