{% import (
  "projectforge.dev/app"
  "projectforge.dev/app/action"
  "projectforge.dev/app/controller/cutil"
  "projectforge.dev/app/git"
  "projectforge.dev/app/project"
  "projectforge.dev/app/util"
  "projectforge.dev/views/components"
  "projectforge.dev/views/layout"
  "projectforge.dev/views/vproject"
) %}

{% code type BuildResult struct {
  layout.Basic
  Project *project.Project
  BuildResult *action.Result
  GitResult *git.Result
} %}

{% func (p *BuildResult) Body(as *app.State, ps *cutil.PageState) %}
  {%- code prj := p.Project -%}
  {%= vproject.Summary(prj, p.GitResult, nil, ps) %}

  <div class="card">
    <h3>Build your project</h3>
    <table class="mt">
      <thead>
        <tr>
          <th>Action</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, b := range action.AllBuilds -%}
        <tr>
          <td><a href="/b/{%s prj.Key %}/{%s b.Key %}" title="{%s b.Description %}"><button>{%s b.Title %}</button></a></td>
          <td>{%s b.Description %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if p.BuildResult != nil -%}
  {%- code br := p.BuildResult -%}
  <div class="card">
    <div class="right"><em>{%s br.Status %} [{%s util.MicrosToMillis(br.Duration) %}]</em></div>
    <h3>Result</h3>
    <pre>{%s br.LogBlock("\n") %}</pre>
    {%= components.JSON(br) %}
  </div>
  {%- endif -%}
{% endfunc %}
