{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/action"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/git"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vaction"
  "projectforge.dev/projectforge/views/vproject"
) %}

{% code type BuildResult struct {
  layout.Basic
  Project *project.Project
  BuildResult *action.Result
  GitResult *git.Result
} %}

{% func (p *BuildResult) Body(as *app.State, ps *cutil.PageState) %}
  {%- code prj := p.Project -%}
  {%= vproject.Summary(prj, p.GitResult, nil, &action.TypeBuild, ps) %}
  {%= BuildOptions(prj.Key) %}
  {%- if p.BuildResult != nil -%}
  {%- code br := p.BuildResult -%}
  <div class="card">
    <div class="right"><em>{%s br.Status %} [{%s util.MicrosToMillis(br.Duration) %}]</em></div>
    <h3>Result</h3>
  </div>
  {%= vaction.Detail(nil, br, false, as, ps) %}
  {%- endif -%}
{% endfunc %}
