{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/project/action"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vaction"
  "projectforge.dev/projectforge/views/vproject"
) %}

{% code type CodeStats struct {
  layout.Basic
  Project *project.Project
  Result *action.Result
  Stats *action.CodeStats
} %}

{% func (p *CodeStats) Body(as *app.State, ps *cutil.PageState) %}
  {%= components.PlotAssets() %}
  {%- code prj := p.Project -%}
  {%= vproject.Summary(prj, "Code Stats", nil, &action.TypeBuild, nil, ps) %}
  {%= BuildOptions(prj.Key, false, ps) %}

  {%- if p.Result != nil && len(p.Result.Errors) > 0 -%}
  <div class="card">
    <h3>Error</h3>
    {%- for _, e := range p.Result.Errors -%}
    <p class="error">{%s e %}</p>
    {%- endfor -%}
  </div>
  {%- endif -%}

  <div class="card">
    <h3>Code Stats</h3>
    {%= vaction.RenderCodeStats(p.Project.Key, p.Stats, ps) %}
  </div>
{% endfunc %}

{% code type CodeStatsAll struct {
  layout.Basic
  Projects project.Projects
  Results map[string]*action.Result
  CodeStats map[string]*action.CodeStats
} %}

{% func (p *CodeStatsAll) Body(as *app.State, ps *cutil.PageState) %}
  {%= components.PlotAssets() %}
  <div class="card">
    <h3>Code Stats</h3>
    <div class="mt">
      <ul class="accordion">
        {%- for _, prj := range p.Projects -%}
        {%- code
          res := p.Results[prj.Key]
          stats := p.CodeStats[prj.Key]
        -%}
        <li>
          <input id="accordion-{%s prj.Key %}" type="checkbox" hidden />
          <label for="accordion-{%s prj.Key %}">
            {%= components.ExpandCollapse(3, ps) %} {%= components.SVGRef(prj.IconSafe(), 16, 16, "icon", ps) %} {%s prj.Title() %}
          </label>
          <div class="bd"><div><div>
            {%= vproject.Summary(prj, "Code Stats", nil, nil, nil, ps) %}
            {%- if res != nil && len(res.Errors) > 0 -%}
            <div class="card">
              <h3>Error</h3>
              {%- for _, e := range res.Errors -%}
              <p class="error">{%s e %}</p>
              {%- endfor -%}
            </div>
            {%- endif -%}
            <div class="card">
              <h3>Code Stats</h3>
              {%- if stats == nil -%}
              <em>no stats available</em>
              {%- else -%}
              {%= vaction.RenderCodeStats(prj.Key, stats, ps) %}
              {%- endif -%}
            </div>
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{% endfunc %}
