{% import (
  "slices"

  "github.com/samber/lo"
  "golang.org/x/mod/semver"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vproject"
) %}

{% code type DepMap struct {
  layout.Basic
  Message string
  Result map[string]map[string][]string
  Tags []string
  Duration string
} %}

{% func (p *DepMap) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    var suffix string
    if len(p.Tags) > 0 {
      suffix = "&tags=" + util.StringJoin(p.Tags, ",")
    }
  -%}
  <div class="card">
    {%= vproject.AvailActions("Dependency Conflicts", p.Tags, nil, "sitemap", p.Duration, ps) %}
  </div>
  <div class="card">
    {%- if p.Message != "" -%}
    <h4 class="mt mb">{%s p.Message %}</h4>
    {%- endif -%}
    {%- if len(p.Result) == 0 -%}
    <div class="mt"><em>No dependency conflicts, nice work!</em></div>
    {%- endif -%}
    <div class="mt">
      <ul class="accordion">
        {%- for _, k := range util.ArraySorted(lo.Keys(p.Result)) -%}
        {%- code v := p.Result[k] %}
        <li>
          <input id="accordion-{%s k %}" type="checkbox" hidden />
          <label for="accordion-{%s k %}">
            <div class="right" title="{%d len(v) %} different versions among the projects">{%d len(v) %}</div>
            {%= components.ExpandCollapse(3, ps) %} {%s k %}
          </label>
          <div class="bd"><div><div>
            <ul>
              {%- code
                vKeys := lo.Keys(v)
                slices.SortFunc(vKeys, func(l string, r string) int {
                  return semver.Compare(l, r)
                })
              -%}
              {%- for i := len(vKeys)-1; i >= 0; i-- -%}
              {%- code vers := vKeys[i] -%}
              <li><a href="?phase=deps&key={%u k %}&version={%u vers %}{%s suffix %}" title="Change all projects to use version [{%s vers %}] of [{%s k %}]">{%s vers %}</a>:
                <ul>
                  {%- for _, prj := range v[vers] -%}
                  <li><a href="/p/{%s prj %}" title="View project">{%s prj %}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
              {%- endfor -%}
            </ul>
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{% endfunc %}
