{% import (
  "golang.org/x/exp/maps"
  "golang.org/x/exp/slices"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vaction"
) %}

{% code type DepMap struct {
  layout.Basic
  Message string
  Result map[string]map[string][]string
} %}

{% func (p *DepMap) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%= vaction.SharedActions("Dependency Conflicts", as, ps) %}
    {%- if p.Message != "" -%}
    <h4 class="mt mb">{%s p.Message %}</h4>
    {%- endif -%}
    {%- if len(p.Result) == 0 -%}
    <div class="mt"><em>No dependency conflicts, nice work!</em></div>
    {%- endif -%}
    <div class="mt">
      <ul class="accordion">
        {%- code
          depKeys := maps.Keys(p.Result)
          slices.Sort(depKeys)
        -%}
        {%- for _, k := range depKeys -%}
        {%- code v := p.Result[k] %}
        <li>
          <input id="accordion-{%s k %}" type="checkbox" hidden />
          <label for="accordion-{%s k %}">
            <div class="right">{%d len(v) %}</div>
            {%= components.ExpandCollapse(3, ps) %} {%s k %}
          </label>
          <div class="bd">
            <ul>
              {%- code
                vKeys := maps.Keys(v)
                slices.Sort(vKeys)
              -%}
              {%- for i := len(vKeys)-1; i >= 0; i-- -%}
              {%- code vers := vKeys[i] -%}
              <li><a href="?phase=deps&key={%u k %}&version={%u vers %}">{%s vers %}</a>:
                <ul>
                  {%- for _, prj := range v[vers] -%}
                  <li><a href="/p/{%s prj %}">{%s prj %}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
              {%- endfor -%}
            </ul>
          </div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{% endfunc %}
