{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/project/action"
  "projectforge.dev/projectforge/app/project/build"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vproject"
) %}

{% code type Packages struct {
  layout.Basic
  Project *project.Project
  BuildResult *action.Result
  Packages build.Pkgs
} %}

{% func (p *Packages) Body(as *app.State, ps *cutil.PageState) %}
  {%- code prj := p.Project -%}
  {%= vproject.Summary(prj, "Packages", nil, &action.TypeBuild, nil, ps) %}
  {%= BuildOptions(prj.Key, ps) %}

  {%- if p.BuildResult != nil && len(p.BuildResult.Errors) > 0 -%}
  <div class="card">
    <h3>Error</h3>
    {%- for _, e := range p.BuildResult.Errors -%}
    <p class="error">{%s e %}</p>
    {%- endfor -%}
  </div>
  {%- endif -%}

  <div class="card">
    <h3>Packages</h3>
    {%= renderPackages(p.Project, p.Packages) %}
  </div>
{% endfunc %}

{% code type PackagesAll struct {
  layout.Basic
  Projects project.Projects
  Results map[string]*action.Result
  Packages map[string]build.Pkgs
  Tags []string
} %}

{% func (p *PackagesAll) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Package Graphs</h3>
    <div class="mt">
      <ul class="accordion">
        {%- for _, prj := range p.Projects -%}
        {%- code
          res := p.Results[prj.Key]
          pkgs := p.Packages[prj.Key]
        -%}
        <li>
          <input id="accordion-{%s prj.Key %}" type="checkbox" hidden />
          <label for="accordion-{%s prj.Key %}">
            {%= components.ExpandCollapse(3, ps) %} {%= components.SVGRef(prj.IconSafe(), 16, 16, "icon", ps) %} {%s prj.Title() %}
          </label>
          <div class="bd"><div><div>
            {%= vproject.Summary(prj, "Packages", nil, nil, nil, ps) %}
            {%- if res != nil && len(res.Errors) > 0 -%}
            <div class="card">
              <h3>Error</h3>
              {%- for _, e := range res.Errors -%}
              <p class="error">{%s e %}</p>
              {%- endfor -%}
            </div>
            {%- endif -%}
            <div class="card">
              <h3>Package Graph</h3>
              {%= renderPackages(prj, pkgs) %}
            </div>
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{% endfunc %}

{% func renderPackages(prj *project.Project, p build.Pkgs) %}
  {%= components.JSON(p) %}
  <pre>{%s p.ToGraph(prj.Package) %}</pre>
{% endfunc %}
