{% import (
  "runtime"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type MemUsage struct {
  layout.Basic
  Mem *runtime.MemStats
} %}

{% func (p *MemUsage) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`desktop`, ps) %} Memory Usage</h3>
    <em>Better formatting is coming soon</em>
    {%s= components.JSON(p.Mem) %}
  </div>
{% endfunc %}
