{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Routes struct {
  layout.Basic
  Routes map[string][]string
} %}

{% func (p *Routes) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`code`, ps) %} HTTP Routes</h3>
    <ul class="mt">
      {%- for _, k := range util.MapKeysSorted(p.Routes) -%}
      <li>
        <strong>{%s k %}</strong>
        <ul>
          {%- for _, r := range p.Routes[k] -%}
          <li><code>{%s r %}</code></li>
          {%- endfor -%}
        </ul>
      </li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}
