{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type ServerInfo struct {
  layout.Basic
  Info *util.DebugInfo
} %}

{% func (p *ServerInfo) Body(as *app.State, ps *cutil.PageState) %}
  {%= renderTags("Server Information", p.Info.ServerTags, "cog", ps) %}
  {%= renderTags("Runtime Information", p.Info.RuntimeTags, "desktop", ps) %}
  {%= renderTags("App Information", p.Info.AppTags, "play", ps) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`archive`, ps) %} Go Modules</h3>
    {%= moduleTable(p.Info.Mods) %}
  </div>
{% endfunc %}

{% func renderTags(title string, tags *util.OrderedMap[string], icon string, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(icon, ps) %} {%s title %}</h3>
    <div class="overflow full-width">
      <table class="mt min-200">
        <tbody>
        {%- for _, k := range tags.Order -%}
        <tr>
          <th class="shrink">{%s k %}</th>
          <td>{%s tags.GetSimple(k) %}</td>
        </tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
{% endfunc %}
