{% import (
  "fmt"
  "net/url"
  "time"

  "github.com/google/uuid"

  "projectforge.dev/projectforge/app/util"
) %}

{% func Any(x any) %}{% stripspace %}
  {% if x == nil %}
    <em>nil</em>
  {% else %}
    {% switch t := x.(type) %}
    {% case bool %}
      {%= Bool(t) %}
    {% case util.Diffs %}
      {%= Diffs(t) %}
    {% case float32 %}
      {%= Float(t) %}
    {% case float64 %}
      {%= Float(t) %}
    {% case int %}
      {%= Int(t) %}
    {% case int32 %}
      {%= Int(t) %}
    {% case int64 %}
      {%= Int(t) %}
    {% case util.ValueMap %}
      {%= Map(false, t) %}
    {% case []util.ValueMap %}
      {%= MapArray(false, t...) %}
    {% case util.Pkg %}
      {%= Package(t) %}
    {% case string %}
      {%= String(t) %}
    {% case time.Time %}
      {%= Timestamp(&t) %}
    {% case *time.Time %}
      {%= Timestamp(t) %}
    {% case url.URL %}
      {%= URL(t) %}
    {% case *url.URL %}
      {%= URL(t) %}
    {% case uuid.UUID %}
      {%= UUID(&t) %}
    {% case *uuid.UUID %}
      {%= UUID(t) %}
    {% default %}
      unhandled type [{%s fmt.Sprintf("%T", x) %}]
    {% endswitch %}
  {% endif %}
{% endstripspace %}{% endfunc %}
