{% import (
  "github.com/samber/lo"

  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
) %}

{% func Diffs(value util.Diffs) %}{% stripspace %}
  {%- if len(value) == 0 -%}
  <em>no changes</em>
  {%- else -%}
  <div class="overflow full-width">
    <table class="expanded">
      <thead>
        <tr>
          <th>Path</th>
          <th>Old</th>
          <th></th>
          <th>New</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, d := range value -%}
        <tr>
          <td style="width: 30%;"><code>{%s d.Path %}</code></td>
          <td style="width: 30%;"><code><em>{%s d.Old %}</em></code></td>
          <td style="width: 10%;">→</td>
          <td style="width: 30%;"><code class="success">{%s d.New %}</code></td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func DiffsSet(key string, value util.DiffsSet, ps *cutil.PageState) %}{% stripspace %}
  {%- if len(value) == 0 -%}
  <em>no changes</em>
  {%- else -%}
  <ul class="accordion">
    {%- for idx, k := range util.ArraySorted[string](lo.Keys(value)) -%}
      {% code dk, u := util.StringSplitLast(k, '^', true) %}
      {% code v := value[k] %}
      {%- if idx < 100 -%}
        <li>
          <input id="accordion-{%s k %}-{%d idx %}" type="checkbox" hidden="hidden" />
          <label for="accordion-{%s k %}-{%d idx %}">
            <div class="right">
              {%- if len(v) == 1 -%}
              <em>({%s v[0].String() %})</em>{% space %}
              {%- endif -%}
              {%s util.StringPlural(len(v), "diff") %}
            </div>
            {%= components.ExpandCollapse(3, ps) %}
            {% if u != "" %}<a href="{%s u %}">{%s dk %}</a>{% else %}{%s dk %}{% endif %}
          </label>
          <div class="bd"><div><div>
            {%= Diffs(v) %}
          </div></div></div>
        </li>
      {%- endif -%}
      {%- if idx == 100 -%}
        <li>
          <input id="accordion-{%s k %}-extras" type="checkbox" hidden="hidden" />
          <label for="accordion-{%s k %}-extras">...and{% space %}{%d len(value) - 100 %}{% space %}extra</label>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
  {%- endif -%}
{% endstripspace %}{% endfunc %}
