<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "fmt"

  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/filter"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
) %}

{% func MapArray(maps []util.ValueMap, params *filter.Params, preserveWhitespace bool, ps *cutil.PageState) %}{% stripspace %}
  {%- if len(maps) == 0 -%}
  <em>no results</em>
  {%- else -%}
  <div class="overflow full-width">
    <table>
      <thead>
      <tr>
        {%- for _, k := range maps[0].Keys() -%}
        {%= components.TableHeaderSimple("map", k, k, "", params, nil, ps) %}
        {%- endfor -%}
      </tr>
      </thead>
      <tbody>
        {%- for _, m := range maps -%}
        <tr>
          {%- for _, k := range m.Keys() -%}
          {%- code
            res := ""
            switch t := m[k].(type) {
            case string:
              res = t
            case []byte:
              res = string(t)
            default:
              res = fmt.Sprint(m[k])
            }
          -%}
          {%- if preserveWhitespace -%}
          <td class="prews">{%s res %}</td>
          {%- else -%}
          <td>{%s res %}</td>
          {%- endif -%}
          {%- endfor -%}
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}
