{% import (
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
) %}

{% func Map(preserveWhitespace bool, m util.ValueMap, ps *cutil.PageState) %}{% stripspace %}
  {%- if m == nil -%}
  <em>no result</em>
  {%- elseif len(m) == 0 -%}
  <em>empty result</em>
  {%- else -%}
  <div class="overflow full-width">
    <table class="expanded min-200">
      <tbody>
        {%- for _, k := range m.Keys() -%}
          <tr>
            <th class="shrink">{%s k %}</th>
            {%- if preserveWhitespace -%}
            <td class="prews">{%= Any(m[k], ps) %}</td>
            {%- else -%}
            <td>{%= Any(m[k], ps) %}</td>
            {%- endif -%}
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func MapArray(preserveWhitespace bool, ps *cutil.PageState, maps ...util.ValueMap) %}{% stripspace %}
  {%- if len(maps) == 0 -%}
  <em>no results</em>
  {%- else -%}
  <div class="overflow full-width">
    <table>
      <thead>
      <tr>
        {%- for _, k := range maps[0].Keys() -%}
        <th>{%s k %}</th>
        {%- endfor -%}
      </tr>
      </thead>
      <tbody>
        {%- for _, m := range maps -%}
          <tr>
            {%- for _, k := range m.Keys() -%}
            {%- if preserveWhitespace -%}
            <td class="prews">{%= Any(m[k], ps) %}</td>
            {%- else -%}
            <td>{%= Any(m[k], ps) %}</td>
            {%- endif -%}
            {%- endfor -%}
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}
