{% import "strings" %}

{% func Tags(values []string, titles []string, url ...string) %}{% stripspace %}
  <div class="tag-view">
    <div class="tags">
      {% for idx, x := range values %}
      {% code
        title := x
        if len(titles) > idx {
          title = titles[idx]
        }
      %}
      <span class="item"{% if title != `` %}{% space %}title="{%s title %}"{% endif %}>
        {% if len(url) == 0 %}
          {%s x %}
        {% else %}
          {% code u := strings.ReplaceAll(url[0], "{}", x) %}
          <a href="{%s u %}">{%s x %}</a>
        {% endif %}
      </span>
      {% endfor %}
    </div>
  </div>
{% endstripspace %}{% endfunc %}
