{% import (
  "strings"

  "projectforge.dev/projectforge/views/components"
) %}

{% func Tags(values []string, titles []string, url ...string) %}{% stripspace %}
  <div class="tag-view">
    <div class="tags">
      {% for idx, x := range values %}
      {% code
        title := x
        if len(titles) > idx {
          title = titles[idx]
        }
      %}
      <span class="item"{% if title != `` %}{% space %}title="{%s title %}"{% endif %}>
        {% if len(url) == 0 %}
          {%s x %}
        {% else %}
          {% code u := strings.ReplaceAll(url[0], "{}", x) %}
          <a href="{%s u %}">{%s x %}</a>
        {% endif %}
      </span>
      {% endfor %}
    </div>
  </div>
{% endstripspace %}{% endfunc %}

{% func TagsTable(title string, values []string, titles []string, indent int, url ...string) %}{% stripspace %}
  <tr>
    {%= components.Indent(true, indent + 1) %}
    <th class="shrink">{%s title %}</th>
    {%= components.Indent(true, indent + 1) %}
    <td>{%= Tags(values, titles, url...) %}</td>
  {%= components.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}
