<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "time"

  "projectforge.dev/projectforge/app/util"
) %}

{% func Timestamp(value *time.Time) %}{% stripspace %}
  <span class="timestamp nowrap" data-timestamp="{%s util.TimeToJS(value) %}">{%s util.TimeToFull(value) %}</span>
{% endstripspace %}{% endfunc %}

{% func TimestampMillis(value *time.Time) %}{% stripspace %}
  <span class="timestamp nowrap" data-timestamp="{%s util.TimeToRFC3339(value) %}">{%s util.TimeToFullMS(value) %}</span>
{% endstripspace %}{% endfunc %}

{% func TimestampRelative(value *time.Time, static bool) %}{% stripspace %}
  <span class="{% if !static %}reltime{% space %}{% endif %}nowrap" data-timestamp="{%s util.TimeToFull(value) %}">{%s util.TimeRelative(value) %}</span>
{% endstripspace %}{% endfunc %}

{% func TimestampDay(value *time.Time) %}{% stripspace %}
  {%s util.TimeToYMD(value) %}
{% endstripspace %}{% endfunc %}
