{% import (
  "strings"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/lib/database/migrate"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Migrations struct {
  layout.Basic
  Migrations migrate.MigrationFiles
} %}

{% func (p *Migrations) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Database Migrations</h3>
  </div>
  {%- for _, mf := range p.Migrations -%}
  <div class="card">
    <h3>{%s mf.Title %}</h3>
    {%s= cutil.FormatLangIgnoreErrors(strings.TrimSpace(mf.Content), "sql") %}
  </div>
 {%- endfor -%}
{% endfunc %}

