{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/database"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Keys []string
  Services map[string]*database.Service
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`database`, ps) %}Databases</h3>
    <em>{%s util.StringPlural(len(p.Keys), "database") %} available</em>
  </div>
  {%- for _, key := range p.Keys -%}
  {%- code svc := p.Services[key] -%}
  <div class="card">
    <div class="right"><em>{%s svc.Type.Title %}</em></div>
    <h3><a href="/admin/database/{%s key %}">{%= components.SVGIcon(`database`, ps) %}{%s svc.Key %}</a></h3>
  </div>
  {%- endfor -%}
{% endfunc %}
