{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/database"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Statement struct {
  layout.Basic
  Statement *database.DebugStatement
} %}

{% func (p *Statement) Body(as *app.State, ps *cutil.PageState) %}
  {%- code s := p.Statement -%}
  <div class="card">
    <div class="right">{%s util.MicrosToMillis(s.Timing) %} elapsed</div>
    <h3>{%= components.SVGRefIcon(`database`, ps) %}Statement [{%d p.Statement.Index %}]</h3>
    <em>{%s s.Message %}</em>
    <hr class="clear" />
    <div class="right">{%d s.Count %} rows returned</div>
    <h4>SQL</h4>
    {%- code out, _ := cutil.FormatLang(s.SQL, "sql") -%}
    <pre>{%s= out %}</pre>
    <hr />
    <h4>Out</h4>
    <div class="mt">
      <table>
        <thead>
          <tr>
            <th class="shrink">Idx</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {%- for idx, v := range s.Out -%}
          <tr>
            <td>{%d idx %}</td>
            <td>{%= components.JSON(v) %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
    {%- if len(s.Values) > 0 -%}
    <hr />
    <h4>Values</h4>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        {%- for idx, v := range s.Values -%}
        <tr>
          <td>{%d idx+1 %}</td>
          <td>{%v v %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
    {%- endif -%}
  </div>
{% endfunc %}
