{% import (
  "fmt"

  "{{{ .Package }}}/app/lib/types"
) %}

{% func Any(x interface{}, t *types.Wrapped, k string) %}{% stripspace %}
  {% switch t.Key() %}
  {% case types.KeyAny %}
    {%= Default(x, t, k) %}
  {% case types.KeyBit %}
    {%= Default(x, t, k) %}
  {% case types.KeyBool %}
    {%= Boolean(x, false, k) %}
  {% case types.KeyByte %}
    {%= Default(x, t, k) %}
  {% case types.KeyChar %}
    {%= Default(x, t, k) %}
  {% case types.KeyDate %}
    {%= Default(x, t, k) %}
  {% case types.KeyEnum %}
    <span title="enum:{%s t.T.(*types.Enum).Ref %}">{%v x %}</span>
  {% case types.KeyEnumValue %}
    {%= Default(x, t, k) %}
  {% case types.KeyError %}
    {%= Default(x, t, k) %}
  {% case types.KeyFloat %}
    {%= Default(x, t, k) %}
  {% case types.KeyInt %}
    {%= Int(x, k) %}
  {% case types.KeyJSON %}
    {%= Default(x, t, k) %}
  {% case types.KeyList %}
    {%= Default(x, t, k) %}
  {% case types.KeyMap %}
    {%= Default(x, t, k) %}
  {% case types.KeyMethod %}
    {%= Default(x, t, k) %}
  {% case types.KeyNil %}
    {%= Default(x, t, k) %}
  {% case types.KeyOption %}
    {%= Option(x, t.T.(*types.Option), k) %}
  {% case types.KeyRange %}
    {%= Default(x, t, k) %}
  {% case types.KeyReference %}
    {%= Default(x, t, k) %}
  {% case types.KeySet %}
    {%= Default(x, t, k) %}
  {% case types.KeyString %}
    {%= String(x, k) %}
  {% case types.KeyTime %}
    {%= Default(x, t, k) %}
  {% case types.KeyTimestamp %}
    {%= Default(x, t, k) %}
  {% case types.KeyTimestampZoned %}
    {%= Default(x, t, k) %}
  {% case types.KeyUnknown %}
    {%= Default(x, t, k) %}
  {% case types.KeyUUID %}
    {%= Default(x, t, k) %}
  {% case types.KeyValueMap %}
    {%= Default(x, t, k) %}
  {% case types.KeyXML %}
    {%= Default(x, t, k) %}
  {% default %}
    {%= Default(x, t, k) %}
  {% endswitch %}
{% endstripspace %}{% endfunc %}

{% func Default(x interface{}, t types.Type, k string) %}{% stripspace %}
  {% code
    msg := fmt.Sprintf("unhandled type: %s (%T)", t.String(), x)
    if x == nil {
      x = "∅"
    }
  %}
  <input title="{%s msg %}" value="{%v x %}" name="{%s k %}" />
{% endstripspace %}{% endfunc %}
