{% import (
  "{{{ .Package }}}/app/lib/types"
) %}

{% func Option(x interface{}, t *types.Option, k string) %}{% stripspace %}
  {% switch t.V.Key() %}
  {% case types.KeyBool %}
    {%= Boolean(x, true, k) %}
  {% default %}
    <div class="two-pane">
      <div class="l">{%= Any(x, t.V, k) %}</div>
      <div class="r"><button title="click to set field to null" type="button" onclick="admini.setSiblingToNull(this);">∅</button></div>
    </div>
  {% endswitch %}
{% endstripspace %}{% endfunc %}
