{% import "github.com/kyleu/projectforge/app" %}
{% import "github.com/kyleu/projectforge/app/controller/cutil" %}
{% import "github.com/kyleu/projectforge/app/util" %}

{% func Head(as *app.State, ps *cutil.PageState) %}
  <meta charset="UTF-8">
  <title>{%s ps.TitleString() %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <style>
    {%s= as.Themes.Get(ps.Profile.Theme).CSS(2) %}  </style>
  <link rel="stylesheet" media="screen" href="/assets/client.css">
  <script type="text/javascript" src="/assets/client.js"></script>
  {% if ps.Description != "" %}<meta property="description" content="{%s ps.Description %}">
  {% endif %}<meta property="og:title" content="{%s ps.TitleString() %}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/{%s util.AppKey %}.svg">
  <meta property="og:locale" content="en_US">
  <link rel="icon" href="/assets/logo.svg" type="image/svg+xml">
{% endfunc %}
