<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/menu"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/vutil"
) %}

{% func Nav(as *app.State, ps *cutil.PageState) %}
<nav id="navbar">
  <a class="logo" href="{%s ps.RootPath %}" title="{%s util.AppName %} {%s as.BuildInfo.String() %}">{%= components.SVGRef(ps.RootIcon, 32, 32, ``, ps) %}</a>
  <div class="breadcrumbs">
    <a href="{%s ps.RootPath %}" class="nav-root-icon" title="{%s util.AppName %}">{%= components.SVGRef(ps.RootIcon, 18, 28, "breadcrumb-icon", ps) %}</a>
    <a class="link nav-root-item" href="{%s ps.RootPath %}">{%s ps.RootTitle %}</a>{%= NavItems(ps) %}
  </div>
  {%- if ps.SearchPath != "-" -%}
  <form action="{%s ps.SearchPath %}" class="search" title="search">
    <input type="search" name="q" placeholder=" " />
    <div class="search-image" style="display: none;"><svg><use xlink:href="#svg-searchbox" /></svg></div>
  </form>
  {%- endif -%}
  {%= Help(as, ps) %}
  <a class="profile" title="Settings" href="{%s ps.ProfilePath %}">
    {%= components.SVGRef(`profile`, 24, 24, ``, ps) %}
  </a>
  {%- if !ps.HideMenu -%}
  <input type="checkbox" id="menu-toggle-input" style="display: none;" />
  <label class="menu-toggle" for="menu-toggle-input"><div class="spinner diagonal part-1"></div><div class="spinner horizontal"></div><div class="spinner diagonal part-2"></div></label>
  {%= Menu(ps) %}
  {%- endif -%}
</nav>{% endfunc %}

{% func NavItem(link string, title string, icon string, last bool, ps *cutil.PageState) %}{% stripspace %}
  <a class="link{% if last %}{% space %}last{% endif %}" href="{%s link %}">
    <span title="{%s title %}">{%= components.SVGRef(icon, 18, 28, "breadcrumb-icon", ps) %}</span>
    <span class="nav-item-title">{%s title %}</span>
  </a>
{% endstripspace %}{% endfunc %}

{% func NavItems(ps *cutil.PageState) %}{% stripspace %}
  {% for idx, bc := range ps.Breadcrumbs %}
    {% code
      i := ps.Menu.GetByPath(ps.Breadcrumbs[:idx + 1])
      if i == nil {
        i = menu.ItemFromString(bc)
      }
    %}
    {%= vutil.Indent(true, 2) %}
    <span class="separator">/</span>
    {%= vutil.Indent(true, 2) %}
    {%= NavItem(i.Route, i.Title, i.Icon, idx == len(ps.Breadcrumbs) - 1, ps) %}
  {% endfor %}
{% endstripspace %}{% endfunc %}
