{% import (
  "fmt"
  "net/http"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/menu"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
) %}

{% func Nav(as *app.State, ps *cutil.PageState) %}
<nav id="navbar">
  <a class="logo" href="{%s ps.RootPath %}" title="{%s util.AppName %} {%s as.BuildInfo.String() %}">{%= components.SVGSimple(ps.RootIcon, 32, ps) %}</a>
  <div class="breadcrumbs">
    {%- code extra := util.Choose(len(ps.Breadcrumbs) == 0, " simple", "") -%}
    <a href="{%s ps.RootPath %}" class="nav-root-icon{%s extra %}" title="{%s util.AppName %}">{%= components.SVGBreadcrumb(ps.RootIcon, ps) %}</a>
    <a class="link nav-root-item{%s extra %}" href="{%s ps.RootPath %}">{%s ps.RootTitle %}</a>{%= NavItems(ps) %}
  </div>
  {%- if ps.SearchPath != "-" -%}
  <form action="{%s ps.SearchPath %}" class="search" title="search">
    <input id="search-input" type="search" name="q" placeholder=" " />
    <div class="search-image" style="display: none;"><svg><use xlink:href="#svg-searchbox" /></svg></div>
  </form>
  {%- endif -%}
  {%= Help(as, ps) %}
  {%= ProfileLink(as, ps) %}
  {%- if !ps.HideMenu -%}
  <input type="checkbox" id="menu-toggle-input" style="display: none;" />
  <label class="menu-toggle" for="menu-toggle-input"><div class="spinner diagonal part-1"></div><div class="spinner horizontal"></div><div class="spinner diagonal part-2"></div></label>
  {%= Menu(ps) %}
  {%- endif -%}
</nav>{% endfunc %}

{% func NavItem(link string, title string, icon string, description string, last bool, ps *cutil.PageState) %}{% stripspace %}
  {% code shouldLink := link != "" || (last && ps.Method == http.MethodGet) %}
  {% if shouldLink %}
    {%- code extra := util.Choose(description == "", "", fmt.Sprintf(" title=%q", description)) -%}
    <a class="link{% if last %}{% space %}last{% endif %}" href="{%s link %}"{%s= extra %}>
  {% endif %}

  <span>{%= components.SVGBreadcrumb(icon, ps) %}</span>
  <span class="nav-item-title">{%s title %}</span>

  {% if shouldLink %}
    </a>
  {% endif %}
{% endstripspace %}{% endfunc %}

{% func NavItems(ps *cutil.PageState) %}{% stripspace %}
  {% for idx, bc := range ps.Breadcrumbs %}
    {% code
      i := ps.Menu.GetByPath(ps.Breadcrumbs[:idx + 1])
      if i == nil {
        i = menu.ItemFromString(bc, ps.DefaultNavIcon)
      }
    %}
    {%= components.Indent(true, 2) %}
    <span class="separator">/</span>
    {%= components.Indent(true, 2) %}
    {%= NavItem(i.Route, i.Title, i.Icon, i.Description, idx == len(ps.Breadcrumbs) - 1, ps) %}
  {% endfor %}
{% endstripspace %}{% endfunc %}

{% func ProfileLink(as *app.State, ps *cutil.PageState) %}{% stripspace %}
  <a class="profile" title="Settings" href="{%s ps.ProfilePath %}">
      {%= components.SVGSimple(`profile`, 24, ps) %}
  </a>
{% endstripspace %}{% endfunc %}
