<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/vutil"
) %}

{% func Nav(as *app.State, ps *cutil.PageState) %}
<nav id="navbar">
  <a class="logo" href="{%s ps.RootPath %}" title="{%s util.AppName %} {%s as.BuildInfo.String() %}">{%= components.SVGRef(ps.RootIcon, 32, 32, ``, ps) %}</a>
  <div class="breadcrumbs">
    <a class="link" href="{%s ps.RootPath %}">{%s ps.RootTitle %}</a>{%= NavItems(ps) %}
  </div>
  {%- if ps.SearchPath != "-" -%}
  <form action="{%s ps.SearchPath %}" class="search" title="search">
    <input type="search" name="q" placeholder=" " />
    <div class="search-image" style="display: none;"><svg><use xlink:href="#svg-searchbox" /></svg></div>
  </form>
  {%- endif -%}
  {%= Help(as, ps) %}
  <a class="profile" title="Settings" href="{%s ps.ProfilePath %}">
    {%= components.SVGRef(`profile`, 24, 24, ``, ps) %}
  </a>
  {%- if !ps.HideMenu -%}
  <input type="checkbox" id="menu-toggle-input" style="display: none;" />
  <label class="menu-toggle" for="menu-toggle-input"><div class="spinner diagonal part-1"></div><div class="spinner horizontal"></div><div class="spinner diagonal part-2"></div></label>
  {%= Menu(ps) %}
  {%- endif -%}
</nav>{% endfunc %}

{% func NavItems(ps *cutil.PageState) %}{% stripspace %}
  {% for idx, bc := range ps.Breadcrumbs %}
    {% code
      i := ps.Menu.GetByPath(ps.Breadcrumbs[:idx + 1])
    %}
    {%= vutil.Indent(true, 2) %}
    <span class="separator">/</span>
    {%= vutil.Indent(true, 2) %}
    {% if i == nil %}
      {% code
        bcLink := ""
        if strings.Contains(bc, "||") {
          bci := strings.Index(bc, "||")
          bcLink = bc[bci + 2:]
          bc = bc[:bci]
        }
      %}
      <a class="link" href="{%s bcLink %}">{%s bc %}</a>
    {% else %}
      <a class="link" href="{%s i.Route %}">{%= components.SVGRef(i.Icon, 28, 28, "breadcrumb-icon", ps) %} {%s i.Title %}</a>
    {% endif %}
  {% endfor %}
{% endstripspace %}{% endfunc %}
