{% import "github.com/kyleu/projectforge/app" %}
{% import "github.com/kyleu/projectforge/app/controller/cutil" %}
{% import "github.com/kyleu/projectforge/app/settings" %}
{% import "github.com/kyleu/projectforge/views/components" %}
{% import "github.com/kyleu/projectforge/views/layout" %}

{% code type Settings struct {
  layout.Basic
  Settings *settings.Settings
} %}

{% func (p *Settings) Body(as *app.State, ps *cutil.PageState) %}
  {%= About(as) %}
  <div class="card">
    <div class="right"><a href="#modal-settings"><button type="button">JSON</button></a></div>
    <h3>Settings</h3>
  </div>
  <div class="card">
    <h3>Themes</h3>
    <p><a href="/theme">Edit Themes</a></p>
  </div>
  {%= Authentication(as) %}
  {%= components.JSONModal("settings", "Settings JSON", p.Settings, 1) %}
{% endfunc %}
