{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type About struct { layout.Basic } %}

{% func (p *About) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <em>v{%s as.BuildInfo.Version %}, started {%s util.TimeRelative(&as.Started) %}</em>
  </div>
  <div class="card">
    <h3>About</h3>
    {%- comment %}$PF_SECTION_START(about)${% endcomment -%}
    <p>Coming soon...</p>
    {%- comment %}$PF_SECTION_END(about)${% endcomment -%}
  </div>{{{ if .HasModule "help" }}}
  <div class="card">
    <h3>Help</h3>
    {%- comment %}$PF_SECTION_START(help)${% endcomment -%}
    <p>Pages with help files, like this one, have a <a href="#help">link</a> in the upper-right.</p>
    {%- comment %}$PF_SECTION_END(help)${% endcomment -%}
  </div>{{{ end }}}{{{ if .Public }}}
  {%= SourceCode() %}{{{ end }}}
  {%= Feedback() %}
{% endfunc %}{{{ if .Public }}}

{% func SourceCode() %}
<div class="card">
  <h3>Source Code</h3>
  <p>The project is available on <a href="{{{ .Info.Sourcecode }}}" target="_blank" rel="noopener noreferrer">GitHub</a></p>
</div>
{% endfunc %}{{{ end }}}

{% func Feedback() %}
<div class="card">
  <h3>Feedback</h3>
  <p>For now, email <a href="mailto:{{{ .Info.AuthorEmail }}}">{{{ .Info.AuthorName }}}</a></p>
</div>
{% endfunc %}
