<!-- $PF_GENERATE_ONCE$ -->
{% import (
  "time"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/components/view"
  "{{{ .Package }}}/views/layout"
) %}

{% code type About struct {
  layout.Basic
  Version string
  Started time.Time
} %}

{% func (p *About) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`app`, ps) %} {%s util.AppName %}</h3>
    <em>v{%s p.Version %}, started {%= view.TimestampRelative(&p.Started, false) %}</em>
  </div>
  <div class="card">
    <h3>About</h3>
    <p>Coming soon...</p>
  </div>{{{ if .Public }}}
  {%= SourceCode() %}{{{ end }}}
  {%= Feedback() %}
{% endfunc %}{{{ if .Public }}}

{% func SourceCode() %}
  <div class="card">
    <h3>Source Code</h3>
    <p>The project is available on <a href="{{{ .Info.Sourcecode }}}" target="_blank" rel="noopener noreferrer">GitHub</a></p>
  </div>
{% endfunc %}{{{ end }}}

{% func Feedback() %}
  <div class="card">
    <h3>Feedback</h3>
    <p>For now, email <a href="mailto:{{{ .Info.AuthorEmail }}}">{{{ .Info.AuthorName }}}</a></p>
  </div>
{% endfunc %}
