{% import (
  "fmt"
  "strings"

  "golang.org/x/exp/slices"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/telemetry"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% func Render(page layout.Page, as *app.State, ps *cutil.PageState) %}{% code
  ctx, span, _ := telemetry.StartSpan(ps.Context, "html:" + strings.TrimPrefix(fmt.Sprintf("%T", page), "*"), ps.Logger)
  ps.Context = ctx
	defer func() {
    span.Complete()
		x := recover()
		if x != nil {
      ps.Logger.Errorf("error processing template [%T]: %+v", x, x)
      panic(x)
		}
	}()
%}<!DOCTYPE html>
<html lang="en">
<!-- {%s cutil.PageComment %} -->
<head>{%= page.Head(as, ps) %}</head>
<body{% if ps.Profile.Mode != `` %} class="{%s ps.Profile.ModeClass() %}"{% endif %}>
{%- if len(ps.Flashes) > 0 -%}{%= renderFlashes(ps.Flashes) %}{%- endif -%}
{%= page.Nav(as, ps) %}
<main id="content"{% if ps.HideMenu %} class="nomenu"{% endif %}>{%= page.Body(as, ps) %}</main>
{%- code slices.Sort(ps.Icons) -%}
{% if len(ps.Icons) > 0 %}<div class="icon-list" style="display: none;">{% for _, icon := range ps.Icons %}
  {%= components.SVG(icon) %}{% endfor %}
</div>
{% endif %}</body>
</html>
{% endfunc %}

{% func renderFlashes(flashes []string) %}{% stripspace %}
  {% if len(flashes) > 0 %}
    <div id="flash-container">
      {% for idx, f := range flashes %}
        {% code level, msg := util.StringSplit(f, ':', true) %}
        <div class="flash">
          <input type="radio" style="display:none;" id="hide-flash-{%d idx %}">
          <label for="hide-flash-{%d idx %}"><span>×</span></label>
          <div class="content flash-{%s level %}">
            {%s msg %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endstripspace %}{% endfunc %}
