{% import (
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/lib/auth"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/lib/theme"
  "github.com/kyleu/projectforge/app/lib/user"
  "github.com/kyleu/projectforge/views/components"
  "github.com/kyleu/projectforge/views/layout"
  "github.com/kyleu/projectforge/views/vauth"
  "github.com/kyleu/projectforge/views/vtheme"
) %}

{% code type Profile struct {
  layout.Basic
  Profile *user.Profile
  Theme *theme.Theme
  Providers auth.Providers
  Referrer string
} %}

{% func (p *Profile) Body(as *app.State, ps *cutil.PageState) %}
  {%= vauth.SigninTable(p.Providers, p.Referrer, as, ps) %}
  <form action="" method="post">
    <input name="referrer" type="hidden" value="{%s p.Referrer %}" />
    <div class="card">
      <div class="right">
        <a href="#modal-profile"><button type="button">Profile</button></a>
        <a href="#modal-theme"><button type="button">Theme</button></a>
      </div>
      <h3>Profile</h3>
      <table class="mt">
        <tbody>
          {%= components.TableInput("name", "Name", p.Profile.Name, 5) %}
          <tr>
            <th class="shrink"><label>Mode</label></th>
            <td>
              <label>
                {%- if p.Profile.Mode == "" -%}
                <input type="radio" class="mode-input" name="mode" value="" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="" />
                {%- endif -%}
                System Default
              </label>
              <label>
                {%- if p.Profile.Mode == "light" -%}
                <input type="radio" class="mode-input" name="mode" value="light" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="light" />
                {%- endif -%}
                Light
              </label>
              <label>
                {%- if p.Profile.Mode == "dark" -%}
                <input type="radio" class="mode-input" name="mode" value="dark" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="dark" />
                {%- endif -%}
                Dark
              </label>
            </td>
          </tr>
          <tr>
            <th class="shrink"><label>Theme</label></th>
            <td>
              <div class="right">
                <a href="/theme">Edit Themes</a>
              </div>
              {%- code
                sel := ps.Profile.Theme
                if sel == "" {
                  sel = "default"
                }
              -%}
              {%= vtheme.Choice(as.Themes.All(), sel, 3, ps) %}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt">
        <button type="submit">Save All Changes</button>
        <button type="reset">Reset</button>
      </div>
    </div>
  </form>

  {%= components.JSONModal("profile", "Profile JSON", p.Profile, 1) %}
  {%= components.JSONModal("theme", "Theme JSON", p.Theme, 1) %}
{% endfunc %}
