<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/theme"
  "projectforge.dev/projectforge/app/lib/user"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vtheme"
) %}

{% code type Profile struct {
  layout.Basic
  Profile *user.Profile
  Theme *theme.Theme
  Referrer string
} %}

{% func (p *Profile) Body(as *app.State, ps *cutil.PageState) %}
  <form action="" method="post">
    <input name="referrer" type="hidden" value="{%s p.Referrer %}" />
    <div class="card">
      <div class="right">
        <a href="#modal-profile"><button type="button">Profile</button></a>
        <a href="#modal-theme"><button type="button">Theme</button></a>
      </div>
      <h3>Profile</h3>
      <table class="mt expanded">
        <tbody>
          {%= components.TableInput("name", "Name", p.Profile.Name, 5) %}
          <tr>
            <th class="shrink"><label>Mode</label></th>
            <td>
              <label>
                {%- if p.Profile.Mode == "" -%}
                <input type="radio" class="mode-input" name="mode" value="" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="" />
                {%- endif -%}
                System Default
              </label>
              <label>
                {%- if p.Profile.Mode == "light" -%}
                <input type="radio" class="mode-input" name="mode" value="light" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="light" />
                {%- endif -%}
                Light
              </label>
              <label>
                {%- if p.Profile.Mode == "dark" -%}
                <input type="radio" class="mode-input" name="mode" value="dark" checked="checked" />
                {%- else -%}
                <input type="radio" class="mode-input" name="mode" value="dark" />
                {%- endif -%}
                Dark
              </label>
            </td>
          </tr>
          {%= vtheme.ChoicePanel(as.Themes.All(), 5, ps) %}
        </tbody>
      </table>
      <div class="mt">
        <button type="submit">Save All Changes</button>
        <button type="reset">Reset</button>
      </div>
    </div>
  </form>

  {%= components.JSONModal("profile", "Profile JSON", p.Profile, 1) %}
  {%= components.JSONModal("theme", "Theme JSON", p.Theme, 1) %}
{% endfunc %}
