{% import (
  "strings"

  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
) %}

{% func SearchForm(action string, fieldKey string, placeholder string, value string, ps *cutil.PageState) %}{% stripspace %}
  {% code
    if fieldKey == "" {
      fieldKey = "q"
    }
    m := map[string]string{}
    for k, v := range ps.URI.Query() {
      if k == fieldKey || strings.HasSuffix(k, ".x") {
        continue
      }
      curr, ok := m[k]
      if ok {
        curr += ","
      }
      curr += util.StringJoin(v, ",")
      m[k] = curr
  }
  %}
  <form action="{%s action %}" method="get" class="">
    {% for k, v := range m %}
    <input type="hidden" name="{%s k %}" value="{%s v %}" />
    {% endfor %}
    <button class="right" type="submit">{%= components.SVGRef("search", 20, 20, "icon search-icon", ps) %}</button>
    <input class="right br0" type="search" placeholder="{%s placeholder %}" name="{%s fieldKey %}" value="{%s value %}">
    <div class="clear"></div>
  </form>
{% endstripspace %}{% endfunc %}
