{% import (
  "github.com/samber/lo"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Path string
  Script string
  LoadResult any
  LoadError error
  Results map[string]map[string]any
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/admin/scripting/{%u p.Path %}/edit"><button type="button">Edit</button></a></div>
    <h3>{%= components.SVGRefIcon(`file`, ps) %} {%s p.Path %}</h3>
    <div class="mt">
      {%- code out, err := cutil.FormatLang(p.Script, "js") -%}
      {%- if err == nil -%}
      {%s= out %}
      {%- else -%}
      {%s err.Error() %}
      {%- endif -%}
    </div>
  </div>
  {% if p.LoadError != nil -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`cog`, ps) %} Load Error</h3>
    <div class="mt error">{%s p.LoadError.Error() %}</div>
  </div>
  {%- endif -%}
  {% if p.LoadResult != nil -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`cog`, ps) %} Load Result</h3>
    <div class="mt">{%= components.JSON(p.LoadResult) %}</div>
  </div>
  {%- endif -%}
  {% for _, f := range util.ArraySorted(lo.Keys(p.Results)) -%}
    {%- code res := p.Results[f] -%}
    {% if len(res) > 0 -%}
    <div class="card">
      <h3>{%= components.SVGRefIcon(`play`, ps) %} [{%s f %}] Example Results</h3>
      <div class="mt">
        <div class="overflow full-width">
          <table class="expanded min-200">
            <thead>
              <tr>
                <th class="shrink">Example</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
              {%- for _, k := range util.ArraySorted(lo.Keys(res)) -%}
              {%- code v := res[k] -%}
              <tr>
                <td><pre>{%s k %}</pre></td>
                <td><pre>{%s util.ToJSONCompact(v) %}</pre></td>
              </tr>
              {%- endfor -%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {%- endif -%}
  {%- endfor -%}
{% endfunc %}
