{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Path string
  Script string
  Results map[string]any
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/scripting/{%u p.Path %}/edit"><button type="button">Edit</button></a></div>
    <h3>{%= components.SVGRefIcon(`file-code`, ps) %} {%s p.Path %}</h3>
    <div class="mt">
      {%- code out, err := cutil.FormatLang(p.Script, "js") -%}
      {%- if err == nil -%}
      {%s= out %}
      {%- else -%}
      {%s err.Error() %}
      {%- endif -%}
    </div>
  </div>
  {% if len(p.Results) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`play`, ps) %} Results</h3>
    <div class="mt">
      <table class="expanded min-200">
        <thead>
          <tr>
            <th class="shrink">Example</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {%- for k, v := range p.Results -%}
          <tr>
            <td><pre>{%s k %}</pre></td>
            <td><pre>{%s util.ToJSONCompact(v) %}</pre></td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
{% endfunc %}
