{% import (
  "fmt"
  "strings"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components/edit"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Args struct {
  layout.Basic
  URL string
  Directions string
  Results *util.FieldDescResults
  Hidden map[string]string
  Warning string
} %}

{% func (p *Args) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{% if p.Directions == "" %}Enter Data{% else %}{%s p.Directions %}{% endif %}</h3>
    {%- code
      var onsubmit string
      if p.Warning != "" {
        onsubmit = fmt.Sprintf(` onsubmit="return confirm('%s')"`, strings.ReplaceAll(strings.ReplaceAll(p.Warning, "'", "\\'"), "\"", ""))
      }
    -%}
    <form action="{%s p.URL %}" method="get"{%s= onsubmit %}>
      {%- for k, v := range p.Hidden -%}
      <input type="hidden" name="{%s k %}" value="{%s v %}" />
      {%- endfor -%}
      {%= edit.TableEditorNoForm("args", p.Results.FieldDescs, p.Results.Values, "", "", "Submit") %}
    </form>
  </div>
{% endfunc %}
