{% import (
  "fmt"
  "strconv"
  "strings"

  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components/edit"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Args struct {
  layout.Basic
  URL string
  Directions string
  Results *util.FieldDescResults
  Hidden map[string]string
  Warning string
} %}

{% func (p *Args) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{% if p.Directions == "" %}Enter Data{% else %}{%s p.Directions %}{% endif %}</h3>
    {%- code
      onsubmit := ""
      if p.Warning != "" {
        onsubmit = fmt.Sprintf(` onsubmit="return confirm('%s')"`, strings.ReplaceAll(strings.ReplaceAll(p.Warning, "'", "\\'"), "\"", ""))
      }
    -%}
    <form action="{%s p.URL %}" method="get"{%s= onsubmit %}">
      {%- for k, v := range p.Hidden -%}
      <input type="hidden" name="{%s k %}" value="{%s v %}" />
      {%- endfor -%}
      <div class="overflow full-width">
        <table class="mt min-200 expanded">
          <tbody>
            {%- for _, arg := range p.Results.FieldDescs -%}
            {%- code
              v := util.OrDefault(p.Results.Values.GetStringOpt(arg.Key), arg.Default)
              title := arg.Title
              if len(title) > 50 {
                title = title[:50] + "..."
              }
            -%}
            {%- switch arg.Type -%}
            {%- case "bool" -%}
            {%= edit.BoolTable(arg.Key, title, v == "true", 5, arg.Description) %}
            {%- case "textarea" -%}
            {%= edit.TextareaTable(arg.Key, "", title, 12, v, 5, arg.Description) %}
            {%- case "number", "int" -%}
            {%- code i, _ := strconv.ParseInt(v, 10, 32) -%}
            {%= edit.IntTable(arg.Key, "", title, int(i), 5, arg.Description) %}
            {%- case "float" -%}
            {%- code f, _ := strconv.ParseFloat(v, 64) -%}
            {%= edit.FloatTable(arg.Key, "", title, f, 5, arg.Description) %}
            {%- default -%}
            {%= edit.DatalistTable(arg.Key, "", title, v, arg.Choices, nil, 5, arg.Description) %}
            {%- endswitch -%}
            {%- endfor -%}
          </tbody>
        </table>
      </div>
      <button class="mt" type="submit">Submit</button>
    </form>
  </div>
{% endfunc %}
