{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/views/components"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Index struct { layout.Basic } %}

{% func (p *Index) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <p>{{{ .Info.Description }}}</p>
    <p>
      <a href="/download"><button>Download</button></a>
      <a href="{{{ .Info.Sourcecode }}}"><button>Source Code</button></a>
    </p>
  </div>
{% endfunc %}
