{% import (
  "fmt"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
	"projectforge.dev/projectforge/app/lib/metamodel"
	"projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
) %}

{% func ArgsDetail(key string, ea *metamodel.Args, as *app.State, ps *cutil.PageState) %}
  <ul class="accordion">
    {%- if ea.Config != nil && !ea.Config.Empty() -%}
    <li>
      <input id="accordion-{%s key %}-config" type="checkbox" hidden />
      <label for="accordion-{%s key %}-config">
        {%= components.ExpandCollapse(3, ps) %}
        {%= components.SVGRef("print", 16, 16, "icon", ps) %}
        Export Configuration
      </label>
      <div class="bd"><div><div>
        {%= view.Map(true, ea.Config, ps) %}
      </div></div></div>
    </li>
    {%- endif -%}
    {%- if len(ea.Groups) > 0 -%}
    <li>
      <input id="accordion-{%s key %}-groups" type="checkbox" hidden />
      <label for="accordion-{%s key %}-groups">
        {%= components.ExpandCollapse(3, ps) %}
        {%= components.SVGRef("users", 16, 16, "icon", ps) %}
        {%s util.StringPlural(len(ea.Groups), "Group") %}
      </label>
      <div class="bd"><div><div>
        {%= GroupList(ea.Groups, 4) %}
      </div></div></div>
    </li>
    {%- endif -%}
    {%- if len(ea.Enums) > 0 -%}
    <li>
      <input id="accordion-{%s key %}-enums" type="checkbox" hidden />
      <label for="accordion-{%s key %}-enums">
        {%= components.ExpandCollapse(3, ps) %}
        {%= components.SVGRef("hammer", 16, 16, "icon", ps) %}
        {%s util.StringPlural(len(ea.Enums), "Enum") %}
      </label>
      <div class="bd"><div><div>
        {%= EnumList(ea.Enums, fmt.Sprintf("/p/%s/export/enums", key), as, ps) %}
      </div></div></div>
    </li>
    {%- endif -%}
    {%- if len(ea.Events) > 0 -%}
    <li>
      <input id="accordion-{%s key %}-events" type="checkbox" hidden />
      <label for="accordion-{%s key %}-events">
        {%= components.ExpandCollapse(3, ps) %}
        {%= components.SVGRef("list", 16, 16, "icon", ps) %}
        {%s util.StringPlural(len(ea.Events), "Event") %}
      </label>
      <div class="bd"><div><div>
        {%= EventList(ea.Events, fmt.Sprintf("/p/%s/export/events", key), as, ps) %}
      </div></div></div>
    </li>
    {%- endif -%}
    {%- if len(ea.Models) > 0 -%}
    <li>
      <input id="accordion-{%s key %}-models" type="checkbox" hidden />
      <label for="accordion-{%s key %}-models">
        {%= components.ExpandCollapse(3, ps) %}
        {%= components.SVGRef("list", 16, 16, "icon", ps) %}
        {%s util.StringPlural(len(ea.Models), "Model") %}
      </label>
      <div class="bd"><div><div>
        {%= ModelList(ea.Models, fmt.Sprintf("/p/%s/export/models", key), as, ps) %}
      </div></div></div>
    </li>
    {%- endif -%}
    {%- if len(ea.ExtraTypes) > 0 -%}
    <li>
      <input id="accordion-{%s key %}-extra" type="checkbox" hidden />
      <label for="accordion-{%s key %}-extra">
        {%= components.ExpandCollapse(3, ps) %}
        {%= components.SVGRef("list", 16, 16, "icon", ps) %}
        {%s util.StringPlural(len(ea.ExtraTypes), "Extra Type") %}
      </label>
      <div class="bd"><div><div>
        {%= ModelList(ea.ExtraTypes, fmt.Sprintf("/p/%s/export/extra", key), as, ps) %}
      </div></div></div>
    </li>
    {%- endif -%}
    {%- if ea.Empty() -%}
    <li>
      <input id="accordion-{%s key %}-empty" type="checkbox" hidden />
      <label for="accordion-{%s key %}-empty">
        {%= components.ExpandCollapse(3, ps) %}
        {%= components.SVGRef("error", 16, 16, "icon", ps) %}
        No Exported Data
      </label>
      <div class="bd"><div><div>
        <em>No exportable data found for these arguments</em>
      </div></div></div>
    </li>
    {%- endif -%}
  </ul>
{%- endfunc -%}
