{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
	"projectforge.dev/projectforge/app/project/export/derive"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/edit"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type DeriveForm struct {
  layout.Basic
  Project *project.Project
  Result  derive.Result
  Form util.ValueMap
} %}

{% func (p *DeriveForm) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <form action="" method="post" class="mt expanded">
      <h3>{%= components.SVGIcon(`dna`, ps) %} Import</h3>
      <div class="overflow full-width">
        <table class="mt min-200 expanded">
          <tbody>
            {%= edit.StringTable("name", "", "Name", p.Form.GetStringOpt("name"), 5, "If provided, overrides the detected model name") %}
            {%= edit.StringTable("pkg", "", "Package", p.Form.GetStringOpt("pkg"), 5, "If provided, overrides the detected package") %}
            {%= edit.TextareaTable("content", "", "Content", 4, p.Form.GetStringOpt("content"), 5, "Try pasting any ol' thing, it'll figure it out") %}
            <tr>
              <td colspan="2">
                <button type="submit">Save</button>
                <button type="reset">Reset</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  {%- if p.Result != nil -%}
  {%= DeriveResult(p.Result, as, ps) %}
  {%- endif -%}
{% endfunc %}

{% func DeriveResult(r derive.Result, as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`play`, ps) %} Results</h3>
    {%= components.JSON(r) %}
  </div>
{% endfunc %}
