{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/file"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/project/export/enum"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type EnumDetail struct {
  layout.Basic
  Project *project.Project
  Enum *enum.Enum
  File *file.File
} %}

{% func (p *EnumDetail) Body(as *app.State, ps *cutil.PageState) %}
  {%- code e := p.Enum -%}
  <div class="card">
    <div class="right">
      <a href="/p/{%s p.Project.Key %}/export/enums/{%s e.Name %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(e.IconSafe(), ps) %}{%s e.Name %}</h3>
    <em>export enum</em>
    {%= enumSummary(p.Project.Key, e, as, ps) %}
  </div>
  <div class="card">
    <h3>{%= components.SVGRefIcon(`star`, ps) %} Values</h3>
    <ul class="mt">
      {%- for _, x := range e.Values -%}
      <li><code>{%s x %}</code></li>
      {%- endfor -%}
    </ul>
  </div>{%- if p.File != nil -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`file`, ps) %} Exported Files</h3>
    {%= enumFiles(e, p.File, as, ps) %}
  </div>{%- endif -%}
{% endfunc %}

{% func enumSummary(pKey string, enum *enum.Enum, as *app.State, ps *cutil.PageState) %}
  <table class="mt min-200 full-width">
    <tbody>
      <tr><th class="shrink">Name</th><td>{%s enum.Name %}</td></tr>
      <tr><th>Package</th><td>{%s enum.Package %}</td></tr>
      {%- if len(enum.Group) > 0 -%}
      <tr><th>Group</th><td>{%s strings.Join(enum.Group, "/") %}</td></tr>
      {%- endif -%}
      <tr><th>Description</th><td>{%s enum.Description %}</td></tr>
      {%- if enum.TitleOverride != "" -%}
      <tr><th>Title Override</th><td>{%s enum.TitleOverride %}</td></tr>
      {%- endif -%}
      {%- if enum.ProperOverride != "" -%}
      <tr><th>Proper Override</th><td>{%s enum.ProperOverride %}</td></tr>
      {%- endif -%}
      {%- if enum.RouteOverride != "" -%}
      <tr><th>Route Override</th><td>{%s enum.RouteOverride %}</td></tr>
      {%- endif -%}
      {%- if len(enum.Tags) > 0 -%}
      <tr><th>Tags</th><td>{%s strings.Join(enum.Tags, ", ") %}</td></tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}

{% func enumValues(enum *enum.Enum, as *app.State, ps *cutil.PageState) %}
  {%- if len(enum.Values) == 0 -%}
  <p><em>no values</em></p>
  {%- else -%}
  <table class="mt min-200 full-width">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {%- for _, v := range enum.Values -%}
      <tr>
        <td>{%s v %}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {%- endif -%}
{% endfunc %}

{% func enumFiles(enum *enum.Enum, f *file.File, as *app.State, ps *cutil.PageState) %}
  <div class="mt">
    <ul class="accordion">
      <li>
        <input id="accordion-{%s f.FullPath() %}" type="checkbox" hidden />
        <label for="accordion-{%s f.FullPath() %}">{%= components.ExpandCollapse(3, ps) %} {%s f.FullPath() %}</label>
        <div class="bd">
          {%- code out, err := cutil.FormatLang(f.Content, f.Ext()) -%}
          {% if err == nil %}{%s= out %}{% else %}{%s err.Error() %}{% endif %}
        </div>
      </li>
    </ul>
  </div>
{% endfunc %}
