{% import (
  "fmt"

  "github.com/samber/lo"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/metamodel/enum"
  "projectforge.dev/projectforge/app/project/export"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/edit"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type EnumForm struct {
  layout.Basic
  BaseURL string
  Enum *enum.Enum
  Examples map[string]any
} %}

{% func (p *EnumForm) Body(as *app.State, ps *cutil.PageState) %}
  {%- code e := p.Enum -%}
  {%- code u := fmt.Sprintf("%s/%s/delete", p.BaseURL, e.Name) -%}
  <form action="" method="post" class="mt expanded">
    <div class="card">
      <div class="right"><a class="link-confirm" href="{%s u %}" data-message="Are you sure you wish to remove this export enum?"><button type="button">Delete</button></a></div>
      <h3>{%= components.SVGIcon(e.IconSafe(), ps) %} {%s util.Choose(e.Name == "", "New Enum", "Edit " + e.Name) %}</h3>
      <div class="overflow full-width">
        <table class="mt min-200 expanded">
          <tbody>
            {%= edit.StringTable("name", "", "Name", e.Name, 5, export.Helpers["enum.name"]...) %}
            {%= edit.StringTable("package", "", "Package", e.Package, 5, export.Helpers["enum.package"]...) %}
            {%= edit.StringTable("group", "", "Group", util.StringJoin(e.Group, "/"), 5, export.Helpers["enum.group"]...) %}
            {%= edit.StringTable("description", "", "Description", e.Description, 5, export.Helpers["enum.description"]...) %}
            {%= edit.StringTable("icon", "", "Icon", e.Icon, 5, export.Helpers["enum.icon"]...) %}
            {%= edit.StringTable("tags", "", "Tags", util.StringJoin(e.Tags, `, `), 5, export.Helpers["enum.tags"]...) %}
            {%= edit.StringTable("titleOverride", "", "Title Override", e.TitleOverride, 5, export.Helpers["enum.titleOverride"]...) %}
            {%= edit.StringTable("properOverride", "", "Proper Override", e.ProperOverride, 5, export.Helpers["enum.properOverride"]...) %}
            {%= edit.TextareaTable("config", "", "Config", 3, util.ToJSON(e.Config), 5, export.Helpers["enum.config"]...) %}
          </tbody>
        </table>
      </div>
    </div>
    {%= edit.RichEditorCard("values", "input-values", "Values", ps, `<a href="#modal-values"><button type="button">Example</button></a>`, "star", enum.ValueFieldDescs, lo.ToAnySlice(e.Values), export.Helpers["enum.values"]...) %}
    <div class="card">
      <button type="submit">Save</button>
      <button type="reset">Reset</button>
    </div>
  </form>
  {%- for k, v := range p.Examples -%}
  {%= components.JSONModal(k, "["+k+"] Example", v, 1) %}
  {%- endfor -%}
{% endfunc %}
