{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/export/model"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type ModelDetail struct {
  layout.Basic
  Model *model.Model
} %}

{% func (p *ModelDetail) Body(as *app.State, ps *cutil.PageState) %}
  {%- code m := p.Model -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(m.IconSafe(), ps) %}{%s m.Name %}</h3>
    {%= modelSummary(m, as, ps) %}
  </div>
  <div class="card">
    <h3>{%= components.SVGRefIcon(`first-aid`, ps) %} Columns</h3>
    {%= modelColumns(m, as, ps) %}
  </div>
  {%- if len(m.Relations) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`social`, ps) %} Relations</h3>
    {%= modelRelations(m, as, ps) %}
  </div>{%- endif -%}
{% endfunc %}

{% func modelSummary(model *model.Model, as *app.State, ps *cutil.PageState) %}
  <table class="min-200 full-width">
    <tbody>
      <tr><td class="shrink">Name</td><td>{%s model.Name %}</td></tr>
      <tr><td>Package</td><td>{%s model.Package %}</td></tr>
      <tr><td>Description</td><td>{%s model.Description %}</td></tr>
      <tr>
        <td>Ordering</td>
        <td>
          {%- for _, x := range model.Ordering -%}
          <div>{%s x.String() %}</div>
          {%- endfor -%}
        </td>
        </tr>
      {%- if len(model.GroupedColumns()) > 0 -%}
      <tr><td>Groupings</td><td>{%s strings.Join(model.GroupedColumns().Names(), ", ") %}</td></tr>
      {%- endif -%}
      {%- if len(model.Tags) > 0 -%}
      <tr><td>Tags</td><td>{%s strings.Join(model.Tags, ", ") %}</td></tr>
      {%- endif -%}
      {%- if len(model.Search) > 0 -%}
      <tr><td>Search</td><td>{%s strings.Join(model.Search, ", ") %}</td></tr>
      {%- endif -%}
      {%- if len(model.History) > 0 -%}
      <tr><td>History</td><td>{%s model.History %}</td></tr>
      {%- endif -%}
      {%- if len(model.Config) > 0 -%}
      <tr><td>Config</td><td>{%= components.JSON(model.Config) %}</td></tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}

{% func modelColumns(model *model.Model, as *app.State, ps *cutil.PageState) %}
  {%- if len(model.Columns) == 0 -%}
  <p><em>no columns</em></p>
  {%- else -%}
  <table class="mt min-200 full-width">
    <thead>
      <tr>
        <th class="shrink">Name</th>
        <th>Type</th>
        <th>Format</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {%- for _, col := range model.Columns -%}
      <tr>
        <td>{%s col.Name %}</td>
        <td>{%s col.Type.String() %}</td>
        <td>{%s col.Format %}</td>
        <td>{%s strings.Join(col.Tags, ", ") %}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {%- endif -%}
{% endfunc %}

{% func modelRelations(model *model.Model, as *app.State, ps *cutil.PageState) %}
  <table class="mt min-200 full-width">
    <thead>
      <tr>
        <th class="shrink">Name</th>
        <th>Source</th>
        <th>Table</th>
        <th>Target</th>
      </tr>
    </thead>
    <tbody>
      {%- for _, rel := range model.Relations -%}
      <tr>
        <td>{%s rel.Name %}</td>
        <td>{%s strings.Join(rel.Src, ", ") %}</td>
        <td>{%s rel.Table %}</td>
        <td>{%s strings.Join(rel.Tgt, ", ") %}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endfunc %}
