{% import (
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/file"
  "projectforge.dev/projectforge/app/lib/metamodel/model"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type ModelDetail struct {
  layout.Basic
  Project *project.Project
  Model *model.Model
  Files file.Files
} %}

{% func (p *ModelDetail) Body(as *app.State, ps *cutil.PageState) %}
  {%- code m := p.Model -%}
  <div class="card">
    <div class="right">
      <a href="/p/{%s p.Project.Key %}/export/models/{%s p.Model.Name %}/edit"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(m.IconSafe(), ps) %} {%s m.Name %}</h3>
    <em>export model</em>
    {%= modelSummary(p.Project.Key, m, as, ps) %}
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`first-aid`, ps) %} Columns</h3>
    {%= modelColumns(m, as, ps) %}
  </div>
  {%- if len(m.Relations) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`social`, ps) %} Relations</h3>
    {%= modelRelations(m, p.Project, as, ps) %}
  </div>{%- endif -%}{%- if len(m.Links) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`link`, ps) %} Links</h3>
    {%= modelLinks(m, as, ps) %}
  </div>{%- endif -%}{%- if len(m.Indexes) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`star`, ps) %} Indexes</h3>
    {%= modelIndexes(m, as, ps) %}
  </div>{%- endif -%}{%- if len(p.Files) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`file`, ps) %} Exported Files</h3>
    {%= modelFiles(m, p.Files, as, ps) %}
  </div>{%- endif -%}
{% endfunc %}

{% func modelSummary(pKey string, model *model.Model, as *app.State, ps *cutil.PageState) %}
  <div class="overflow full-width">
    <table class="mt min-200 full-width">
      <tbody>
        <tr><th class="shrink">Name</th><td>{%s model.Name %}</td></tr>
        <tr><th>Package</th><td>{%s model.Package %}</td></tr>
        {%- if len(model.Group) > 0 -%}
        <tr><th>Group</th><td>{%s strings.Join(model.Group, "/") %}</td></tr>
        {%- endif -%}
        {%- if model.Schema != "" -%}
        <tr><th>Schema</th><td>{%s model.Schema %}</td></tr>
        {%- endif -%}
        <tr><th>Description</th><td>{%s model.Description %}</td></tr>
        <tr>
          <th>Ordering</th>
          <td>
            {%- for _, x := range model.Ordering -%}
            <div>{%s x.String() %}</div>
            {%- endfor -%}
          </td>
        </tr>
        {%- if model.SortIndex != 0 -%}
        <tr><th>Sort Index</th><td>{%d model.SortIndex %}</td></tr>
        {%- endif -%}
        {%- if model.TitleOverride != "" -%}
        <tr><th>Title Override</th><td>{%s model.TitleOverride %}</td></tr>
        {%- endif -%}
        {%- if model.PluralOverride != "" -%}
        <tr><th>Plural Override</th><td>{%s model.PluralOverride %}</td></tr>
        {%- endif -%}
        {%- if model.ProperOverride != "" -%}
        <tr><th>Proper Override</th><td>{%s model.ProperOverride %}</td></tr>
        {%- endif -%}
        {%- if model.TableOverride != "" -%}
        <tr><th>Table Override</th><td>{%s model.TableOverride %}</td></tr>
        {%- endif -%}
        {%- if model.RouteOverride != "" -%}
        <tr><th>Route Override</th><td>{%s model.RouteOverride %}</td></tr>
        {%- endif -%}
        {%- if len(model.Tags) > 0 -%}
        <tr><th>Tags</th><td>{%s strings.Join(model.Tags, ", ") %}</td></tr>
        {%- endif -%}
        {%- if model.View != "" -%}
        <tr><th>View</th><td>{%s model.View %}</td></tr>
        {%- endif -%}
        {%- if len(model.Search) > 0 -%}
        <tr><th>Search</th><td>{%s strings.Join(model.Search, ", ") %}</td></tr>
        {%- endif -%}
        {%- if len(model.SeedData) > 0 -%}
        <tr><th>Seed Data</th><td><a href="/p/{%s pKey %}/export/models/{%s model.Name %}/seeddata">{%d len(model.SeedData) %} rows</a></td></tr>
        {%- endif -%}
        {%- if len(model.Config) > 0 -%}
        <tr><th>Config</th><td>{%= components.JSON(model.Config) %}</td></tr>
        {%- endif -%}
        {%- if len(model.Links) > 0 -%}
        <tr><th>Links</th><td>{%= components.JSON(model.Links) %}</td></tr>
        {%- endif -%}
        {%- if len(model.Imports) > 0 -%}
        <tr><th>Imports</th><td>{%= components.JSON(model.Imports) %}</td></tr>
        {%- endif -%}
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func modelColumns(model *model.Model, as *app.State, ps *cutil.PageState) %}
  {%- if len(model.Columns) == 0 -%}
  <p><em>no columns</em></p>
  {%- else -%}
  <div class="overflow full-width">
    <table class="mt min-200 full-width">
      <thead>
        <tr>
          <th class="shrink">Name</th>
          <th>Type</th>
          <th>Format</th>
          <th>Example</th>
          <th>JSON</th>
          <th>Validation</th>
          <th>Indexed</th>
          <th>Unique</th>
          <th>Tags</th>
          <th>Metadata</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, col := range model.Columns -%}
        <tr>
          <td>{%s col.Name %}</td>
          <td>{%s col.Type.String() %}</td>
          <td>{%s col.Format %}</td>
          <td>{%s col.Example %}</td>
          <td>{%s col.JSON %}</td>
          <td>{%s col.Validation %}</td>
          <td>{%= view.BoolIcon(col.Indexed || model.Relations.ContainsSource(col.Name), 15, "icon", ps) %}</td>
          <td>{%= view.BoolIcon(col.HasTag("unique"), 15, "icon", ps) %}</td>
          <td>{%s strings.Join(col.Tags, ", ") %}</td>
          <td>{%= view.Map(false, col.Metadata, ps) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endfunc %}

{% func modelRelations(model *model.Model, prj *project.Project, as *app.State, ps *cutil.PageState) %}
  <div class="overflow full-width">
    <table class="mt min-200 full-width">
      <thead>
        <tr>
          <th class="shrink">Name</th>
          <th>Source</th>
          <th>Table</th>
          <th>Target</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, rel := range model.Relations -%}
        <tr>
          <td>{%s rel.Name %}</td>
          <td>{%s strings.Join(rel.Src, ", ") %}</td>
          <td><a href="{%s prj.WebPath() %}/export/models/{%s rel.Table %}">{%s rel.Table %}</a></td>
          <td>{%s strings.Join(rel.Tgt, ", ") %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func modelIndexes(model *model.Model, as *app.State, ps *cutil.PageState) %}
  <div class="overflow full-width">
    <table class="mt min-200 full-width">
      <thead>
        <tr>
          <th class="shrink">Name</th>
          <th>Declaration</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, idx := range model.Indexes -%}
        <tr>
          <td>{%s idx.Name %}</td>
          <td>{%s idx.Decl %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func modelLinks(model *model.Model, as *app.State, ps *cutil.PageState) %}
  <div class="overflow full-width">
    <table class="mt min-200 full-width">
      <thead>
        <tr>
          <th class="shrink">Title</th>
          <th>URL</th>
          <th>Icon</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, l := range model.Links -%}
        <tr>
          <td>{%s l.Title %}</td>
          <td>{%= view.URL(l.URL, "", true, ps) %}</td>
          <td>{%= components.SVGIcon(l.Icon, ps) %}</td>
          <td>{%= view.StringArray(l.Tags) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func modelFiles(model *model.Model, fls file.Files, as *app.State, ps *cutil.PageState) %}
  <div class="mt">
    <ul class="accordion">
      {%- for _, f := range fls -%}
      <li>
        <input id="accordion-{%s f.FullPath() %}" type="checkbox" hidden />
        <label for="accordion-{%s f.FullPath() %}">{%= components.ExpandCollapse(3, ps) %} {%s f.FullPath() %}</label>
        <div class="bd"><div><div>
          {%- code out, err := cutil.FormatLang(f.Content, f.Ext()) -%}
          {% if err == nil %}{%s= out %}{% else %}{%s err.Error() %}{% endif %}
        </div></div></div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}
