{% import (
  "fmt"
  "strings"

  "github.com/samber/lo"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/project/export"
  "projectforge.dev/projectforge/app/project/export/model"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/edit"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type ModelForm struct {
  layout.Basic
  Project *project.Project
  Model *model.Model
  Examples map[string]any
} %}

{% func (p *ModelForm) Body(as *app.State, ps *cutil.PageState) %}
  {%- code m := p.Model -%}
  {%- code u := fmt.Sprintf("/p/%s/export/models/%s/delete", p.Project.Key, p.Model.Name) -%}
  <form action="" method="post" class="mt expanded">
    <div class="card">
      <div class="right"><a href="{%s u %}" onclick="return confirm('Are you sure you wish to remove this export model?')"><button type="button">Delete</button></a></div>
      <h3>{%= components.SVGRefIcon(m.IconSafe(), ps) %}{% if m.Name == "" %}New Model{% else %}Edit {%s m.Name %}{% endif %}</h3>
      <div class="overflow full-width">
        <table class="mt min-200 expanded">
          <tbody>
            {%= edit.StringTable("name", "", "Name", m.Name, 5, export.Helpers["model.name"]...) %}
            {%= edit.StringTable("package", "", "Package", m.Package, 5, export.Helpers["model.package"]...) %}
            {%= edit.StringTable("group", "", "Group", strings.Join(m.Group, "/"), 5, export.Helpers["model.group"]...) %}
            {%= edit.StringTable("description", "", "Description", m.Description, 5, export.Helpers["model.description"]...) %}
            {%= edit.StringTable("icon", "", "Icon", m.Icon, 5, export.Helpers["model.icon"]...) %}
            {%= edit.TextareaTable("ordering", "", "Ordering", 3, util.ToJSON(m.Ordering), 5, export.Helpers["model.ordering"]...) %}
            {%= edit.SelectTable("view", "", "View", m.View, []string{"", "rich"}, []string{"Default", "Rich"}, 5, export.Helpers["model.view"]...) %}
            {%= edit.StringTable("search", "", "Search", strings.Join(m.Search, `, `), 5, export.Helpers["model.search"]...) %}
            {%= edit.StringTable("tags", "", "Tags", strings.Join(m.Tags, `, `), 5, export.Helpers["model.tags"]...) %}
            {%= edit.StringTable("titleOverride", "", "Title Override", m.TitleOverride, 5, export.Helpers["model.titleOverride"]...) %}
            {%= edit.StringTable("pluralOverride", "", "Plural Override", m.PluralOverride, 5, export.Helpers["model.pluralOverride"]...) %}
            {%= edit.StringTable("properOverride", "", "Proper Override", m.ProperOverride, 5, export.Helpers["model.properOverride"]...) %}
            {%= edit.TextareaTable("config", "", "Config", 3, util.ToJSON(m.Config), 5, export.Helpers["model.config"]...) %}
          </tbody>
        </table>
      </div>
    </div>
    {%= edit.RichEditorCard("columns", "input-columns", "Columns", ps, `<a href="#modal-columns"><button type="button">Example</button></a>`, "first-aid",  model.ColumnFieldDescs, lo.ToAnySlice(m.Columns), export.Helpers["model.columns"]...) %}
    {%= edit.RichEditorCard("relations", "input-relations", "Relations", ps, `<a href="#modal-relations"><button type="button">Example</button></a>`, "social",  model.RelationFieldDescs, lo.ToAnySlice(m.Relations), export.Helpers["model.relations"]...) %}
    {%= edit.RichEditorCard("indexes", "input-indexes", "Indexes", ps, `<a href="#modal-indexes"><button type="button">Example</button></a>`, "star",  model.IndexFieldDescs, lo.ToAnySlice(m.Indexes), export.Helpers["model.indexes"]...) %}
    <div class="card">
      <button type="submit">Save</button>
      <button type="reset">Reset</button>
    </div>
  </form>
  {%- for k, v := range p.Examples -%}
  {%= components.JSONModal(k, "["+k+"] Example", v, 1) %}
  {%- endfor -%}
{% endfunc %}
