{% import (
  "fmt"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/export/model"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
) %}

{% func ModelList(models model.Models, urlPrefix string, as *app.State, ps *cutil.PageState) %}
  <table class="min-200 full-width">
    <tbody>
      {%- for _, m := range models -%}
      {%- code u := fmt.Sprintf("%s/%s", urlPrefix, m.Name) -%}
      <tr>
        <td class="shrink"><a href="{%s u %}">{%= components.SVGRef(m.IconSafe(), 15, 15, ``, ps) %}</a> <a href="{%s u %}">{%s m.Title() %}</a></td>
        <td style="text-align: right;"><em>{%d len(m.Columns) %} {%s util.StringPluralMaybe("field", len(m.Columns)) %}</em></td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endfunc %}
