{% import (
  "fmt"
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/metamodel/enum"
  "projectforge.dev/projectforge/app/lib/metamodel/model"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Overview struct {
  layout.Basic
  Project *project.Project
  Args *model.Args
} %}

{% func (p *Overview) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/p/{%s p.Project.Key %}/export/config"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a></div>
    <h3>{%= components.SVGIcon(`print`, ps) %} Export Configuration</h3>
    {%= view.Map(true, p.Args.Config, ps) %}
  </div>
  <div class="card">
    <div class="right"><a href="/p/{%s p.Project.Key %}/export/groups"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a></div>
    <h3>{%= components.SVGIcon(`users`, ps) %} {%s util.StringPlural(len(p.Args.Groups), "Group") %}</h3>
    <div class="mt">
      {%- if len(p.Args.Groups) == 0 -%}
      <em>no groups defined</em>
      {%- else -%}
      {%= GroupList(p.Args.Groups, 2) %}
      {%- endif -%}
    </div>
  </div>
  <div class="card">
    <div class="right">
      <a href="/p/{%s p.Project.Key %}/export/enums/create/new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`hammer`, ps) %} {%s util.StringPlural(len(p.Args.Enums), "Enum") %}</h3>
    {%- if len(p.Args.Enums) == 0 -%}
    <em>no enums defined</em>
    {%- else -%}
    {%= EnumList(p.Args.Enums, fmt.Sprintf("/p/%s/export/enums", p.Project.Key), as, ps) %}
    {%- endif -%}
  </div>
  <div class="card">
    <div class="right">
      <a href="/p/{%s p.Project.Key %}/export/jsonschema"><button>{%= components.SVGButton("table", ps) %} JSON Schema</button></a>
      <a href="/p/{%s p.Project.Key %}/export/models/create/derive"><button>{%= components.SVGButton("dna", ps) %} Derive</button></a>
      <a href="/p/{%s p.Project.Key %}/export/models/create/new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`list`, ps) %} {%s util.StringPlural(len(p.Args.Models), "Model") %}</h3>
    {%= ModelList(p.Args.Models, fmt.Sprintf("/p/%s/export/models", p.Project.Key), as, ps) %}
  </div>
{% endfunc %}

{% func GroupList(groups model.Groups, indent int) %}{% stripspace %}
  {%= components.Indent(true, indent) %}
  <ul>
    {%- for _, g := range groups -%}
    {%= components.Indent(true, indent+1) %}
    <li>
      {%= components.Indent(true, indent+2) %}
      {%s g.String() %}
      {% if g.Description != "" %}
      :{% space %}{%s g.Description %}
      {% endif %}
      {% if g.Route != "" %}
      :{% space %}<em><code>{%s g.Route %}</code></em>
      {% endif %}
      {% if len(g.Children) > 0 %}
        {%= GroupList(g.Children, indent + 3) %}
      {% endif %}
    {%= components.Indent(true, indent+1) %}
    </li>
    {%- endfor -%}
  {%= components.Indent(true, indent) %}
  </ul>
{% endstripspace %}{% endfunc %}

{% func EnumList(enums enum.Enums, urlPrefix string, as *app.State, ps *cutil.PageState) %}
  <div class="overflow full-width">
    <table class="mt min-200 full-width">
      <tbody>
        {%- for _, e := range enums -%}
        {%- code
          u := fmt.Sprintf("%s/%s", urlPrefix, e.Name)
          var prefix string
          if len(e.Group) > 0 {
            prefix += strings.Join(e.Group, "/")+", "
          }
        -%}
        <tr>
          <td class="shrink"><a href="{%s u %}">{%= components.SVGIcon(e.IconSafe(), ps) %}</a> <a href="{%s u %}">{%s e.Title() %}</a></td>
          <td>{%s e.Description %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func ModelList(models model.Models, urlPrefix string, as *app.State, ps *cutil.PageState) %}
  <div class="overflow full-width">
    <table class="mt min-200 full-width">
      <tbody>
        {%- for _, m := range models -%}
        {%- code
          u := fmt.Sprintf("%s/%s", urlPrefix, m.Name)
          var prefix string
          if len(m.Group) > 0 {
            prefix += strings.Join(m.Group, "/")+", "
          }
          if len(m.SeedData) > 0 {
            prefix += fmt.Sprintf("%s of seed data", util.StringPlural(len(m.SeedData), "row"))
          }
        -%}
        <tr>
          <td class="shrink"><a href="{%s u %}">{%= components.SVGIcon(m.IconSafe(), ps) %}</a> <a href="{%s u %}">{%s m.Title() %}</a></td>
          <td class="text-align-right"><em>{%s prefix %}{%s util.StringPlural(len(m.Columns), "field") %}</em></td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
