{% import (
  "fmt"
  "strings"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/export/model"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vutil"
) %}

{% code type Overview struct {
  layout.Basic
  Project *project.Project
  Args *model.Args
} %}

{% func (p *Overview) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/p/{%s p.Project.Key %}/export/config"><button>Edit</button></a></div>
    <h3>{%= components.SVGRefIcon(`print`, ps) %}Export Configuration</h3>
    {%= components.JSON(p.Args.Config) %}
  </div>
  <div class="card">
    <div class="right"><a href="/p/{%s p.Project.Key %}/export/groups"><button>Edit</button></a></div>
    <h3>{%= components.SVGRefIcon(`users`, ps) %}Groups</h3>
    <div class="mt">
      {%- if len(p.Args.Groups) == 0 -%}
      <em>no groups defined</em>
      {%- else -%}
      {%= GroupList(p.Args.Groups, 2) %}
      {%- endif -%}
    </div>
  </div>
  <div class="card">
    <div class="right"><a href="/p/{%s p.Project.Key %}/export/models/new"><button>New</button></a></div>
    <h3>{%= components.SVGRefIcon(`list`, ps) %}Models</h3>
    {%= ModelList(p.Args.Models, fmt.Sprintf("/p/%s/export/models", p.Project.Key), as, ps) %}
  </div>
{% endfunc %}

{% func GroupList(groups model.Groups, indent int) %}{% stripspace %}
  {%= vutil.Indent(true, indent) %}
  <ul>
    {%- for _, g := range groups -%}
    {%= vutil.Indent(true, indent+1) %}
    <li>
      {%= vutil.Indent(true, indent+2) %}
      {%s g.Key %}
      {% if len(g.Children) > 0 %}
      {%= GroupList(g.Children, indent + 3) %}
      {% endif %}
    {%= vutil.Indent(true, indent+1) %}
    </li>
    {%- endfor -%}
  {%= vutil.Indent(true, indent) %}
  </ul>
{% endstripspace %}{% endfunc %}

{% func ModelList(models model.Models, urlPrefix string, as *app.State, ps *cutil.PageState) %}
  <table class="mt min-200 full-width">
    <tbody>
      {%- for _, m := range models -%}
      {%- code
        u := fmt.Sprintf("%s/%s", urlPrefix, m.Name)
        var prefix string
        if len(m.Group) > 0 {
          prefix += strings.Join(m.Group, "/")+", "
        }
        if len(m.SeedData) > 0 {
          prefix += fmt.Sprintf("%d seed rows, ", len(m.SeedData))
        }
      -%}
      <tr>
        <td class="shrink"><a href="{%s u %}">{%= components.SVGRef(m.IconSafe(), 15, 15, ``, ps) %}</a> <a href="{%s u %}">{%s m.Title() %}</a></td>
        <td style="text-align: right;"><em>{%s prefix %}{%d len(m.Columns) %} {%s util.StringPluralMaybe("field", len(m.Columns)) %}</em></td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
{% endfunc %}
