{% import (
  "fmt"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/metamodel"
  "projectforge.dev/projectforge/app/project"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Overview struct {
  layout.Basic
  Project *project.Project
  Args *metamodel.Args
} %}

{% func (p *Overview) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="/p/{%s p.Project.Key %}/export/jsonschema"><button>{%= components.SVGButton("table", ps) %} JSON Schema</button></a>
      <a href="/p/{%s p.Project.Key %}/export/config"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`print`, ps) %} Export Configuration</h3>
    {%= view.Map(true, p.Args.Config, ps) %}
  </div>
  <div class="card">
    <div class="right"><a href="/p/{%s p.Project.Key %}/export/groups"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a></div>
    <h3>{%= components.SVGIcon(`users`, ps) %} {%s util.StringPlural(len(p.Args.Groups), "Group") %}</h3>
    <div class="mt">
      {%- if len(p.Args.Groups) == 0 -%}
      <em>no groups defined</em>
      {%- else -%}
      {%= GroupList(p.Args.Groups, 2) %}
      {%- endif -%}
    </div>
  </div>
  <div class="card">
    <div class="right">
      <a href="/p/{%s p.Project.Key %}/export/enums/create/new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`hammer`, ps) %} {%s util.StringPlural(len(p.Args.Enums), "Enum") %}</h3>
    <div class="mt">
      {%- if len(p.Args.Enums) == 0 -%}
      <em>no enums defined</em>
      {%- else -%}
      {%= EnumList(as, p.Args.Enums, fmt.Sprintf("/p/%s/export/enums", p.Project.Key), ps) %}
      {%- endif -%}
    </div>
  </div>
  <div class="card">
    <div class="right">
      <a href="/p/{%s p.Project.Key %}/export/events/create/new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`hammer`, ps) %} {%s util.StringPlural(len(p.Args.Events), "Event") %}</h3>
    <div class="mt">
      {%- if len(p.Args.Events) == 0 -%}
      <em>no events defined</em>
      {%- else -%}
      {%= EventList(as, p.Args.Events, fmt.Sprintf("/p/%s/export/events", p.Project.Key), ps) %}
      {%- endif -%}
    </div>
  </div>
  <div class="card">
    <div class="right">
      <a href="/p/{%s p.Project.Key %}/export/models/create/derive"><button>{%= components.SVGButton("dna", ps) %} Derive</button></a>
      <a href="/p/{%s p.Project.Key %}/export/models/create/new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`list`, ps) %} {%s util.StringPlural(len(p.Args.Models), "Model") %}</h3>
    <div class="mt">
      {%- if len(p.Args.Models) == 0 -%}
      <em>no models defined</em>
      {%- else -%}
      {%= ModelList(as, p.Args.Models, fmt.Sprintf("/p/%s/export/models", p.Project.Key), ps) %}
      {%- endif -%}
    </div>
  </div>
  {%- if len(p.Args.ExtraTypes) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`file`, ps) %} {%s util.StringPlural(len(p.Args.ExtraTypes), "Extra Types") %}</h3>
    <div class="mt">
      {%= ModelList(as, p.Args.ExtraTypes, fmt.Sprintf("/p/%s/export/extra", p.Project.Key), ps) %}
    </div>
  </div>
  {%- endif -%}
{% endfunc %}
