<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "projectforge.dev/app"
  "projectforge.dev/app/controller/cutil"
  "projectforge.dev/views/components"
  "projectforge.dev/views/layout"
) %}

{% code type Run struct {
  layout.Basic
  Key string
  Title string
  Result interface{}
} %}

{% func (p *Run) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s p.Title %}</h3>
    {%= components.JSON(p.Result) %}
  </div>
{% endfunc %}

