{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"{{{ if .HasModule "oauth" }}}
  "{{{ .Package }}}/app/lib/user"{{{ end }}}
  "{{{ .Package }}}/views/layout"
) %}

{% code type Unauthorized struct {
  layout.Basic
  Path string
  Message string{{{ if .HasModule "oauth" }}}
  Accounts user.Accounts{{{ end }}}
} %}

{% func (p *Unauthorized) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Unauthorized</h3>
    <em>{%s p.Message %}</em>
    <p>You're not authorized to view <code>{%s p.Path %}</code></p>{{{ if.HasModule "oauth" }}}
    {%- if len(p.Accounts) == 0 -%}
    <p>Sorry about that, maybe try <a href="{%s as.Auth.LoginURL() %}">logging in</a>?</p>
    {%- endif -%}{{{ end }}}
  </div>
{% endfunc %}

