{% import (
  "{{{ .Package }}}/app"
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/lib/theme"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/layout"
) %}

{% code type Add struct {
  layout.Basic
  Palette string
  Themes theme.Themes
} %}

{% func (p *Add) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Choose Theme</h3>
    <form action="/theme" method="post">
      <input type="hidden" name="palette" value="{%s p.Palette %}" />
      <table class="mt">
        <tbody>
          {%- for _, t := range p.Themes -%}
          <tr>
            <th><a href="/theme/palette/{%s p.Palette %}/{%s t.Key %}">{%s t.Key %}</a></th>
            <th class="shrink" style="background-color: #ffffff; padding: 12px 36px;">{%= MockupColors(util.AppName, "", t.Light, true, "app", 5, ps) %}</th>
            <th class="shrink" style="background-color: #121212; padding: 12px 36px;">{%= MockupColors(util.AppName, "", t.Dark, true, "app", 5, ps) %}</th>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </form>
  </div>
{% endfunc %}
