{% import (
  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
) %}

{% func Map(preserveWhitespace bool, m util.ValueMap, ps *cutil.PageState) %}{% stripspace %}
  {%- if m == nil -%}
  <em>no result</em>
  {%- elseif len(m) == 0 -%}
  <em>empty result</em>
  {%- else -%}
  <div class="overflow full-width bl">
    <table class="expanded">
      <tbody>
        {%- for _, k := range m.Keys() -%}
          <tr>
            <th class="shrink">{%s k %}</th>
            {%- if preserveWhitespace -%}
            <td class="prews">{%= Any(m[k], ps) %}</td>
            {%- else -%}
            <td>{%= Any(m[k], ps) %}</td>
            {%- endif -%}
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func MapTable(title string, preserveWhitespace bool, value util.ValueMap, indent int, ps *cutil.PageState) %}{% stripspace %}
  <tr>
    {%= components.Indent(true, indent + 1) %}
    <th class="shrink">{%s title %}</th>
    {%= components.Indent(true, indent + 1) %}
    <td>{%= Map(preserveWhitespace, value, ps) %}</td>
  {%= components.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func MapKeys(m util.ValueMap) %}{% stripspace %}
  {%- if m == nil || len(m) == 0 -%}
  <em>no keys</em>
  {%- else -%}
  {%= Tags(m.Keys(), nil) %}
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func MapArray(preserveWhitespace bool, ps *cutil.PageState, maps ...util.ValueMap) %}{% stripspace %}
  {%- if len(maps) == 0 -%}
  <em>no results</em>
  {%- else -%}
  <div class="overflow full-width">
    <table>
      <thead>
      <tr>
        {%- for _, k := range maps[0].Keys() -%}
        <th>{%s k %}</th>
        {%- endfor -%}
      </tr>
      </thead>
      <tbody>
        {%- for _, m := range maps -%}
          <tr>
            {%- for _, k := range m.Keys() -%}
            {%- if preserveWhitespace -%}
            <td class="prews">{%= Any(m[k], ps) %}</td>
            {%- else -%}
            <td>{%= Any(m[k], ps) %}</td>
            {%- endif -%}
            {%- endfor -%}
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func OrderedMap(preserveWhitespace bool, m *util.OrderedMap[any], ps *cutil.PageState) %}{% stripspace %}
  {%- if m == nil -%}
  <em>no result</em>
  {%- elseif len(m.Map) == 0 -%}
  <em>empty result</em>
  {%- else -%}
  <div class="overflow full-width bl">
    <table class="expanded">
      <tbody>
        {%- for _, k := range m.Order -%}
          <tr>
            <th class="shrink">{%s k %}</th>
            {%- if preserveWhitespace -%}
            <td class="prews">{%= Any(m.GetSimple(k), ps) %}</td>
            {%- else -%}
            <td>{%= Any(m.GetSimple(k), ps) %}</td>
            {%- endif -%}
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}

{% func OrderedMapArray(preserveWhitespace bool, ps *cutil.PageState, maps ...*util.OrderedMap[any]) %}{% stripspace %}
  {%- code withoutNil := util.ArrayRemoveNil(maps) -%}
  {%- if len(withoutNil) == 0 -%}
  <em>no results</em>
  {%- else -%}
  {%- code first := withoutNil[0] -%}
  <div class="overflow full-width">
    <table>
      <thead>
      <tr>
        {%- for _, k := range first.Order -%}
        <th>{%s k %}</th>
        {%- endfor -%}
      </tr>
      </thead>
      <tbody>
        {%- for _, m := range maps -%}
          {%- if m == nil -%}
          <tr>
            <td colspan="100%"><em>&lt;nil&gt;</em></td>
          </tr>
          {%- else -%}
          <tr>
            {%- for _, k := range m.Order -%}
            {%- if preserveWhitespace -%}
            <td class="prews">{%= Any(m.GetSimple(k), ps) %}</td>
            {%- else -%}
            <td>{%= Any(m.GetSimple(k), ps) %}</td>
            {%- endif -%}
            {%- endfor -%}
          </tr>
          {%- endif -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endstripspace %}{% endfunc %}
