{% import (
  "time"

  "{{{ .Package }}}/app/util"
) %}

{% func Timestamp(value *time.Time) %}{% stripspace %}
  <span class="timestamp nowrap" title="{%s util.TimeToVerbose(value) %}" data-timestamp="{%s util.TimeToJSFull(value) %}">{%s util.TimeToFull(value) %}</span>
{% endstripspace %}{% endfunc %}

{% func TimestampMillis(value *time.Time) %}{% stripspace %}
  <span class="timestamp millis nowrap" title="{%s util.TimeToVerbose(value) %}" data-timestamp="{%s util.TimeToRFC3339(value) %}">{%s util.TimeToFullMS(value) %}</span>
{% endstripspace %}{% endfunc %}

{% func TimestampRelative(value *time.Time, static bool) %}{% stripspace %}
  <span class="{% if !static %}reltime{% space %}{% endif %}nowrap" title="{%s util.TimeToVerbose(value) %}" data-timestamp="{%s util.TimeToFull(value) %}">{%s util.TimeRelative(value) %}</span>
{% endstripspace %}{% endfunc %}

{% func TimestampDay(value *time.Time) %}{% stripspace %}
  {%s util.TimeToYMD(value) %}
{% endstripspace %}{% endfunc %}

{% func DurationSeconds(seconds float64) %}{% stripspace %}
  <span class="duration" data-seconds="{%f seconds %}" title="{%s util.FormatSecondsFull(seconds) %}">{%s util.FormatSeconds(seconds) %}</span>
{% endstripspace %}{% endfunc %}
