{% import (
  "fmt"
  "net/url"
  "strings"

  "{{{ .Package }}}/app/controller/cutil"
  "{{{ .Package }}}/app/util"
  "{{{ .Package }}}/views/components"
) %}

{% func URL(u any, content string, includeExternalIcon bool, ps *cutil.PageState) %}{% stripspace %}
  {% if u == nil %}
    <em>nil</em>
  {% else %}
    {% code
      var href string
      switch t := u.(type) {
      case string:
        href = t
      case url.URL:
        href = t.String()
      case *url.URL:
        href = t.String()
      default:
        href = fmt.Sprint(u)
      }
      if content == "" {
        content = href
      }
      showIcon := includeExternalIcon && strings.HasPrefix(href, "http")
    %}
    <a target="_blank" rel="noopener noreferrer" href="{%s href %}">{%s content %}{% if showIcon %}{%= components.SVGLinkPadded(`external`, ps) %}{% endif %}</a>
  {% endif %}
{% endstripspace %}{% endfunc %}

{% func CodeLink(path string, title string, ps *cutil.PageState) %}{% stripspace %}
  {%- code
    origPath := path
    if title == "" {
      title = path
    }
    if !strings.HasPrefix(path, "/") {
      path = "/" + path
    }
    u := util.AppSource + "/blob/main" + path
  -%}
  {%= URL(u, origPath, false, ps) %}
{% endstripspace %}{% endfunc %}
