<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "go.uber.org/zap/zapcore"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Logs struct {
  layout.Basic
  Logs []*zapcore.Entry
} %}

{% func (p *Logs) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Recent Logs</h3>
    {%= logTable(p.Logs) %}
  </div>
{% endfunc %}

{% func logTable(logs []*zapcore.Entry) %}
  <div class="overflow full-width">
    <table class="mt">
      <thead>
        <tr>
          <th>Level</th>
          <th>Message</th>
          <th>Occurred</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, l := range logs -%}
        <tr>
          <td>
            {%- code lv := l.Level.String() -%}
            {%- switch lv -%}
            {%- case "debug", "trace" -%}
            <em>debug</em>
            {%- case "error", "fatal" -%}
            <div class="error">error</div>
            {%- default -%}
            {%s lv %}
            {%- endswitch -%}
          </td>
          <td>{%s l.Message %}</td>
          <td>{%s util.TimeRelative(&l.Time) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
