<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "runtime"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type MemUsage struct {
  layout.Basic
  Mem *runtime.MemStats
} %}

{% func (p *MemUsage) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`desktop`, ps) %}Memory Usage</h3>
    <em>Better formatting is coming soon</em>
    {%s= components.JSON(p.Mem) %}
  </div>
{% endfunc %}
