{% import (
  "runtime/debug"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Modules struct {
  layout.Basic
  Modules []*debug.Module
  Version string
} %}

{% func (p *Modules) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">{%s util.AppName %} v{%s p.Version %}</div>
    <h3>{%= components.SVGIcon(`archive`, ps) %} Go Modules</h3>
    {%= moduleTable(p.Modules, ps) %}
  </div>
{% endfunc %}

{% func moduleTable(mods []*debug.Module, ps *cutil.PageState) %}
    <div class="overflow full-width">
      <table class="mt">
        <thead>
          <tr>
            <th>Name</th>
            <th>Version</th>
          </tr>
        </thead>
        <tbody>
          {%- for _, m := range mods -%}
          <tr>
            <td>{%= view.URL("https://" + m.Path, m.Path, true, ps) %}</td>
            <td title="{%s m.Sum %}">{%s m.Version %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
{% endfunc %}
