<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "runtime/debug"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Modules struct {
  layout.Basic
  Info *util.DebugInfo
} %}

{% func (p *Modules) Body(as *app.State, ps *cutil.PageState) %}
  {%= buildInfo(p.Info.Tags, as) %}
  {%= moduleList(p.Info.Mods) %}
{% endfunc %}

{% func buildInfo(tags *util.OrderedMap, as *app.State) %}
  <div class="card">
    <h3>{%s util.AppName %} v{%s as.BuildInfo.Version %}</h3>
    <ul class="mt">
      {%- for _, k := range tags.Order -%}
      <li><strong>{%s k %}</strong>: {%s tags.GetSimple(k).(string) %}</li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}

{% func moduleList(Mods []*debug.Module) %}
  <div class="card">
    <h3>Go Modules</h3>
    <table class="mt">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        {%- for _, m := range Mods -%}
        <tr>
          <td><a target="_blank" rel="noopener noreferrer" href="https://{%s m.Path %}">{%s m.Path %}</a></td>
          <td title="{%s m.Sum %}">{%s m.Version %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
