<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "net/http"

  "github.com/samber/lo"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Request struct {
  layout.Basic
  Rsp http.ResponseWriter
  Req *http.Request
} %}

{% func (p *Request) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-ps"><button type="button">Page State</button></a></div>
    <h3>{%= components.SVGIcon(`link`, ps) %} Request Debug</h3>
    <div class="overflow full-width">
      <table>
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>URL</td>
            <td>{%s p.Req.URL.String() %}</td>
          </tr>
          <tr>
            <td>Protocol</td>
            <td>{%s p.Req.URL.Scheme %}</td>
          </tr>
          <tr>
            <td>Host</td>
            <td>{%s p.Req.URL.Host %}</td>
          </tr>
          <tr>
            <td>Path</td>
            <td>{%s p.Req.URL.Path %}</td>
          </tr>
          <tr>
            <td>Query String</td>
            <td>{%s p.Req.URL.RawQuery %}</td>
          </tr>
          <tr>
            <td>Body Size</td>
            <td>{%s util.ByteSizeSI(int64(len(ps.RequestBody))) %}</td>
          </tr>
          <tr>
            <td>Browser</td>
            <td>{%s ps.Browser %} {%s ps.BrowserVersion %}</td>
          </tr>
          <tr>
            <td>OS</td>
            <td>{%s ps.OS %} {%s ps.OSVersion %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- if len(p.Req.Header) > 0 -%}
  {%- code hd := cutil.RequestHeadersMap(p.Req) -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`code`, ps) %} Headers</h3>
    <div class="overflow full-width">
      <table>
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {%- for _, k := range util.ArraySorted(lo.Keys(hd)) -%}
          <tr>
            <td class="nowrap">{%s k %}</td>
            <td>{%s hd.GetStringOpt(k) %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
  {%= components.JSONModal("ps", "Page State", ps, 1) %}
{% endfunc %}
