<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "fmt"

  "golang.org/x/exp/maps"
  "golang.org/x/exp/slices"

  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Session struct { layout.Basic } %}

{% func (p *Session) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>Session</h3>
    <em>{%d len(ps.Session) %} values</em>
  </div>
  {%- if len(ps.Session) > 0 -%}
  <div class="card">
    <h3>Values</h3>
    <table class="mt expanded">
      <tbody>
        {%- code
          keys := maps.Keys(ps.Session)
          slices.Sort(keys)
        -%}
        {%- for _, k := range keys -%}
          {%- code v := ps.Session[k] -%}
          <tr>
            <th class="shrink">{%s k %}</th>
            <td>{%s fmt.Sprint(v) %}</td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- else -%}
  <div class="card">
    <em>Empty session</em>
  </div>
  {%- endif -%}
  <div class="card">
    <h3>Profile</h3>
    <div class="mt">{%= components.JSON(ps.Profile) %}</div>
  </div>
  {%- if len(ps.Accounts) > 0 -%}
  <div class="card">
    <h3>Accounts</h3>
    <table class="mt">
      <thead>
        <tr>
          <th>Provider</th>
          <th>Email</th>
          <th>Token</th>
        </tr>
      </thead>
      <tbody>
      {%- for _, acct := range ps.Accounts -%}
      <tr>
        <td>{%s acct.Provider %}</td>
        <td>{%s acct.Email %}</td>
        <td><div class="break-word">{%s acct.Token %}</div></td>
      </tr>
      {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- endif -%}
{% endfunc %}
