{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/jsonschema"
  "projectforge.dev/projectforge/app/lib/metamodel"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type CollectionDetail struct {
  layout.Basic
  BaseURL string
  Args *metamodel.Args
  Collection *jsonschema.Collection
  Unrelated jsonschema.Schemas
  Results *metamodel.Args
} %}

{% func (p *CollectionDetail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="{%s p.BaseURL %}/export/jsonschema/write">
        <button>{%= components.SVGButton("file", ps) %} Write Schema</button>
      </a>
    </div>
    <h3>{%= components.SVGIcon(`table`, ps) %} {%s ps.Title %}</h3>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`hammer`, ps) %} {%s util.StringPlural(len(p.Args.Enums), "Enum") %}</h3>
    <div class="mt">
      <ul class="accordion">
        {%- for _, x := range p.Args.Enums -%}
        {%- code sch := p.Collection.GetSchema(x.ID()) -%}
        {%- code res := p.Results.Enums.Get(x.Name) -%}
        {%- code df := util.DiffObjects(x, res) -%}
        <li>
          <input id="accordion-enum-{%s x.Name %}" type="checkbox" hidden="hidden" />
          <label for="accordion-enum-{%s x.Name %}">
            {%- if len(df) > 0 -%}
            <div class="right"><em>{%s util.StringPlural(len(df), "difference") %}</em></div>
            {%- endif -%}
            {%= components.ExpandCollapse(3, ps) %}
            {%= components.SVGRef(util.Choose(sch == nil, "times", "check"), 16, 16, "icon", ps) %}
            {%s x.Name %}
          </label>
          <div class="bd"><div><div>
            {%= RenderEnum(p.BaseURL + "/export/enums", x, sch, res, df, ps) %}
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`list`, ps) %} {%s util.StringPlural(len(p.Args.Models), "Model") %}</h3>
    <div class="mt">
      <ul class="accordion">
        {%- for _, x := range p.Args.Models -%}
        {%- code sch := p.Collection.GetSchema(x.ID()) -%}
        {%- code res := p.Results.Models.Get(x.Name) -%}
        {%- code df := util.DiffObjects(x, res) -%}
        <li>
          <input id="accordion-model-{%s x.Name %}" type="checkbox" hidden="hidden" />
          <label for="accordion-model-{%s x.Name %}">
            {%- if len(df) > 0 -%}
            <div class="right"><em>{%s util.StringPlural(len(df), "difference") %}</em></div>
            {%- endif -%}
            {%= components.ExpandCollapse(3, ps) %}
            {%= components.SVGRef(util.Choose(sch == nil, "times", "check"), 16, 16, "icon", ps) %}
            {%s x.Name %}
          </label>
          <div class="bd"><div><div>
            {%= RenderModel(p.BaseURL + "/export/models", x, sch, res, df, ps) %}
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  {%- code ex := p.Unrelated -%}
  {%- if len(ex) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`cog`, ps) %} {%s util.StringPlural(len(ex), "Extra") %}</h3>
    <div class="mt">
      <ul class="accordion">
        {%- for _, sch := range ex -%}
        <li>
          <input id="accordion-extra-{%s sch.ID() %}" type="checkbox" hidden="hidden" />
          <label for="accordion-extra-{%s sch.ID() %}">{%= components.ExpandCollapse(3, ps) %} {%s sch.ID() %}</label>
          <div class="bd"><div><div>
            {%- code res := p.Results.Models.Get(sch.ID()) -%}
            {%= RenderExtra(as, sch, res, ps) %}
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  {%- endif -%}
{% endfunc %}

{% func RenderExtra(as *app.State, sch *jsonschema.Schema, result any, ps *cutil.PageState) %}
  <div class="flex" style="">
    <div class="flex-item">
      <strong>Original</strong>
      <pre class="mt">null</pre>
    </div>
    <div class="flex-item">
      <strong>Schema</strong>
      <pre class="mt">{%s util.ToJSON(sch) %}</pre>
    </div>
    <div class="flex-item">
      <strong>Result</strong>
      <pre class="mt">{%s util.ToJSON(result) %}</pre>
    </div>
  </div>
{% endfunc %}
