{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/jsonschema"
  "projectforge.dev/projectforge/app/lib/metamodel"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type CollectionDetail struct {
  layout.Basic
  BaseURL string
  Args *metamodel.Args
  Collection *jsonschema.Collection
  Unrelated jsonschema.Schemas
  OldResults *metamodel.Args
  NewResults *metamodel.Args
} %}

{% func (p *CollectionDetail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="{%s p.BaseURL %}/export/jsonschema/write">
        <button>{%= components.SVGButton("file", ps) %} Write Schema</button>
      </a>
    </div>
    <h3>{%= components.SVGIcon(`table`, ps) %} {%s ps.Title %}</h3>
  </div>
  {%= p.RenderEnums(as, ps) %}
  {%= p.RenderModels(as, ps) %}
  {%= p.RenderExtra(as, ps) %}
{% endfunc %}

{% func (p *CollectionDetail) RenderEnums(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`hammer`, ps) %} {%s util.StringPlural(len(p.Args.Enums), "Enum") %}</h3>
    <div class="mt">
      <ul class="accordion">
        {%- for _, x := range p.Args.Enums -%}
        {%- code sch := p.Collection.GetSchema(x.ID()) -%}
        {%- code oldRes := p.OldResults.Enums.Get(x.Name) -%}
        {%- code newRes := p.NewResults.Enums.Get(x.Name) -%}
        {%- code oldDiffs := util.DiffObjects(x, oldRes) -%}
        {%- code newDiffs := util.DiffObjects(x, newRes) -%}
        <li>
          <input id="accordion-enum-{%s x.Name %}" type="checkbox" hidden="hidden" />
          <label for="accordion-enum-{%s x.Name %}">
            {%- if (len(oldDiffs) + len(newDiffs)) > 0 -%}
            <div class="right"><em>{%s util.StringPlural(len(oldDiffs) + len(newDiffs), "difference") %}</em></div>
            {%- endif -%}
            {%= components.ExpandCollapse(3, ps) %}
            {%= components.SVGRef(util.Choose(sch == nil, "times", "check"), 16, 16, "icon", ps) %}
            {%s x.Name %}
          </label>
          <div class="bd"><div><div>
            {%= RenderResult(p.BaseURL + "/export/enums", x, sch, oldRes, oldDiffs, newRes, newDiffs, ps) %}
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{% endfunc %}

{% func (p *CollectionDetail) RenderModels(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`list`, ps) %} {%s util.StringPlural(len(p.Args.Models), "Model") %}</h3>
    <div class="mt">
      <ul class="accordion">
        {%- for _, x := range p.Args.Models -%}
        {%- code sch := p.Collection.GetSchema(x.ID()) -%}
        {%- code oldRes := p.OldResults.Models.Get(x.Name) -%}
        {%- code newRes := p.NewResults.Models.Get(x.Name) -%}
        {%- code oldDiffs := util.DiffObjects(x, oldRes) -%}
        {%- code newDiffs := util.DiffObjects(x, newRes) -%}
        <li>
          <input id="accordion-model-{%s x.Name %}" type="checkbox" hidden="hidden" />
          <label for="accordion-model-{%s x.Name %}">
            {%- if (len(oldDiffs) + len(newDiffs)) > 0 -%}
            <div class="right"><em>{%s util.StringPlural(len(oldDiffs) + len(newDiffs), "difference") %}</em></div>
            {%- endif -%}
            {%= components.ExpandCollapse(3, ps) %}
            {%= components.SVGRef(util.Choose(sch == nil, "times", "check"), 16, 16, "icon", ps) %}
            {%s x.Name %}
          </label>
          <div class="bd"><div><div>
            {%= RenderResult(p.BaseURL + "/export/models", x, sch, oldRes, oldDiffs, newRes, newDiffs, ps) %}
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
{% endfunc %}

{% func (p *CollectionDetail) RenderExtra(as *app.State, ps *cutil.PageState) %}
  {%- code ex := p.Unrelated -%}
  {%- if len(ex) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGIcon(`cog`, ps) %} {%s util.StringPlural(len(ex), "Extra") %}</h3>
    <div class="mt">
      <ul class="accordion">
        {%- for _, sch := range ex -%}
        <li>
          <input id="accordion-extra-{%s sch.ID() %}" type="checkbox" hidden="hidden" />
          <label for="accordion-extra-{%s sch.ID() %}">{%= components.ExpandCollapse(3, ps) %} {%s sch.ID() %}</label>
          <div class="bd"><div><div>
            {%- code res := p.OldResults.Models.Get(sch.ID()) -%}
            <div class="flex">
              <div class="flex-item">
                <strong>Schema</strong>
                <div class="mt">{%= components.JSON(sch) %}</div>
              </div>
              <div class="flex-item">
                <strong>Result</strong>
                <div class="mt">{%= components.JSON(res) %}</div>
              </div>
            </div>
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  {%- endif -%}
{% endfunc %}
