{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/jsonschema"
  "projectforge.dev/projectforge/app/lib/metamodel/model"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type ModelDetail struct {
  layout.Basic
  BaseURL string
  Model *model.Model
  Collection *jsonschema.Collection
  Result *model.Model
} %}

{% func (p *ModelDetail) Body(as *app.State, ps *cutil.PageState) %}
  {%- code x := p.Model -%}
  <div class="card">
    {%- code sch := p.Collection.GetSchema(x.ID()) -%}
    {%- code df := util.DiffObjects(x, p.Result) -%}
    {%- if len(df) > 0 -%}
    <div class="right">
      {%s util.StringPlural(len(df), "difference") %}
    </div>
    {%- endif -%}
    <h3>{%= components.SVGIcon(`table`, ps) %} [{%s x.Name %}] JSON Schema</h3>
    {%= RenderModel(p.BaseURL, x, sch, p.Result, df, ps) %}
  </div>
{% endfunc %}

{% func RenderModel(baseURL string, x *model.Model, sch *jsonschema.Schema, result *model.Model, df util.Diffs, ps *cutil.PageState) %}
  <div class="flex">
    <div class="flex-item">
      <a href="{%s baseURL %}/{%s x.Name %}"><strong>Original</strong></a>
      <pre class="mt">{%s util.ToJSON(x) %}</pre>
    </div>
    <div class="flex-item">
      <strong>Result</strong>
      <pre class="mt">{%s util.ToJSON(result) %}</pre>
    </div>
  </div>
  <div class="flex">
    <div class="flex-item">
      <strong>Schema</strong>
      <pre class="mt">{%s util.ToJSON(sch) %}</pre>
    </div>
    <div class="flex-item">
      <strong>Diff</strong>
      <pre class="mt">{%s util.ToJSON(df) %}</pre>
    </div>
  </div>
{% endfunc %}
