{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/jsonschema"
  "projectforge.dev/projectforge/app/lib/metamodel/model"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type ModelDetail struct {
  layout.Basic
  BaseURL string
  Model *model.Model
  Collection *jsonschema.Collection
  Result *model.Model
} %}

{% func (p *ModelDetail) Body(as *app.State, ps *cutil.PageState) %}
  {%- code x := p.Model -%}
  <div class="card">
    {%- code sch := p.Collection.GetSchema(x.ID()) -%}
    {%- code df := util.DiffObjects(x, p.Result) -%}
    {%- if len(df) > 0 -%}
    <div class="right">
      {%s util.StringPlural(len(df), "difference") %}
    </div>
    {%- endif -%}
    <h3>{%= components.SVGIcon(`table`, ps) %} [{%s x.Name %}] JSON Schema</h3>
    {%= RenderResult(p.BaseURL, x, sch, p.Result, df, nil, nil, ps) %}
  </div>
{% endfunc %}
