{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/jsonschema"
  "projectforge.dev/projectforge/app/lib/jsonschema/validation"
	"projectforge.dev/projectforge/app/lib/metamodel"
	"projectforge.dev/projectforge/app/lib/metamodel/metaschema"
  "projectforge.dev/projectforge/app/util"
  "projectforge.dev/projectforge/views/components"
  "projectforge.dev/projectforge/views/components/view"
  "projectforge.dev/projectforge/views/layout"
  "projectforge.dev/projectforge/views/vexport"
) %}

{% code type SchemaDetail struct {
  layout.Basic
  Schema *metaschema.SchemaTestFile
  ShowContent bool
} %}

{% func (p *SchemaDetail) Body(as *app.State, ps *cutil.PageState) %}
  {%- code sch := p.Schema -%}
  <div class="card">
    <div class="right"><a href="#modal-schema"><button type="button">{%= components.SVGButton("code", ps) %} Schema JSON</button></a></div>
    <h3>{%= components.SVGIcon(`paperclip`, ps) %} {%s sch.Filename %}</h3>
    {%- if sch.Error != "" -%}
    <div class="mt error">{%s sch.Error %}</div>
    {%- endif -%}
    {%- if _, valErr := validation.Validate(sch.Schema); valErr != nil -%}
    <div class="mt error">{%s valErr.Error() %}</div>
    {%- endif -%}
    <div class="mt">
      <ul class="accordion">
        {%= renderSchemaPanel(as, sch.Schema, ps) %}
        {%= renderContentPanel(as, sch.Content, ps) %}
        {%= renderCollectionPanel(as, sch.Collection, ps) %}
        {%= renderArgsPanel(as, sch.Args, sch.ArgsLogs, ps) %}
      </ul>
    </div>
  </div>
  {%= components.JSONModal("schema", "Schema", sch.Schema, 1) %}
{% endfunc %}

{% func renderSchemaPanel(as *app.State, sch *jsonschema.Schema, ps *cutil.PageState) %}
  <li>
    <input id="accordion-schema" type="checkbox" hidden />
    <label for="accordion-schema">
      {%- if sch != nil -%}
      <div class="right"><em>{%s sch.Summary() %}</em></div>
      {%- endif -%}
      {%= components.ExpandCollapse(3, ps) %} {%= components.SVGRef("paperclip", 16, 16, "icon", ps) %} Schema
    </label>
    <div class="bd"><div><div>
      {%- if sch == nil -%}
      <em>no schema found</em>
      {%- else -%}
      {%= view.JSONSchema(sch, ps) %}
      {%- endif -%}
    </div></div></div>
  </li>
{% endfunc %}

{% func renderContentPanel(as *app.State, c string, ps *cutil.PageState) %}
  <li>
    <input id="accordion-content" type="checkbox" hidden />
    <label for="accordion-content">
      <div class="right"><em>{%s util.ByteSizeSI(int64(len(c))) %}</em></div>
      {%= components.ExpandCollapse(3, ps) %} {%= components.SVGRef("code", 16, 16, "icon", ps) %} Content
    </label>
    <div class="bd"><div><div>
      {%= components.JSON([]byte(c)) %}
    </div></div></div>
  </li>
{% endfunc %}

{% func renderCollectionPanel(as *app.State, coll *jsonschema.Collection, ps *cutil.PageState) %}
  <li>
    <input id="accordion-collection" type="checkbox" hidden />
    <label for="accordion-collection">
      {%= components.ExpandCollapse(3, ps) %} {%= components.SVGRef("cog", 16, 16, "icon", ps) %} Collection
    </label>
    <div class="bd"><div><div>
      <ul class="accordion bl">
        {%- for idx, x := range coll.Schemas() -%}
        <li>
          {%- code itemKey := util.RandomID() %}
          <input id="accordion-collection-{%s itemKey %}" type="checkbox" hidden />
          <label for="accordion-collection-{%s itemKey %}">
            <div class="right"><em>{%s x.Summary() %}</em></div>
            {%= components.ExpandCollapse(3, ps) %} {%= components.SVGRef("cog", 16, 16, "icon", ps) %}
            <code>{%d idx %}</code> {%s x.ID() %}
          </label>
          <div class="bd"><div><div>
            {%= view.JSONSchema(x, ps) %}
          </div></div></div>
        </li>
        {%- endfor -%}
      </ul>
    </div></div></div>
  </li>
{% endfunc %}

{% func renderArgsPanel(as *app.State, args *metamodel.Args, argsLogs []string, ps *cutil.PageState) %}
  <li>
    <input id="accordion-args" type="checkbox" hidden />
    <label for="accordion-args">
      {%= components.ExpandCollapse(3, ps) %} {%= components.SVGRef("cog", 16, 16, "icon", ps) %} Args
    </label>
    <div class="bd"><div><div>
      {%= vexport.ArgsDetail(as, util.RandomID(), args, argsLogs, ps) %}
    </div></div></div>
  </li>
{% endfunc %}
