{% import (
  "projectforge.dev/projectforge/app"
  "projectforge.dev/projectforge/app/controller/cutil"
  "projectforge.dev/projectforge/app/lib/theme"
  "projectforge.dev/projectforge/views/layout"
) %}

{% code type Add struct {
  layout.Basic
  Project string
  Palette string
  Themes theme.Themes
  Title string
} %}

{% func (p *Add) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if p.Project == "" -%}
    <h3>Add Themes</h3>
    {%- else -%}
    <h3>Set theme for project [{%s p.Project %}]</h3>
    {%- endif -%}
    <form action="/theme" method="post">
      <input type="hidden" name="palette" value="{%s p.Palette %}" />
      <table class="mt">
        <tbody>
          {%- for _, t := range p.Themes -%}
          <tr>
            {%- if p.Project == "" -%}
            <th class="shrink"><input type="checkbox" id="{%s t.Key %}" name="{%s t.Key %}" value="true" /></th>
            {%- endif -%}
            <th>
              <label for="{%s t.Key %}">{%s t.Key %}</label>
              {%- if p.Project == "" -%}
              <a href="/theme/preview/{%s p.Palette %}/{%s t.Key %}">Preview</a>
              {%- else -%}
              <a href="/theme/preview/{%s p.Palette %}/{%s t.Key %}?project={%s p.Project %}">Set</a>
              {%- endif -%}
            </th>
            <th class="shrink" style="background-color: #ffffff; padding: 12px 36px;">{%= MockupColors(p.Title, "", t.Light, true, 5, ps) %}</th>
            <th class="shrink" style="background-color: #121212; padding: 12px 36px;">{%= MockupColors(p.Title, "", t.Dark, true, 5, ps) %}</th>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </form>
  </div>
{% endfunc %}
