<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/projectforge/app"
  "github.com/kyleu/projectforge/app/controller/cutil"
  "github.com/kyleu/projectforge/app/lib/theme"
  "github.com/kyleu/projectforge/views/components"
  "github.com/kyleu/projectforge/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Themes theme.Themes
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/theme/new" title="add new theme">{%= components.SVGRefIcon(`plus`, ps) %}</a></div>
    <h3>Themes</h3>
    <div class="theme-container mt">
      {%- for _, t := range p.Themes -%}
      <div class="theme-item">
        <a href="/theme/{%u t.Key %}">{%= MockupTheme(t, true, 3, ps) %}</a>
      </div>
      {%- endfor -%}
    </div>
  </div>
{% endfunc %}
